html,
body {
  width: 100%;
  min-width: 320px;
  @include type-set(
    (
      size: $var-body-font-size,
      leading: $var-body-line-height,
      font: $body-font-family,
      weight: $body-font-weight,
      align: inital,
    )
  );
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 100vh;
  accent-color: $var-color-primary;
}

html {
  scroll-behavior: smooth;
}

body {
  word-wrap: break-word;
  scrollbar-width: thin;
  scrollbar-color: $var-color-neutral transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $body-scrollbar-track-background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $body-scrollbar-thumb-background;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $body-scrollbar-thumb-background-hover;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

::-moz-selection {
  background-color: $body-selection-background;
  color: $body-selection-color;
}
::selection {
  background-color: $body-selection-background;
  color: $body-selection-color;
}

:where(img, svg, input, textarea, fieldset, legend, select, button) {
  max-width: 100%;
}

:where(img, svg) {
  height: auto;
}

:where(fieldset) {
  min-width: 0;
  resize: none;
}

/* outlines look ugly eew */
:where(*, :focus, :hover, :active) {
  outline: none;
}

/* embed shits */
:where(iframe, object, embed) {
  max-width: 100% !important;
}

[disabled],
:disabled {
  @include dump-styles(disabled);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox 25*/
}
