
/*** SCAFFOLDING ***/
$prefix: '.body';

html,
body {
  width: 100%;
  min-width: 320px;
  @include type-set(
    (
      size: $body-font-size,
      font: $body-font-family,
      weight: $body-font-weight,
      leading: $body-line-height,
    )
  );
  min-height: 100vh;
}

body {
  word-wrap: break-word;
  scrollbar-width: thin;
  scrollbar-color: $var-color-neutral transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $var-color-neutral;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $var-color-neutral;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

::-moz-selection {
  background-color: $body-scrollbar-background;
  color: $body-scrollbar-color;
}
::selection {
  background-color: $body-scrollbar-background;
  color: $body-scrollbar-color;
}

body {
  text-align: left;
}

/* SUPER GLOBAL STYLE FIXES */

img,
svg {
  max-width: 100%;
  height: auto;
}

iframe,
object,
embed {
  max-width: 100% !important;
}

/* IE7 */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox 25*/
}

input,
textarea,
fieldset,
legend,
select,
option,
button {
  // background:none;
  // -webkit-border-radius: 0;
  // border-radius: 0;
  // border: none;
  margin: 0;
  // font: inherit;
  // line-height: inherit;
  // color: inherit;
}

input,
textarea,
fieldset,
legend,
select,
button {
  max-width: 100%;
}

fieldset {
  min-width: 0;
  resize: none;
}

button {
  // margin:0;
  // padding:0;
  outline: 0;
  // border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}


[disabled] {
  @include dump-styles(disabled);
}
