/*** LAYOUTING CONTAINERS AND SHIT ***/
	/* CONTAINER */
		$prefix: '.container';
		#{$prefix} {

			&,&-fluid {
				@extend %for-cf;
			}
			& {
				width:100%;
				padding-left: $container-gutter;
				padding-right: $container-gutter;
				margin: 0 auto;
				max-width: $container-max-width;
			}

			&#{$prefix}-fluid {
				max-width: none;
			}

			@include br($mobile-br-max-polar) {
				&#{$prefix}-wide {
					padding-left: $container-gutter-wide;
					padding-right: $container-gutter-wide;
				}
				&#{$prefix}-slim {
					padding-left: $container-gutter-slim;
					padding-right: $container-gutter-slim;
				}
			}

			@include br(#{$mobile-br-max}-max) {
				padding-left: $container-gutter-mobile;
				padding-right: $container-gutter-mobile;
				max-width: $container-max-width-mobile;
			}
		}



