/*** input calendar ***/




$calculated-input-calendar-days-font-size: $input-calendar-days-font-size;
@if internal-is-convertable($input-calendar-days-font-size,$input-font-size) {
	$calculated-input-calendar-days-font-size: em($input-calendar-days-font-size / $input-font-size)
}@else if internal-is-convertable($input-calendar-days-font-size){
	$calculated-input-calendar-days-font-size: rem($input-calendar-days-font-size/$body-font-size);
}
	

$calculated-input-info-gutter-y: $input-info-gutter-y;
@if internal-is-convertable($input-info-gutter-y) {
	$calculated-input-info-gutter-y: em($input-info-gutter-y / $input-info-font-size)
}

	$calculated-input-calendar-block-gutter-x: $input-calendar-block-gutter-x;
	@if internal-is-convertable($input-calendar-block-gutter-x,$input-font-size){
		$calculated-input-calendar-block-gutter-x: em($input-calendar-block-gutter-x/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-x){
		$calculated-input-calendar-block-gutter-x: rem($input-calendar-block-gutter-x/$body-font-size);
	}

	$calculated-input-calendar-block-gutter-y: $input-calendar-block-gutter-y;
	@if internal-is-convertable($input-calendar-block-gutter-y,$input-font-size){
		$calculated-input-calendar-block-gutter-y: em($input-calendar-block-gutter-y/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-y){
		$calculated-input-calendar-block-gutter-y: rem($input-calendar-block-gutter-y/$body-font-size);
	}


	$calculated-input-calendar-block-gutter-x-mobile: $input-calendar-block-gutter-x-mobile;
	@if internal-is-convertable($input-calendar-block-gutter-x-mobile,$input-font-size){
		$calculated-input-calendar-block-gutter-x-mobile: em($input-calendar-block-gutter-x-mobile/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-x-mobile){
		$calculated-input-calendar-block-gutter-x-mobile: rem($input-calendar-block-gutter-x-mobile/$body-font-size);
	}

	$calculated-input-calendar-block-gutter-y-mobile: $input-calendar-block-gutter-y-mobile;
	@if internal-is-convertable($input-calendar-block-gutter-y-mobile,$input-font-size){
		$calculated-input-calendar-block-gutter-y-mobile: em($input-calendar-block-gutter-y-mobile/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-y-mobile){
		$calculated-input-calendar-block-gutter-y-mobile: rem($input-calendar-block-gutter-y-mobile/$body-font-size);
	}


	/*** input ***/


/* input clasees */
$prefix: '.input';


$calculated-calendar-exception: '';

@each $tag,$color in $calculated-tag-schemes-color {
	$calculated-calendar-exception: #{$calculated-calendar-exception+':not(' + $prefix +'-'+$tag+')'};
}

#{$prefix} {

		&-calendar {

			&-ui {
				@extend %for-form-input-boxy !optional;
				@extend %for-form-input-boxy-and-group !optional;
				min-width: 20em;
			}


			//components of component
			& {
				@extend %for-form-input-ui-control !optional;
	

				&-ui {
					vertical-align: top;
					text-align:center;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
						user-select: none;
					
					&-block {
						padding:$calculated-input-calendar-block-gutter-y $calculated-input-calendar-block-gutter-x;
						text-align: center;
						display:block;
						white-space:nowrap;
						position:relative;
						color: inherit;

						&,&:after {
							border-radius: $input-calendar-block-border-radius;
						}

						> span {
							display:block;
							margin:0 ($calculated-input-calendar-block-gutter-x * -1);
						}

						&-adjacent {
							opacity: .125!important;
							pointer-events:none!important;

							// &:hover,&:focus,&.focus {
							// 	opacity:1!important;
							// }
						}

						// 	content:"";
						// 	padding-bottom:100%;
						// }

						// &-content {
						// 	position: absolute;
						// 	top:0;
						// 	bottom:0;
						// 	left:0;
						// 	right:0;
						// }
					}

					&-date {
						position:relative;
						z-index:1;
						overflow:hidden;

						&:after,span{
							pointer-events:none;
						}

						&:after{
							content:"";
							z-index:-1;
							background: currentColor;
							display:block;
							position:absolute;
							top:0;
							left:0;
							right:0;
							margin:auto;
							width:100%;
							max-width: 4em;
							height:100%;
							opacity:0;

						}

						&.disabled {
							&:after {
								opacity:0;
							}
						}

						&:hover,
						&:focus,
						&.focus {
							color:inherit;
							// background: $input-calendar-date-hover-background;

							&:after {
								opacity: .2;
							}

							span {
								color: $input-calendar-date-hover-color;
							}
						}
						&.active{
							&,&:hover {
								// background: $input-calendar-date-active-background;
								&:after {
									opacity: 1;
									@at-root #{$prefix +'-calendar-ui' + $calculated-calendar-exception} & {
										background: $input-calendar-date-active-background;
									}
								}

								span {
									color: $input-calendar-date-active-color;
								}
							}
						}
					}

					&-grid {
						padding-bottom:$calculated-input-calendar-block-gutter-y;
					}
					&-days,
					&-dates,
					&-heading {
						justify-content: space-evenly;
						display:grid;
						// grid-template-columns: repeat(7, minmax(min-content,1fr));
						grid-template-columns: repeat(7, 1fr);
						grid-gap: $input-calendar-gap;
					}

					&-input {
						margin-bottom: $calculated-input-calendar-block-gutter-y;
						padding-bottom: $calculated-input-calendar-block-gutter-y;
						margin-left:$calculated-input-gutter-x * -1;
						margin-right:$calculated-input-gutter-x * -1;
						margin-top: $calculated-value-input-paddiny-y-negative;
						position:relative;

						&:last-child {
						margin-bottom: calc( ( (#{ $calculated-input-height } - (#{$calculated-input-single-line}) ) * .5) * -1 );

							&:after {
								content:none;
							}
						}

						#{$prefix}-small & {
							margin-top: $calculated-value-input-paddiny-y-small-negative;
							position:relative;

							&:last-child {
								margin-bottom: calc( ( (#{ $calculated-input-height-small } - (#{$calculated-input-single-line}) ) * .5) * -1 );
							}
						}

						#{$prefix}-large & {
							margin-top: $calculated-value-input-paddiny-y-large-negative;
							position:relative;

							&:last-child {
								margin-bottom: calc( ( (#{ $calculated-input-height-large } - (#{$calculated-input-single-line}) ) * .5) * -1 );
							}
						}

						&:after {
							content:"";
							display:block;
							height:$input-border-width;
							width:100%;
							background: currentColor;
							opacity: .25;
						}
						
						input {
							border-bottom-left-radius:0!important;
							border-bottom-right-radius:0!important;
							border-width:0;
							width:100%;

							&:not(.focus):not(:focus):not(.active):not(:active) {
								@extend %for-no-shadow-important !optional;
							}
						}
					}

					&-heading {
						padding-top:$calculated-input-calendar-block-gutter-y;
						padding-bottom:$calculated-input-calendar-block-gutter-y;
						position:relative;
					}

					&-button{
						color:inherit;


						&:hover {
							color: $input-calendar-date-heading-button-color-hover;
						}
					}
					&-block,
					&-button{


						&.disabled,
						.input-disabled & {
							&,
							&:hover,
							&:focus,
							&.focus {
								background: none!important;
								color:inherit!important;
							}
						}
						
					}

					&-navigation,&-title{
						grid-row: 1;
					}

					&-prev-year,
					&-prev-month:first-child {
						grid-column: 1;
					}
					&-prev-month {
						grid-column: 2;
					}

					&-next-year,
					&-next-month:nth-last-child(3) {
						grid-column: 7;
					}
					&-next-month {
						grid-column: 6;
					}

					&-title {
						grid-column: 3 / span 3;
					}

					// &-prev-month {

					// 	margin-right: .25em;
					// }
					// &-prev-year {
					// 	margin-right: .75em;
					// }

					// &-next-month {

					// 	margin-left: .25em;
					// }
					// &-next-year {
					// 	margin-left: .75em;
					// }

					&-dropdown {
						max-height: 300px;
						overflow-x:auto;
						overflow-y: scroll;
						@extend %for-no-scrollbar !optional;
					}

					&-days,
					&-dates {
						grid-auto-rows: 1fr;
						
						&:nth-child(n+2) {
							margin-top: $input-calendar-gap;
						}
					}

					&-days {
						margin-bottom:$calculated-input-calendar-block-gutter-y;
						border-bottom: $input-calendar-days-border-width solid;
						opacity: .375;
						font-size: $calculated-input-calendar-days-font-size;
					}

					&-dates {
						// grid-template-rows: repeat(6, 1fr);
						margin-bottom:$calculated-input-calendar-block-gutter-y * .5;
					}
				}

				@include br(#{$mobile-br-max}-max) {
					&-ui {
						&-block {
							padding:$calculated-input-calendar-block-gutter-y-mobile $calculated-input-calendar-block-gutter-x-mobile;
						}
					}
				}
			}
		}
}