
/*** TOGGLES ***/

/* to fix children that dont like their parents events. kinda like neutering them idk */
*[data-toggle]{
    cursor: pointer;
    -webkit-user-select: none!important; /* Safari 3.1+ */
    -moz-user-select: none!important; /* Firefox 2+ */
    -ms-user-select: none!important; /* IE 10+ */
    user-select: none!important; /* Standard syntax */
    *{
        pointer-events: none!important;
    }
}

.accordion {
    &:not(.accordion-mobile):not(.open) {
        // max-height:0;
        // overflow:hidden;
        min-width:100%;
        display:none!important;
        // transition: $transition-duration-long max-height $transition-timing;
        // overflow:hidden;

        // so uh.. needed to use this bitch on tables and tables dont like being display block it shits itself
        // &.open {
        //     // max-height:none;
        //     // overflow:visible;
        //     display:block!important;
        // }
    }

    &#{&}-mobile {

        @include br(#{$mobile-br-max}-max) {

            &:not(.open) {

                // max-height:0;
                // overflow:hidden;
                min-width:100%;
                display:none!important;
                // transition: $transition-duration-long max-height $transition-timing;
                // overflow:hidden;

            }
            // &.open {
            //     // max-height:none;
            //     // overflow:visible;
            //     display:block!important;
            // }
        }

        // @include br(#{$mobile-br-max-polar}) {
        //     // max-height:none;
        //     // overflow:visible;
        //     display:block!important;
        // }
    }
}