
$calculated-symbol-basis: $body-font-size; //so it doesnt look icky whatever custom size is set

$calculated-symbol-glyphs: (
	onep21: \e900,
	play: \e901,
	pause: \e902,
	stop: \e903,
	square: \e903,
	square-outline: \e904,
	checkbox: \e905,
	checkbox-inverse: \e906,
	grid: \e907,
	list: \e908,
	timer: \e909,
	time: \e90a,
	search: \e90b,
	plus: \e90c,
	minus: \e90d,
	check: \e90e,
	close: \e90f,
	thumbs-up: \e910,
	thumbs-up-inverse: \e911,
	thumbs-down: \e912,
	thumbs-down-inverse: \e913,
	star: \e914,
	star-half: \e915,
	star-stroke: \e916,
	kebab-vertical: \e917,
	kebab-horizontal: \e918,
	arrow-up: \e919,
	arrow-down: \e91a,
	arrow-left: \e91b,
	arrow-right: \e91c,
	arrow-double-up: \e91d,
	arrow-double-down: \e91e,
	arrow-double-left: \e91f,
	arrow-double-right: \e920,
	upload: \e921,
	download: \e922,
	arrow-tail-up: \e923,
	arrow-tail-down: \e924,
	arrow-tail-left: \e925,
	arrow-tail-right: \e926,
	caret-up: \e927,
	caret-down: \e928,
	caret-left: \e929,
	caret-right: \e92a,
	text-center: \e92b,
	text-left: \e92c,
	text-right: \e92d,
	text-justify: \e92e,
	map: \e92f,
	calendar: \e930,
	bell: \e931,
	bell-active: \e932,
	hyperlink: \e933,
	dash: \e934,
	caution: \e935,
	error: \e936,
	info: \e937,
	success: \e938,
	stack: \e939,
	clap: \e93a,
	copy: \e93b,
	share: \e93c,
	filter: \e93d,
	chart: \e93e,
	segment: \e93f,
	user: \e940,
	user-add: \e941,
	user-remove: \e942,
	expand: \e943,
	collapse: \e944,
	expand-alt: \e945,
	collapse-alt: \e946,
	burger: \e947,
	fries: \e948,
	waffle: \e949,
	pencil: \e94a,
	edit: \e94b,
	delete: \e94c,
	robot: \e94d,
	file: \e94e,
	clipboard: \e94f,
);

//DEPRECATE
	$calculated-symbol-caret-height:$symbol-caret-height;
	@if internal-is-convertable($symbol-caret-height){
		$calculated-symbol-caret-height: em($calculated-symbol-caret-height / $body-font-size);
	}
	$calculated-symbol-caret-width:$symbol-caret-width;
	@if internal-is-convertable($symbol-caret-width){
		$calculated-symbol-caret-width: em($calculated-symbol-caret-width / $body-font-size);
	}