.position {
  &-relative {
    position: relative !important;
  }
  &-static {
    position: static !important;
  }
  &-absolute {
    position: absolute !important;
  }
  &-fixed {
    position: fixed !important;
  }
  &-sticky {
    position: sticky !important;
  }
}

.offset {
  &-0 {
    @include create-box-helper(#{&}, '', '', '', 0, 'for-offset');
  }
  &-auto {
    @include create-box-helper(#{&}, '', '', '', auto, 'for-offset-auto');
  }
  &-flush {
    @include create-box-helper(#{&}, '', '', '', 100%, 'for-offset-flush');
  }
}

.z-index {
  &-auto {
    z-index: auto !important;
  }
  @include dump-z-index-helpers(
    #{&},
    $z-index-small-helper-multiplier,
    $z-index-small-helper-max
  );
  @include dump-z-index-helpers(#{&}, $z-index-helper-multiplier, $z-index-helper-max);
  @include dump-z-index-helpers(
    #{&},
    $z-index-large-helper-multiplier,
    $z-index-large-helper-max
  );
}
