.font {
  &-family {
    &-primary {
      font-family: $var-font-primary !important;
    }

    &-secondary {
      font-family: $var-font-secondary !important;
    }

    &-accent {
      font-family: $var-font-accent !important;
    }

    &-monospace {
      font-family: $var-font-monospace !important;
    }

    &-inherit {
      font-family: inherit !important;
    }
  }

  &-size {
    &-large {
      --fw-body-font-size: #{$var-body-font-size-large} !important;
    }

    &-small {
      --fw-body-font-size: #{$var-body-font-size-small} !important;
    }

    &-normalize {
      --fw-body-font-size: #{$var-body-font-size-base} !important;
    }
    &-inherit {
      --fw-body-font-size: inherit !important;
    }

    @at-root :is(#{&}-large, #{&}-small, #{&}-normalize, #{&}-inherit) {
      font-size: $var-body-font-size !important;
    }
  }

  &-weight {
    &-100 {
      font-weight: 100 !important;
    }
    &-200 {
      font-weight: 200 !important;
    }
    &-300 {
      font-weight: 300 !important;
    }
    &-400 {
      font-weight: 400 !important;
    }
    &-500 {
      font-weight: 500 !important;
    }
    &-600 {
      font-weight: 600 !important;
    }
    &-700 {
      font-weight: 700 !important;
    }
    &-800 {
      font-weight: 800 !important;
    }
    &-900 {
      font-weight: 900 !important;
    }
    &-inherit {
      font-weight: inherit !important;
    }
  }

  &-style {
    &-italic {
      font-style: italic !important;
    }
    &-oblique {
      font-style: oblique !important;
    }
    &-normal {
      font-style: normal !important;
    }
    &-inherit {
      font-style: inherit !important;
    }
  }
}
