/* TEXT CLASSES */
$prefix: '.text';
#{$prefix} {
  &-leading {
    &-compact {
      line-height: $calculated-body-line-height * $body-line-height-compact-factor !important;
    }

    &-expanded {
      line-height: $calculated-body-line-height * $body-line-height-expanded-factor !important;
    }

    &-normalize {
      line-height: $calculated-body-line-height !important;
    }

    &-inherit {
      line-height: inherit !important;
    }

    &-whole {
      line-height: 1 !important;
    }
  }

  &-align {
    &-center {
      text-align: center !important;
    }
    &-left {
      text-align: left !important;
    }
    &-right {
      text-align: right !important;
    }
    &-justify {
      text-align: justify !important;
    }
    &-inherit {
      text-align: inherit !important;
    }
  }

  &-decoration {
    &-none {
      text-decoration: none !important;
    }
    &-line {
      &-underline {
        text-decoration-line: underline !important;
      }
      &-line-through {
        text-decoration-line: line-through !important;
      }
      &-overline {
        text-decoration-line: overline !important;
      }
    }
    &-style {
      &-solid {
        text-decoration-style: solid !important;
      }
      &-wavy {
        text-decoration-style: wavy !important;
      }
      &-double {
        text-decoration-style: double !important;
      }
      &-wavy {
        text-decoration-style: wavy !important;
      }
    }
  }

  &-transform {
    &-uppercase {
      text-transform: uppercase !important;
    }
    &-lowercase {
      text-transform: lowercase !important;
    }
    &-capitalize {
      text-transform: capitalize !important;
    }
    &-inherit {
      text-transform: inherit !important;
    }

    &-none {
      text-transform: none !important;
    }
  }

  &-vertical-align {
    &-middle {
      vertical-align: middle !important;
    }
    &-baseline {
      vertical-align: baseline !important;
    }
    &-top {
      vertical-align: top !important;
    }
    &-bottom {
      vertical-align: bottom !important;
    }
    &-text-top {
      vertical-align: text-top !important;
    }
    &-text-bottom {
      vertical-align: text-bottom !important;
    }
    &-sub {
      vertical-align: sub !important;
    }
    &-super {
      vertical-align: super !important;
    }
    &-inherit {
      vertical-align: inherit !important;
    }
  }

  &-nowrap {
    white-space: nowrap !important;
  }

  &-wrap {
    white-space: normal !important;

    &-break {
      word-break: break-word !important;
      overflow-wrap: break-word !important;
    }

    &-ellipsis {
      @include dump-styles(text-ellipsis-single);

      /* gotta be block otherwise shit wont happen */
      display: block;
      max-width: 100% !important;

      &-multiple {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: $body-ellipsis-multiple-factor !important;
        -webkit-box-orient: vertical !important;
        height: calc(
          (#{$calculated-body-single-line}) * #{$body-ellipsis-multiple-factor}
        );

        #{$prefix}-leading-compact &,
        &#{$prefix}-leading-compact {
          height: calc(
            (#{$calculated-body-single-line} * #{$body-line-height-compact-factor}) * #{$body-ellipsis-multiple-factor}
          );
        }
        #{$prefix}-leading-expanded &,
        &#{$prefix}-leading-expanded {
          height: calc(
            (#{$calculated-body-single-line} * #{$body-line-height-expanded-factor}) * #{$body-ellipsis-multiple-factor}
          );
        }
      }
    }
  }

  &-clip-background {
    @supports not (-webkit-background-clip: text) {
      background: transparent !important;
      color: $var-color-primary !important;
    }

    @supports (-webkit-background-clip: text) {
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
  }
}
