.position {
  &-relative {
    position: relative !important;
  }
  &-static {
    position: static !important;
  }
  &-absolute {
    position: absolute !important;
  }
  &-fixed {
    position: fixed !important;
  }
  &-sticky {
    position: sticky !important;
  }
}

.offset {
  & {
    @include create-box-helper(#{&}, '', '', '', $var-gutter-base);
    @include create-box-helper(#{&}, 'negate', '', '', calc(#{$var-gutter-base} * -1));
  }
  &-large {
    @include create-box-helper(#{&}, '', '', '', $var-gutter-large);
    @include create-box-helper(#{&}, 'negate', '', '', calc(#{$var-gutter-large} * -1));
  }
  &-small {
    @include create-box-helper(#{&}, '', '', '', $var-gutter-small);
    @include create-box-helper(#{&}, 'negate', '', '', calc(#{$var-gutter-small} * -1));
  }
  &-micro {
    @include create-box-helper(#{&}, '', '', '', $var-gutter-micro);
    @include create-box-helper(#{&}, 'negate', '', '', calc(#{$var-gutter-micro} * -1));
  }
  &-0 {
    @include create-box-helper(#{&}, '', '', '', 0);
  }
  &-auto {
    @include create-box-helper(#{&}, '', '', '', auto);
  }
  &-flush {
    @include create-box-helper(#{&}, '', '', '', 100%);
  }
}

.z-index {
  &-auto {
    z-index: auto !important;
  }
  @include dump-z-index-helpers(
    #{&},
    $z-index-helper-multiplier-small,
    $z-index-helper-max-small
  );
  @include dump-z-index-helpers(#{&}, $z-index-helper-multiplier, $z-index-helper-max);
  @include dump-z-index-helpers(
    #{&},
    $z-index-helper-multiplier-large,
    $z-index-helper-max-large
  );
}
