
.only-lg {
	display: none !important;
}

.only-md {
	display: none !important;
}

.only-sm {
	display: none !important;
}

.only-xs {
	display: none !important;
}

@include breakpoint(lg) {
	.only-lg {
		display: block !important;
	}

	.hide-lg {
		display: none !important;
	}
}

@include breakpoint((md, md-max)) {
	.only-md {
		display: block !important;
	}

	.hide-md {
		display: none !important;
	}
}

@include breakpoint((sm, sm-max)) {
	.only-sm {
		display: block !important;
	}

	.hide-sm {
		display: none !important;
	}
}

@include breakpoint(xs-max) {
	.only-xs {
		display: block !important;
	}

	.hide-xs {
		display: none !important;
	}
}

.only-mobile {
	display: none !important;
}

.only-nonmobile {
	display: none !important;
}
.pointer-reference:not(:hover):not(:focus):not(.focus):not(:active):not(.active):not(.open)
	.hide-idle,
.pointer-reference:hover .only-idle,
.pointer-reference:focus .only-idle,
.pointer-reference.focus .only-idle,
.pointer-reference:active .only-idle,
.pointer-reference.active .only-idle,
.pointer-reference.open .only-idle,
.pointer-reference:hover .only-not-hover,
.pointer-reference:hover .hide-hover,
.pointer-reference:not(:hover) .only-hover,
.pointer-reference:not(:hover) .hide-not-hover,
.pointer-reference:focus .only-not-focus,
.pointer-reference:focus .hide-focus,
.pointer-reference:not(:focus):not(.focus) .only-focus,
.pointer-reference:not(:focus):not(.focus) .hide-not-focus,
.pointer-reference.active .only-not-active,
.pointer-reference:active .only-not-active,
.pointer-reference.active .hide-active,
.pointer-reference:active .hide-active,
.pointer-reference:not(:active):not(.active) .only-active,
.pointer-reference:not(:active):not(.active) .hide-not-active,
.pointer-reference.active .only-not-toggle,
.pointer-reference.open .only-not-toggle,
.pointer-reference.active .hide-toggle,
.pointer-reference.open .hide-toggle,
.pointer-reference:not(.active):not(.open) .only-toggle,
.pointer-reference:not(.active):not(.open) .hide-not-toggle {
	display: none !important;
}

@include breakpoint(#{$mobile-br-max}-max) {
	.only-mobile {
		display: block !important;
	}

	.hide-mobile {
		display: none !important;
	}
}

@include breakpoint(#{$mobile-br-max-polar}) {
	.only-nonmobile {
		display: block !important;
	}

	.hide-nonmobile {
		display: none !important;
	}
}

.sr-only {
	@include dump-styles(hide-js-friendly);
}