.position {
  &-relative {
    position: relative !important;
  }
  &-static {
    position: static !important;
  }
  &-absolute {
    position: absolute !important;
  }
  &-fixed {
    position: fixed !important;
  }
  &-sticky {
    position: sticky !important;
  }
}

.offset {
  &,
  &-y,
  &-top {
    &-0 {
      top: 0;
    }
    &-auto {
      top: auto;
    }
    &-flush {
      top: 100%;
    }
  }

  &,
  &-y,
  &-bottom {
    &-0 {
      bottom: 0;
    }
    &-auto {
      bottom: auto;
    }
    &-flush {
      bottom: 100%;
    }
  }

  &,
  &-x,
  &-left {
    &-0 {
      left: 0;
    }
    &-auto {
      left: auto;
    }
    &-flush {
      left: 100%;
    }
  }

  &,
  &-x,
  &-right {
    &-0 {
      right: 0;
    }
    &-auto {
      right: auto;
    }
    &-flush {
      right: 100%;
    }
  }
}

.z-index {
  &-auto {
    z-index: auto!important;
  }
  @for $i from 0 through ($z-index-helper-max){
    $i: $i * $z-index-helper-multiplier;
    &-#{$i} {
      z-index: $i !important;
    }

  }
}
