$prefix: '.svg';
#{$prefix} {
  &-gradient {
    &-start {
      stop-color: $svg-gradient-color-start;
    }
    &-end {
      stop-color: $svg-gradient-color-end;
    }
  }
}

.stop-color {
  // Theme
  @each $color, $var in $_fwc-theme-colors-color {
    @include create-state-helper(#{&}-#{$color}, stop-color, $var);
  }

  //current
  @include create-state-helper(#{&}-currentColor, stop-color, currentColor);

  //none
  @include create-state-helper(#{&}-none, stop-color, transparent);

  //godspeed bro
  @include dump-palette-helpers(stop-color);
}

.fill {
  // Theme
  @each $color, $var in $_fwc-theme-colors-color {
    @include create-state-helper(#{&}-#{$color}, fill, $var);
  }

  //current
  @include create-state-helper(#{&}-currentColor, fill, currentColor);

  //none
  @include create-state-helper(#{&}-none, fill, none);

  //godspeed bro
  @include dump-palette-helpers(fill);
}

.stroke {
  // Theme
  @each $color, $var in $_fwc-theme-colors-color {
    @include create-state-helper(#{&}-#{$color}, stroke, $var);
  }

  //current
  @include create-state-helper(#{&}-currentColor, stroke, currentColor);

  //none
  @include create-state-helper(#{&}-none, stroke, none);

  @include dump-palette-helpers(stroke);
}
