.only-lg {
  display: none !important;
}

.only-md {
  display: none !important;
}

.only-sm {
  display: none !important;
}

.only-xs {
  display: none !important;
}

@include breakpoint(lg) {
  .only-lg {
    display: block !important;
  }

  .hide-lg {
    display: none !important;
  }
}

@include breakpoint((md, md-max)) {
  .only-md {
    display: block !important;
  }

  .hide-md {
    display: none !important;
  }
}

@include breakpoint((sm, sm-max)) {
  .only-sm {
    display: block !important;
  }

  .hide-sm {
    display: none !important;
  }
}

@include breakpoint(xs-max) {
  .only-xs {
    display: block !important;
  }

  .hide-xs {
    display: none !important;
  }
}

.only-mobile {
  display: none !important;
}

.only-nonmobile {
  display: none !important;
}

.pointer-reference {
  &:not(:is(:hover, :focus, .focus, :active, .active, .open)) .hide-idle,
  &:is(:hover, :focus, .focus, :active, .active, .open) .only-idle,
  &:hover :is(.only-not-hover, .hide-hover),
  &:not(:hover) :is(.only-hover, .hide-not-hover),
  &:is(:focus, .focus) :is(.only-not-focus, .hide-focus),
  &:not(:is(:focus, .focus)) :is(.only-focus, .hide-not-focus),
  &:is(:active, .active) :is(.only-not-active, .hide-active),
  &:not(:is(:active, .active)) :is(.only-active, .hide-not-active),
  &:is(.active, .open) :is(.only-not-toggle, .hide-toggle),
  &:not(:is(.active, .open)) :is(.only-toggle, .hide-not-toggle) {
    @include dump-styles(hide-js-friendly);
  }
}

@include on-breakpoint(mobile) {
  .only-mobile {
    display: block !important;
  }

  .hide-mobile {
    display: none !important;
  }
}

@include on-breakpoint(nonmobile) {
  .only-nonmobile {
    display: block !important;
  }

  .hide-nonmobile {
    display: none !important;
  }
}

.sr-only {
  @include dump-styles(hide-js-friendly);
}
