.display {
  &-inline-block {
    display: inline-block !important;
  }
  &-inline {
    display: inline !important;
  }
  &-block {
    @include create-state-helper(#{&}, display, block);
  }
  &-none {
    @include create-state-helper(#{&}) {
      display: none !important;
    }
  }
}
