.overflow {
  &,
  &-x {
    &-visible {
      overflow-x: visible !important;
    }
    &-hidden {
      overflow-x: hidden !important;
    }
    @at-root :is(#{&}-scroll, #{&}-overlay, #{&}-clip) {
      //scroll + fallback
      overflow-x: scroll !important;
    }
    &-overlay {
      overflow-x: overlay !important;
    }
    &-clip {
      overflow-x: clip !important;
    }
    &-auto {
      overflow-x: auto !important;
    }
  }

  &,
  &-y {
    &-visible {
      overflow-y: visible !important;
    }
    &-hidden {
      overflow-y: hidden !important;
    }
    @at-root :is(#{&}-scroll, #{&}-overlay, #{&}-clip) {
      //scroll + fallback
      overflow-y: scroll !important;
    }
    &-overlay {
      overflow-y: overlay !important;
    }
    &-clip {
      overflow-y: clip !important;
    }
    &-auto {
      overflow-y: auto !important;
    }
  }
}

.no-scrollbar {
  @include dump-styles(no-scrollbar);
}
