/* FLEX */
.inline-flex {
  display: inline-flex !important;

  &-xs {
    @include br(xs) {
      display: inline-flex !important;
    }
  }

  &-sm {
    @include br(sm) {
      display: inline-flex !important;
    }
  }

  &-md {
    @include br(md) {
      display: inline-flex !important;
    }
  }

  &-lg {
    @include br(lg) {
      display: inline-flex !important;
    }
  }
}

.flex {
  display: flex !important;

  &-xs {
    @include flex(false, xs, true);
  }

  &-sm {
    @include flex(false, sm, true);
  }

  &-md {
    @include flex(false, md, true);
  }

  &-lg {
    @include flex(false, lg, true);
  }

  &-xl {
    @include flex(false, xl, true);
  }

  &-direction {
    &-row {
      flex-direction: row !important;
    }
    &-row-reverse {
      flex-direction: row-reverse !important;
    }
    &-column {
      flex-direction: column !important;
    }
    &-column-reverse {
      flex-direction: column-reverse !important;
    }
    &-inherit {
      flex-direction: inherit !important;
    }
  }

  &-wrap {
    flex-wrap: wrap !important;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  &-wrap-inherit {
    flex-wrap: inherit !important;
  }


  @include dump-flex-increments($flex-max);
}
