
.overflow {
  & {
    &-visible {
      overflow: visible !important;
    }
    &-hidden {
      overflow: hidden !important;
    }
    &-scroll {
      overflow: scroll !important;
    }
    &-overlay {
      overflow: scroll !important;
      overflow: overlay !important;
    }
    &-auto {
      overflow: auto !important;
    }
  }

  &-x {
    &-visible {
      overflow-x: visible !important;
    }
    &-hidden {
      overflow-x: hidden !important;
    }
    &-scroll {
      overflow-x: scroll !important;
    }
    &-overlay {
      overflow-x: scroll !important;
      overflow-x: overlay !important;
    }
    &-auto {
      overflow-x: auto !important;
    }
  }

  &-y {
    &-visible {
      overflow-y: visible !important;
    }
    &-hidden {
      overflow-y: hidden !important;
    }
    &-scroll {
      overflow-y: scroll !important;
    }
    &-overlay {
      overflow-y: scroll !important;
      overflow-y: overlay !important;
    }
    &-auto {
      overflow-y: auto !important;
    }
  }
}

.no-scrollbar {
  @include dump-styles(no-scrollbar);
}