@mixin internal-set-grid-col-width($prepend-sel: '', $gap: null, $nest: true) {
  @for $i from 1 through $grid-units {
    $col-width: 100% * ($i/$grid-units);

    @if $nest == true {
      @at-root & > #{$prepend-sel}-#{$i} {
        // width: ( 100% / $i );
        @if $gap != null {
          flex-basis: calc(#{$col-width} - #{$gap});

          @at-root #{$prefix}-grid-fixed#{&} {
            width: calc(#{$col-width} - #{$gap});
          }
        } @else {
          flex-basis: #{$col-width};

          @at-root #{$prefix}-grid-fixed#{&} {
            width: #{$col-width};
          }
        }

        @at-root #{$prefix}-grid-no-gutter#{$prefix}-grid-fixed#{&},
          #{$prefix}-grid-no-gutter-x#{$prefix}-grid-fixed#{&} {
          width: #{$col-width};
        }
      }
    } @else {
      @at-root #{$prepend-sel}-#{$i} {
        // flex-basis: ( 100% / $i );
        @if $gap != null {
          flex-basis: calc(#{$col-width} - #{$gap});

          #{$prefix}-grid-fixed > & {
            width: calc(#{$col-width} - #{$gap});
          }
        } @else {
          flex-basis: #{$col-width};

          #{$prefix}-grid-fixed > & {
            width: #{$col-width};
          }
        }

        #{$prefix}-grid-no-gutter#{$prefix}-grid-fixed > &,
        #{$prefix}-grid-no-gutter-x#{$prefix}-grid-fixed > & {
          width: #{$col-width};
        }
      }
    }
  }
}
