:root {
  // :where(#{$prefix})
  --fw-fieldset-padding-x: #{$fieldset-padding-x};
  --fw-fieldset-padding-y: #{$fieldset-padding-y};
  --fw-fieldset-background: #{$fieldset-background};
  --fw-fieldset-border-radius: #{$fieldset-border-radius};
}

:is(.fieldset, fieldset, legend, .fieldset-legend) {
  background: var(--fw-fieldset-background);
  border-radius: var(--fw-fieldset-border-radius);
}

:is(.fieldset, fieldset) {
  padding: var(--fw-fieldset-padding-y) var(--fw-fieldset-padding-x);
  position: relative;
  margin-bottom: var(--fw-fieldset-padding-y);
  border-top-left-radius: 0;
  display: block;
  border: none;
  // overflow:hidden;

  #{$prefix}-wrapper {
    padding-bottom: $var-gutter-base;

    &:nth-last-child(n + 2) {
      padding-bottom: $var-gutter-base;
      margin-bottom: $var-gutter-base;
      border-bottom: 1px solid $var-color-neutral-alpha-5;
    }
  }
}

:is(legend, .fieldset-legend) {
  padding: calc(var(--fw-fieldset-padding-y) * 0.75) var(--fw-fieldset-padding-x) 0;
  margin-left: calc(var(--fw-fieldset-padding-x) * -1);
  position: relative;
  top: -1em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
