$sub-prefix: '.input-calendar';

$fwc-calendar-exception: '';

:root {
  // :where(#{$prefix})
  --fw-input-calendar-gap: #{$input-calendar-gap};

  --fw-input-calendar-button-border-radius: #{$input-calendar-button-border-radius};
  --fw-input-calendar-button-border-width: #{$input-calendar-button-border-width};

  --fw-input-calendar-button-background: #{$input-calendar-button-background};
  --fw-input-calendar-button-background-active: #{$input-calendar-button-background-active};
  --fw-input-calendar-button-background-hover: #{$input-calendar-button-background-hover};

  --fw-input-calendar-button-border-color: #{$input-calendar-button-border-color};
  --fw-input-calendar-button-border-color-active: #{$input-calendar-button-border-color-active};
  --fw-input-calendar-button-border-color-hover: #{$input-calendar-button-border-color-hover};

  --fw-input-calendar-button-color: #{$input-calendar-button-color};
  --fw-input-calendar-button-color-active: #{$input-calendar-button-color-active};
  --fw-input-calendar-button-color-hover: #{$input-calendar-button-color-hover};
}

#{$sub-prefix} {
  @extend %fwe-form-global-ui-control !optional;

  &-ui {
    & {
      vertical-align: top;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      min-width: 20em;
    }

    &-block {
      padding: calc(
          (
              (var(--fw-input-height) - (var(--fw-input-border-width) * 2)) -
                (#{calc-single-line()})
            ) * 0.5
        )
        calc(var(--fw-input-padding-x) * 0.5);
      display: block;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      @include dump-styles(no-text-decoration);

      span {
        pointer-events: none;
      }

      > span:only-child {
        display: block;
        margin: 0 calc(var(--fw-input-padding-x) * -1);
      }
    }

    &-block-adjacent {
      opacity: 0.125 !important;
      pointer-events: none !important;
    }

    &-button {
      @extend %fwe-form-global-ui-reset !optional;
      cursor: pointer;
      border-radius: var(--fw-input-calendar-button-border-radius);
      border-width: var(--fw-input-calendar-button-border-width);
      border-style: solid;
      border-color: var(--fw-input-calendar-button-border-color);

      color: var(--fw-input-calendar-button-color);
      background: var(--fw-input-calendar-button-background);

      &:is(:focus, .focus, :hover) {
        background: var(--fw-input-calendar-button-background-hover);
        border-color: var(--fw-input-calendar-button-border-color-hover);
        color: var(--fw-input-calendar-button-color-hover);
      }

      &.active {
        background: var(--fw-input-calendar-button-background-active);
        border-color: var(--fw-input-calendar-button-border-color-active);
        color: var(--fw-input-calendar-button-color-active);
      }
    }

    @at-root :is(#{&}-heading, #{&}-grid) {
      margin-top: 0.5em;
    }

    @at-root :is(#{&}-section, #{&}-days) {
      margin-bottom: 0.5em;
    }
    @at-root :is(#{&}-days, #{&}-dates, #{&}-heading) {
      justify-content: space-evenly;
      display: grid;
      // grid-template-columns: repeat(7, minmax(min-content,1fr));
      grid-template-columns: repeat(7, 1fr);
      grid-gap: var(--fw-input-calendar-gap);
    }

    &-input {
      margin-top: calc(
        calc(
            (
                (var(--fw-input-height) - (var(--fw-input-border-width) * 2)) -
                  (#{calc-single-line()})
              ) * 0.5
          ) * -1
      );
      margin-left: calc(var(--fw-input-padding-x) * -1);
      margin-right: calc(var(--fw-input-padding-x) * -1);

      #{$prefix}-box {
        border-width: 0 0 var(--fw-input-border-width);
      }
      &:is(:nth-last-child(n + 2)) {
        #{$prefix}-box {
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }

    &-heading {
      position: relative;
    }

    @at-root :is(#{&}-navigation, #{&}-title) {
      grid-row: 1;
    }

    @at-root :is(#{&}-prev-year, #{&}-prev-month:first-child) {
      grid-column: 1;
    }
    &-prev-month {
      grid-column: 2;
    }

    @at-root :is(#{&}-next-year, #{&}-next-month:nth-last-child(3)) {
      grid-column: 7;
    }
    &-next-month {
      grid-column: 6;
    }

    &-title {
      grid-column: 3 / span 3;
    }

    &-dropdown {
      max-height: 18em;
    }

    @at-root :is(#{&}-days, #{&}-dates) {
      grid-auto-rows: 1fr;
    }

    &-grid {
      margin-left: calc(var(--fw-input-padding-x) * -0.5);
      margin-right: calc(var(--fw-input-padding-x) * -0.5);
    }

    &-days {
      border-bottom: var(--fw-input-border-width) solid;
      opacity: 0.375;
    }

    &-day {
      font-size: em($input-calendar-days-font-size, $input-font-size);
    }
  }
}

:is(.disabled, [disabled], :disabled) {
  --fw-input-calendar-button-background-hover: var(
    --fw-input-calendar-button-background
  );
  --fw-input-calendar-button-background-active: var(
    --fw-input-calendar-button-background
  );
  --fw-input-calendar-button-border-color-hover: var(
    --fw-input-calendar-button-border-color
  );
  --fw-input-calendar-button-border-color-active: var(
    --fw-input-calendar-button-border-color
  );
  --fw-input-calendar-button-color-hover: var(--fw-input-calendar-button-color);
  --fw-input-calendar-button-color-active: var(--fw-input-calendar-button-color);
}
