:root {
  // :where(#{$prefix})
}

#{$prefix}-blend {
  @extend %fwe-form-box-skeleton;
  --fw-input-background-color: transparent !important;
  --fw-input-background-color-focus: var(--fw-input-background-color) !important;
  --fw-input-border-color: transparent;
  --fw-input-border-color-focus: currentColor;
  --fw-input-border-radius: 0em !important;
  --fw-input-box-shadow: transparent;
  --fw-input-box-shadow-focus: transparent;
  --fw-input-padding-x: 0em;
  --fw-input-padding-y: 0em;

  resize: none;
  border-width: 0 0 var(--fw-input-border-width) !important;
  border-color: var(--fw-input-border-color);
  scrollbar-width: none !important;
  outline: none !important;

  //   decorations
  &[list]::-webkit-list-button,
  &::-webkit-scrollbar,
  &::-webkit-calendar-picker-indicator {
    display: none !important;
  }

  @extend %fwe-form-box-skeleton-focus;

  &#{$prefix}-block {
    width: 100%;
    display: block;
  }

  &[multiple] {
    option {
      color: inherit;
    }
  }
}
