$sub-prefix: '.input-toggle';

:where(#{$sub-prefix}) {
  // :where(:root)
  --fw-input-toggle-box-shadow: #{$input-toggle-box-shadow};
  --fw-input-toggle-margin-x: #{rem($input-toggle-margin-x, $body-font-size)};

  --fw-input-toggle-node-background-color-active: #{$input-toggle-node-background-color-active};
  --fw-input-toggle-node-border-color-active: #{$input-toggle-node-border-color-active};
  --fw-input-toggle-node-border-width: #{$input-toggle-node-border-width};

  --fw-input-toggle-width: #{rem($input-toggle-width, $body-font-size)};

  --fw-input-toggle-node-border-radius: #{rem(
      $input-toggle-node-border-radius,
      $body-font-size
    )};
  --fw-input-toggle-node-width: #{rem($input-toggle-node-width, $body-font-size)};
  --fw-input-toggle-node-height: #{rem($input-toggle-node-height, $body-font-size)};

  --fw-input-toggle-plate-background-color-active: #{$input-toggle-plate-background-color-active};
  --fw-input-toggle-plate-border-color-active: #{$input-toggle-plate-border-color-active};
  --fw-input-toggle-plate-border-width: #{$input-toggle-plate-border-width};

  --fw-input-toggle-plate-border-radius: #{rem(
      $input-toggle-plate-border-radius,
      $body-font-size
    )};
  --fw-input-toggle-plate-height: #{rem($input-toggle-plate-height, $body-font-size)};
}

#{$sub-prefix} {
  align-items: flex-start;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;

  &#{&}-reverse {
    flex-direction: row-reverse;
  }

  > :is(#{$prefix}-label, input) {
    min-width: 0;
  }

  input {
    @extend %fwe-form-global-ui-reset !optional;
    opacity: 0 !important;
    display: inline-block;
    width: var(--fw-input-toggle-width);
    height: max(
      var(--fw-input-toggle-node-height),
      var(--fw-input-toggle-plate-height)
    );
    vertical-align: middle;
    align-self: flex-start;
    position: relative;
    z-index: 9;
    order: -1;
    flex: 0 0 auto;
    margin-top: min(
      calc((#{calc-single-line()} - var(--fw-input-toggle-node-height)) * 0.5),
      calc((var(--fw-input-toggle-node-height) - #{calc-single-line()}) * -0.5)
    );
  }

  #{$prefix}-label {
    position: relative;
    width: calc(100% - #{var(--fw-input-toggle-width)});
    padding-top: 0;
    padding-bottom: 0;
    flex: 1 0 auto;
    flex-basis: auto;
  }
}

#{$sub-prefix}-label {
  :not(#{$sub-prefix}-reverse) > & {
    padding-left: var(--fw-input-toggle-margin-x);
  }

  #{$sub-prefix}-reverse > & {
    padding-right: var(--fw-input-toggle-margin-x);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    margin: auto;
    top: 0;
    transition-duration: $input-toggle-transition-duration;
    transition-timing-function: $input-toggle-transition-timing;
    transition-property: all;
    right: 100%;

    :is(#{$sub-prefix}-reverse) > & {
      left: 100%;
    }
  }

  &:before {
    background-color: $var-color-neutral-alpha-2;
    border: var(--fw-input-toggle-plate-border-width) solid;
    height: var(--fw-input-toggle-plate-height);
    width: var(--fw-input-toggle-width);
    margin-top: min(
      calc((#{calc-single-line()} - var(--fw-input-toggle-plate-height)) * 0.5),
      calc((var(--fw-input-toggle-plate-height) - #{calc-single-line()}) * -0.5)
    );
    border-radius: var(--fw-input-toggle-plate-border-radius);

    :is(:checked) + & {
      background-color: var(--fw-input-toggle-plate-background-color-active);
      border-color: var(--fw-input-toggle-plate-border-color-active);
    }
  }

  &:after {
    background-color: $var-theme-background;
    border: var(--fw-input-toggle-node-border-width) solid;
    height: var(--fw-input-toggle-node-height);
    width: var(--fw-input-toggle-node-width);
    box-shadow: var(--fw-input-toggle-box-shadow);
    border-radius: var(--fw-input-toggle-node-border-radius);
    margin-top: min(
      calc((#{calc-single-line()} - var(--fw-input-toggle-node-height)) * 0.5),
      calc((var(--fw-input-toggle-node-height) - #{calc-single-line()}) * -0.5)
    );
    background: $var-theme-background;
    margin-left: max(
      (
        (var(--fw-input-toggle-plate-height) - var(--fw-input-toggle-node-height)) * 0.5
      ),
      0px
    );
    margin-right: calc(
      var(--fw-input-toggle-width) - var(--fw-input-toggle-node-width) -
        max(
          (
            (var(--fw-input-toggle-plate-height) - var(--fw-input-toggle-node-height)) *
              0.5
          ),
          0px
        )
    );

    :is(#{$sub-prefix}-reverse) > & {
      margin-right: max(
        (
          (var(--fw-input-toggle-plate-height) - var(--fw-input-toggle-node-height)) *
            0.5
        ),
        0px
      );
    }

    :is(:checked) + & {
      background-color: var(--fw-input-toggle-node-background-color-active);
      border: var(--fw-input-toggle-node-border-width) solid
        var(--fw-input-toggle-node-border-color-active);
      margin-right: max(
        (
          (var(--fw-input-toggle-plate-height) - var(--fw-input-toggle-node-height)) *
            0.5
        ),
        0px
      );

      :is(#{$sub-prefix}-reverse) > & {
        margin-left: calc(
          var(--fw-input-toggle-width) - var(--fw-input-toggle-node-width) -
            max(
              (
                (
                    var(--fw-input-toggle-plate-height) -
                      var(--fw-input-toggle-node-height)
                  ) * 0.5
              ),
              0px
            )
        );
      }
    }
  }
}

:is(#{$prefix}-large, #{$prefix}-large > #{$prefix}) {
  --fw-input-toggle-width: #{rem($input-toggle-width-large, $body-font-size)};
  --fw-input-toggle-node-width: #{rem($input-toggle-node-width-large, $body-font-size)};
  --fw-input-toggle-node-height: #{rem($input-toggle-node-height-large, $body-font-size)};
  --fw-input-toggle-node-border-radius: #{rem(
      $input-toggle-node-border-radius-large,
      $body-font-size
    )};
  --fw-input-toggle-plate-height: #{rem(
      $input-toggle-plate-height-large,
      $body-font-size
    )};
  --fw-input-toggle-plate-border-radius: #{rem(
      $input-toggle-plate-border-radius-large,
      $body-font-size
    )};
}

:is(#{$prefix}-small, #{$prefix}-small > #{$prefix}) {
  --fw-input-toggle-width: #{rem($input-toggle-width-small, $body-font-size)};
  --fw-input-toggle-node-width: #{rem($input-toggle-node-width-small, $body-font-size)};
  --fw-input-toggle-node-height: #{rem($input-toggle-node-height-small, $body-font-size)};
  --fw-input-toggle-node-border-radius: #{rem(
      $input-toggle-node-border-radius-small,
      $body-font-size
    )};
  --fw-input-toggle-plate-height: #{rem(
      $input-toggle-plate-height-small,
      $body-font-size
    )};
  --fw-input-toggle-plate-border-radius: #{rem(
      $input-toggle-plate-border-radius-small,
      $body-font-size
    )};
}
