/*** input toggle ***/
$prefix: '.input';

#{$prefix} {
  // @TODO align right

  &-toggle {
    & {
      align-items: flex-start;
      display: inline-flex;
      justify-content: flex-start;

      &%for-form-label {
        flex-basis: auto;
      }

      &-reverse {
        flex-direction: row-reverse;
      }
    }

    input,
    .input {
      & {
        opacity: 0 !important;
        background: transparent;
        color: transparent;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        font: inherit;
        display: inline-block;
        width: $_fwc-input-toggle-width;
        height: $_fwc-input-toggle-checkbox-height;
        vertical-align: middle;
        align-self: flex-start;
        position: relative;
        z-index: 9;
        order: -1;
        flex: 0 0 auto;

        &[disabled] + #{$prefix}-label {
          @include dump-styles(disabled);
        }
      }
    }

    #{$prefix}-small &,
    &#{$prefix}-small {
      .input,
      input {
        width: $_fwc-input-toggle-width-small;
      }
    }

    #{$prefix}-large &,
    &#{$prefix}-large {
      .input,
      input {
        width: $_fwc-input-toggle-width-large;
      }
    }

    & #{&}-label {
      position: relative;
      width: calc(100% - #{$_fwc-input-toggle-width});
      padding-top: 0;
      padding-bottom: 0;
      flex: 1 0 auto;
    }

    &-label {
      #{$prefix}-toggle:not(#{$prefix}-toggle-reverse) & {
        padding-left: $input-toggle-margin-x;
      }

      #{$prefix}-toggle#{$prefix}-toggle-reverse & {
        padding-right: $input-toggle-margin-x;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        color: $input-toggle-color-default;
        background-color: currentColor;
        margin: auto;
        top: 0;
        transition: $input-toggle-transition-duration all $transition-timing;

        #{$prefix}-toggle:not(#{$prefix}-toggle-reverse) & {
          right: 100%;
        }

        #{$prefix}-toggle#{$prefix}-toggle-reverse & {
          left: 100%;
        }

        [type='checkbox']:checked + &,
        [type='radio']:checked + & {
          color: $input-toggle-color-default-active;
        }
      }

      @each $tag, $color in $_fwc-brand-color-declarations-for-components {
        @at-root &#{$prefix}-#{$tag},
          #{$prefix}-#{$tag} & {
          &:before,
          &:after {
            color: $color;
          }
        }
      }

      &:before {
        & {
          height: $_fwc-input-toggle-plate-height;
          width: $_fwc-input-toggle-width;
          margin-top: calc(
            (#{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-plate-height}) /
              2
          );
          opacity: 0.3;
          border-radius: $input-toggle-plate-border-radius;
          margin-right: 0;
        }

        @at-root #{$prefix}-small#{&},
          #{$prefix}-small & {
          height: $_fwc-input-toggle-plate-height-small;
          width: $_fwc-input-toggle-width-small;
          margin-top: calc(
            (
                #{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-plate-height-small}
              ) / 2
          );
          border-radius: $input-toggle-plate-border-radius-small;
        }

        @at-root #{$prefix}-large#{&},
          #{$prefix}-large & {
          height: $_fwc-input-toggle-plate-height-large;
          width: $_fwc-input-toggle-width-large;
          margin-top: calc(
            (
                #{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-plate-height-large}
              ) / 2
          );
          border-radius: $input-toggle-plate-border-radius-large;
        }
      }

      &:after {
        & {
          height: $_fwc-input-toggle-node-height;
          width: $_fwc-input-toggle-node-width;
          box-shadow: $input-toggle-node-box-shadow;
          border-radius: $input-toggle-node-border-radius;
          margin-right: calc(
            (#{$_fwc-input-toggle-width} - #{$_fwc-input-toggle-node-width})
          );
          margin-left: 0;
          margin-top: calc(
            (#{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-node-height}) /
              2
          );

          input[type='checkbox']:not(:checked) + &,
          .input[type='checkbox']:not(:checked) + &,
          input[type='radio']:not(:checked) + &,
          .input[type='radio']:not(:checked) + & {
            background: $var-theme-background;
          }

          input[type='checkbox']:checked + &,
          .input[type='checkbox']:checked + &,
          input[type='radio']:checked + &,
          .input[type='radio']:checked + & {
            #{$prefix}-toggle:not(#{$prefix}-toggle-reverse) & {
              margin-right: 0;
            }

            #{$prefix}-toggle#{$prefix}-toggle-reverse & {
              margin-left: calc(
                (#{$_fwc-input-toggle-width} - #{$_fwc-input-toggle-node-width})
              );
            }
          }
        }

        @at-root #{$prefix}-small#{&},
          #{$prefix}-small & {
          height: $_fwc-input-toggle-node-height-small;
          width: $_fwc-input-toggle-node-width-small;
          border-radius: $input-toggle-node-border-radius-small;
          margin-right: calc(
            (#{$_fwc-input-toggle-width-small} - #{$_fwc-input-toggle-node-width-small})
          );
          margin-left: 0;
          margin-top: calc(
            (
                #{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-node-height-small}
              ) / 2
          );

          input[type='checkbox']:checked + &,
          .input[type='checkbox']:checked + &,
          input[type='radio']:checked + &,
          .input[type='radio']:checked + & {
            #{$prefix}-toggle#{$prefix}-toggle-reverse & {
              margin-left: calc(
                (
                  #{$_fwc-input-toggle-width-small} - #{$_fwc-input-toggle-node-width-small}
                )
              );
            }
          }
        }

        @at-root #{$prefix}-large#{&},
          #{$prefix}-large & {
          height: $_fwc-input-toggle-node-height-large;
          width: $_fwc-input-toggle-node-width-large;
          border-radius: $input-toggle-node-border-radius-large;
          margin-right: calc(
            (#{$_fwc-input-toggle-width-large} - #{$_fwc-input-toggle-node-width-large})
          );
          margin-left: 0;
          margin-top: calc(
            (
                #{$_fwc-input-toggle-checkbox-height} - #{$_fwc-input-toggle-node-height-large}
              ) / 2
          );

          input[type='checkbox']:checked + &,
          .input[type='checkbox']:checked + &,
          input[type='radio']:checked + &,
          .input[type='radio']:checked + & {
            #{$prefix}-toggle#{$prefix}-toggle-reverse & {
              margin-left: calc(
                (
                  #{$_fwc-input-toggle-width-large} - #{$_fwc-input-toggle-node-width-large}
                )
              );
            }
          }
        }
      }
    }
  }
}
