/*** input-blend (scaffolding) ***/
$prefix: '.input';

%fwe-form-input-blend {
  &-global {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
    display: inline-block;
    overflow: hidden;
    resize: none;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  //w/ list
  &[list]::-webkit-list-button
  &[list]::-webkit-calendar-picker-indicator {
    display: none;
  }

  &-block {
    width: 100%;
    display: block;
  }
}

#{$prefix} {
  &-blend {
    @extend %fwe-form-input-blend;
    @extend %fwe-form-input-blend-global;

    &#{$prefix}-block {
      @extend %fwe-form-input-blend-block;
    }
  }
}
