#{$prefix}-info {
  @include type-set(
    (
      root-size: $body-font-size,
      size: $input-info-font-size,
      color: $input-info-color,
      weight: $input-info-font-weight,
      style: $input-info-font-style,
      case: $input-info-text-transform,
    )
  );
  display: block;
  order: 99;
  width: 100%;
  margin-top: 0.5em;
}
