$sub-prefix: '.input-label';

:root { // :where(#{$prefix})
}

#{$sub-prefix} {
  --fw-input-box-shadow: none;
  --fw-input-box-shadow-focus: none;
  @include type-set(
    (
      root-size: $body-font-size,
      size: $input-label-font-size,
      weight: $input-label-font-weight,
      color: var(--fw-input-color),
      style: $input-label-font-style,
      font: $input-label-font-family,
      align: inherit,
      decoration: none,
      case: $input-label-text-transform,
    )
  );
  margin-top: 0;
  margin-bottom: 0;
  padding-top: calc((var(--fw-input-height) - #{calc-single-line()}) * 0.5);
  padding-bottom: calc((var(--fw-input-height) - #{calc-single-line()}) * 0.5);
  // display: inline-flex;
  // align-items:center;
  display: inline-block;
  min-width: min-content;

  #{$prefix}-group > & {
    padding-left: 1em;
    padding-right: 1em;
    background: $input-group-label-background;
    border-radius: var(--fw-input-border-radius);
    flex: 0 0 auto;
  }

  #{$prefix}-wrapper > & {
    align-self: stretch;
  }

  #{$prefix}-wrapper#{$prefix}-wrapper-horizontal > & {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  #{$prefix}-wrapper#{$prefix}-wrapper-horizontal#{$prefix}-wrapper-reverse > & {
    grid-column: 2;
  }

  #{$prefix}-wrapper#{$prefix}-wrapper-vertical > & {
    order: -1;
  }

  #{$prefix}-wrapper#{$prefix}-wrapper-vertical#{$prefix}-wrapper-reverse > & {
    order: 99;
  }

  &:is(#{$prefix}-large, #{$prefix}-large > #{$prefix}) {
    @include type($input-label-font-size-large, null, $body-font-size);
  }

  &:is(#{$prefix}-small, #{$prefix}-small > #{$prefix}) {
    @include type($input-label-font-size-small, null, $body-font-size);
  }

  :is(.disabled, [disabled], :disabled) + & {
    @include dump-styles(disabled);
  }
}
