$sub-prefix: '.input-tags';

:root {
  // :where(#{$prefix})
  --fw-input-tags-block-margin-x: #{em($input-tags-block-margin-x, $input-font-size)};
  --fw-input-tags-block-margin-y: #{em($input-tags-block-margin-y, $input-font-size)};
  --fw-input-tags-block-padding-x: #{em($input-tags-block-padding-x, $input-font-size)};
  --fw-input-tags-block-padding-y: #{em($input-tags-block-padding-y, $input-font-size)};

  --fw-input-tags-tag-background-color: var(
    --fw-color-#{$input-tags-palette-tag}-#{$input-tags-palette-variation}
  );
  --fw-input-tags-tag-border-radius: #{$input-tags-tag-border-radius};
  --fw-input-tags-tag-button-color-hover: var(--fw-color-#{$input-tags-palette-tag});
}

#{$sub-prefix} {
  @extend %fwe-form-global-ui-control !optional;

  &-ui {
    & {
      display: inline-flex;
      max-width: 100% !important;
      direction: ltr;
      position: relative;
      overflow: hidden;
      @include dump-styles(no-scrollbar);
    }

    // :is(#{$prefix}-blend) {
    //   border: 0;
    // }

    &-wrapper {
      flex-grow: 1;
      flex-shrink: 1;
      // // flex-basis: auto;
      display: flex;
      max-width: 100%;
      gap: var(--fw-input-tags-block-margin-y) var(--fw-input-tags-block-margin-x);
      margin: calc(var(--fw-input-tags-block-padding-y) * -1) 0
        calc(var(--fw-input-tags-block-padding-y) * -1)
        calc(var(--fw-input-tags-block-padding-x) * -0.5);

      .input-blend & {
        margin: 0;
      }
    }

    &-single #{&}-wrapper {
      flex-direction: row-reverse;
      direction: rtl;
      min-height: 100%;
      margin-right: calc(var(--fw-input-tags-block-padding-x) * -1);
    }
    &-multiline #{&}-wrapper {
      flex-wrap: wrap;
      align-self: flex-start;
    }

    &-multiline-break #{&}-wrapper {
      flex-direction: column;
      flex-wrap: nowrap;
      // align-items:flex-end,
    }

    &-block {
      // @todo//ellipsis
      direction: ltr;
      vertical-align: middle;
      color: inherit;
      padding: var(--fw-input-tags-block-padding-y) var(--fw-input-tags-block-padding-x);
    }

    // &-tag,
    // &-input {
    // }

    &-tag {
      display: flex;
      max-width: 100%;
      background-color: var(--fw-input-tags-tag-background-color);
      border-radius: var(--fw-input-tags-tag-border-radius);

      &:is(:hover, :focus, .focus) {
        color: var(--fw-input-tags-tag-button-color-hover);
      }
    }

    &-multiline-break #{&}-tag {
      justify-content: space-between;
    }

    &-tag-button {
      @extend %fwe-form-global-ui-reset !optional;
      padding: 0;
      margin: 0;
    }

    &-tag-text {
      @include dump-styles(text-ellipsis-single);
      margin-right: 0.5em;
      cursor: text;
    }

    @at-root :is(#{&}-single, #{&}-multiline:not(#{&}-multiline-break)) & {
      max-width: 10em;
    }

    &-tag-close {
      font-size: 0.75em;
      cursor: pointer;
      opacity: 0.5;

      &:is(:hover, :focus, .focus) {
        opacity: 1;
      }
    }

    &-input {
      @extend %fwe-form-global-ui-reset !optional;
      --fw-input-tags-block-margin-x: 0;
      white-space: nowrap;
      display: block;

      &:is(:empty):not(:focus):not(.focus):before {
        opacity: $input-placeholder-opacity;
        content: attr(data-placeholder) '\00A0';
        display: block;
        pointer-events: none;
      }

      &:is(:first-child) {
        padding-left: 0;
      }

      &:is(:last-child) {
        flex-grow: 1;
        flex-shrink: 1;
        // // flex-basis: auto;
      }
      // padding-right: 0;

      &:is(:only-child) {
        width: 12em;
      }
    }

    &-single #{&}-input {
      &:is(:last-child) {
        min-width: 4em;
      }

      &:is(:last-child, :only-child) {
        width: 12em;
      }
    }

    &-multiline #{&}-input {
      &:is(:last-child) {
        width: 100%;
      }

      &:is(:last-child, :only-child) {
        min-width: 100%;
      }
    }
  }
}

:is(#{$prefix}-large, #{$prefix}-large > #{$prefix}) {
  --fw-input-tags-block-padding-y: #{$input-tags-block-padding-y-large};
}

:is(#{$prefix}-small, #{$prefix}-small > #{$prefix}) {
  --fw-input-tags-block-padding-y: #{$input-tags-block-padding-y-small};
}

@each $tag, $color in $fwc-brand-color-declarations-for-components {
  #{$prefix}-#{$tag} {
    --fw-input-tags-tag-background-color: var(
      --fw-color-#{$tag}-#{$input-tags-palette-variation}
    );
    // --fw-input-tags-tag-button-color-hover: var(--fw-color-#{$tag});
  }
}
