/*** input-boxy (scaffolding) ***/
$prefix: '.input';

%fwe-form-input-boxy {
  & {
    @extend %fwe-form-global-radius;
    @extend %fwe-form-global-transition;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    max-width: 100%;
    @include type-set(
      (
        size: $_fwc-input-font-size,
        leading: $_fwc-input-line-height,
        weight: $input-font-weight,
        style: $input-font-style,
        font: $input-font-family,
        align: inherit,
        decoration: none,
        case: $input-text-transform,
      )
    );
    display: inline-block;
    border: $input-border-width solid $input-border-color;
    background-color: $input-background;
    padding-right: $_fwc-input-gutter-x;
    padding-left: $_fwc-input-gutter-x;
    padding-top: $_fwc-value-input-paddiny-y;
    padding-bottom: $_fwc-value-input-paddiny-y;
    box-shadow: $input-box-shadow;

    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: $input-color;
    }

    .theme-inverse & {
      background-color: $input-background-inverse;

      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: $input-color-inverse;
      }
    }

    &:focus,
    &.focus,
    &:active,
    &.active {
      border-color: $input-border-color-focus;
    }

    option {
      font: inherit;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: inherit;
      opacity: $input-placeholder-opacity;
    }

    &::-moz-placeholder {
      color: inherit;
      opacity: $input-placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: inherit;
      opacity: $input-placeholder-opacity;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: inherit;
      opacity: $input-placeholder-opacity;
    }

    //color
    &[type='color'] {
      min-width: 100px;
      padding: 0.5em;
    }

    //file
    &::-webkit-file-upload-button {
      appearance: none;
      border: none;
      font: inherit;
      color: inherit;
      opacity: $input-placeholder-opacity;
      background: none;
      margin: 0 0.25em 0 0;
      padding: 0;
      // vertical-align:middle;
      // display:flex;
    }
    // &::-webkit-file-upload-text {
    // 	-webkit-appearance: none;
    // }

    &:focus::-webkit-input-placeholder {
      color: transparent !important;
    }

    &:focus:-moz-placeholder {
      color: transparent !important;
    }

    &:focus:-ms-input-placeholder {
      color: transparent !important;
    }

    &.focus::-webkit-input-placeholder {
      color: transparent !important;
    }

    &.focus:-moz-placeholder {
      color: transparent !important;
    }

    &.focus:-ms-input-placeholder {
      color: transparent !important;
    }
  }

  &-single {
    vertical-align: middle;

    // height: $_fwc-input-height;

    // &#{$prefix}-large,
    // #{$prefix}-large & {
    // 	height: $_fwc-input-height-large;
    // }

    // &#{$prefix}-small,
    // #{$prefix}-small & {
    // 	height: $_fwc-input-height-small;
    // }
  }

  &-multiple {
    & {
      vertical-align: top;
      overflow-y: auto;
      flex: 1;

      .input-group & {
        max-height: 100%;
      }

      option {
        padding-right: $_fwc-input-gutter-x;
        padding-left: $_fwc-input-gutter-x;
        margin-right: $_fwc-input-gutter-x * -1;
        margin-left: $_fwc-input-gutter-x * -1;
      }
    }
    &-height {
      height: auto;
      resize: both;
      min-height: $_fwc-input-height * $input-height-multiple-factor;

      &-large {
        min-height: $_fwc-input-height-large * $input-height-multiple-factor;
      }

      &-small {
        min-height: $_fwc-input-height-small * $input-height-multiple-factor;
      }
    }
  }

  &-select {

    &:not([multiple]) {
      padding-right: $_fwc-input-gutter-x * 2;
      background-image: linear-gradient(
          -130deg,
          $input-select-dropdown-color 0%,
          $input-select-dropdown-color 50%,
          transparent 51%,
          transparent 100%
        ),
        linear-gradient(
          130deg,
          $input-select-dropdown-color 0%,
          $input-select-dropdown-color 50%,
          transparent 51%,
          transparent 100%
        );
      background-size: #{$_fwc-symbol-caret-width * 0.5} $_fwc-symbol-caret-height,
        #{$_fwc-symbol-caret-width * 0.5} $_fwc-symbol-caret-height;
      background-position: calc(
            100% - ((#{$_fwc-input-gutter-x}) + (#{$_fwc-symbol-caret-width} * 0.5))
          )
          50%,
        calc(100% - (#{$_fwc-input-gutter-x})) 50%;
      background-repeat: no-repeat, no-repeat;
    }
  }

  &-large {
  }

  &-small {
  }

  &-in-nav {
  }

  &-in-group {
    & {
      border-radius: inherit;
    }

    &-horizontal {
    }

    &-vertical {
    }

    &-block {
    }
  }

  &-in-wrapper {
    &-horizontal {
    }

    &-vertical {
    }

    &-block {
      width: 100%;
    }
  }

  & {
    &#{$prefix}-large,
    #{$prefix}-large & {
      @extend %fwe-form-input-boxy-large !optional;
      @extend %fwe-form-global-radius-large !optional;
      padding-top: $_fwc-value-input-paddiny-y-large;
      padding-bottom: $_fwc-value-input-paddiny-y-large;
    }

    &#{$prefix}-small,
    #{$prefix}-small & {
      @extend %fwe-form-input-boxy-small !optional;
      @extend %fwe-form-global-radius-small !optional;
      padding-top: $_fwc-value-input-paddiny-y-small;
      padding-bottom: $_fwc-value-input-paddiny-y-small;
    }

    .nav-block.nav-block-stretch > &,
    .nav > & {
      @extend %fwe-form-input-boxy-in-nav !optional;
      @extend %fwe-form-global-in-nav-custom;
      padding-top: $_fwc-value-input-paddiny-y-nav !important;
      padding-bottom: $_fwc-value-input-paddiny-y-nav !important;
    }

    #{$prefix}-no-radius & {
      @include dump-styles(no-border-radius);
    }

    #{$prefix}-group & {
      @extend %fwe-form-input-boxy-in-group !optional;

      &:not(.focus):not(:focus):not(.active):not(:active) {
        @include dump-styles(no-box-shadow);
      }
    }

    #{$prefix}-wrapper & {
      @extend %fwe-form-input-boxy-in-wrapper !optional;
      display: block;
      flex: 1 1;
    }

    #{$prefix}-wrapper-horizontal & {
      @extend %fwe-form-input-boxy-in-wrapper-horizontal !optional;

      @at-root #{$prefix}-wrapper-block#{&} {
        @extend %fwe-form-input-boxy-in-wrapper-horizontal-block !optional;
      }
    }

    #{$prefix}-wrapper-vertical & {
      @extend %fwe-form-input-boxy-in-wrapper-vertical !optional;

      @at-root #{$prefix}-wrapper-block#{&} {
        @extend %fwe-form-input-boxy-in-wrapper-vertical-block !optional;
      }
    }

    #{$prefix}-wrapper-block & {
      @extend %fwe-form-input-boxy-in-wrapper-block !optional;
    }

    #{$prefix}-disabled & {
      @include dump-styles(no-box-shadow-important);
    }

    &-block {
      display: block;

      &-mobile {
        @include on-breakpoint(mobile) {
          display: block;
        }
      }
    }
  }
}

#{$prefix} {
  &-single-line {
    @extend %fwe-form-input-boxy !optional;
    @extend %fwe-form-input-boxy-single !optional;
  }
  @at-root select#{&}-single-line,
    &-select {
    @extend %fwe-form-input-boxy !optional;
    @extend %fwe-form-input-boxy-select !optional;
  }
  select#{$prefix}-multiple-line,
  &-select[multiple],
  &-multiple-line {
    @extend %fwe-form-input-boxy-multiple !optional;
  }

  &-multiple-line {
    @extend %fwe-form-input-boxy !optional;
    @extend %fwe-form-input-boxy-multiple-height !optional;

    &#{$prefix}-large,
    #{$prefix}-large & {
      @extend %fwe-form-input-boxy-multiple-height-large !optional;
    }

    &#{$prefix}-small,
    #{$prefix}-small & {
      @extend %fwe-form-input-boxy-multiple-height-small !optional;
    }

    #{$prefix}-group & {
      resize: none;
    }
  }

  @at-root %fwe-form-input-and-group {
    &:focus,
    &.focus {
      outline: none;
      // box-shadow: $input-box-shadow-focus!important;
      box-shadow: $input-box-shadow-focus;
    }
  }

  &,
  &-group {
    @extend %fwe-form-input-and-group;
  }

  @at-root %fwe-form-input-boxy-and-group {
    & {
      @extend %fwe-form-global-radius;
    }
    &-small {
      @extend %fwe-form-global-radius-small;
    }

    &-large {
      @extend %fwe-form-global-radius-large;
    }

    &-in-nav {
      @include dump-styles(no-border-radius);
      @include dump-styles(no-box-shadow-important);
    }
  }

  @at-root %fwe-form-input-boxy,
    &-group {
    @extend %fwe-form-input-boxy-and-group !optional;

    &#{$prefix}-large {
      @extend %fwe-form-input-boxy-and-group-large !optional;
    }

    &#{$prefix}-small {
      @extend %fwe-form-input-boxy-and-group-small !optional;
    }

    .nav-block.nav-block-stretch > &,
    .nav > & {
      @extend %fwe-form-input-boxy-and-group-in-nav !optional;
    }

    &#{$prefix}-round {
      @extend %fwe-form-global-round;

      &#{$prefix}-large {
        @extend %fwe-form-global-round-large !optional;
      }

      &#{$prefix}-small {
        @extend %fwe-form-global-round-small !optional;
      }
    }

    &#{$prefix}-no-radius {
      @include dump-styles(no-border-radius);
    }

    &#{$prefix}-no-shadow {
      @include dump-styles(no-box-shadow-important);
    }

    &#{$prefix}-block {
      width: 100%;

      &-mobile {
        @include on-breakpoint(mobile) {
          width: 100%;
        }
      }
    }
  }

  &-group {
    display: inline-flex;
    align-content: stretch;
    align-items: stretch;
    position: relative;
    max-width: 100%;
    padding: 0;
    border: 0;
    background: none;
    font: inherit;
    overflow-x: auto;
    overflow-y: visible;

    .btn.btn-symbol {
      flex: 0 0 auto;
    }

    &#{$prefix}-block {
      display: flex;
      width: 100%;

      > #{$prefix}
			// ,
			// > .btn:not(.btn-symbol)
      {
        flex: 1 1;
      }

      &-mobile {
        @include on-breakpoint(mobile) {
          display: flex;
          width: 100%;

          > #{$prefix},
          > .btn:not(.btn-symbol) {
            flex: 1 1;
          }
        }
      }
    }

    #{$prefix} {
      @extend %fwe-form-input-in-group !optional;
    }

    .btn {
      @extend %fwe-form-input-boxy-in-group !optional;
    }

    &#{&}-large {
      @extend %fwe-form-input-boxy-and-group-large !optional;
    }

    &#{&}-small {
      @extend %fwe-form-input-boxy-and-group-small !optional;
    }

    &#{&}-horizontal {
      &:not(#{$prefix}-group-responsive) {
        > %fwe-form-input-boxy,
        .btn {
          &:nth-last-child(n + 2) {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }

        > %fwe-form-input-boxy,
        .btn {
          &:nth-child(n + 2) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            margin-left: $input-border-width * -1;

            &:not(.focus):not(:focus):not(.active):not(:active) {
              border-left-color: $input-group-separator-color;
            }
          }
        }
      }
    }

    &#{&}-vertical {
      flex-direction: column;

      > .btn-symbol {
        width: auto;
      }

      > %fwe-form-input-boxy,
      .btn {
        &:nth-last-child(n + 2) {
          border-bottom-right-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }

      > %fwe-form-input-boxy,
      .btn {
        &:nth-child(n + 2) {
          border-top-right-radius: 0 !important;
          border-top-left-radius: 0 !important;
          margin-top: $input-border-width * -1;

          &:not(.focus):not(:focus):not(.active):not(:active) {
            border-top-color: $input-group-separator-color;
          }
        }
      }
    }

    &#{&}-responsive {
      @include on-breakpoint(nonmobile) {
        &#{$prefix}-group-horizontal {
          > %fwe-form-input-boxy,
          .btn {
            &:nth-last-child(n + 2) {
              border-top-right-radius: 0 !important;
              border-bottom-right-radius: 0 !important;
            }
          }

          > %fwe-form-input-boxy,
          .btn {
            &:nth-child(n + 2) {
              border-top-left-radius: 0 !important;
              border-bottom-left-radius: 0 !important;
              margin-left: $input-border-width * -1;

              &:not(.focus):not(:focus):not(.active):not(:active) {
                border-left-color: $input-group-separator-color;
              }
            }
          }
        }
      }

      @include on-breakpoint(mobile) {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;

        > .btn-symbol {
          width: auto;
        }

        > %fwe-form-input-boxy,
        .btn {
          &:nth-last-child(n + 2) {
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
          }
        }

        > %fwe-form-input-boxy,
        .btn {
          &:nth-child(n + 2) {
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            margin-top: $input-border-width * -1;

            &:not(.focus):not(:focus):not(.active):not(:active) {
              border-top-color: $input-group-separator-color;
            }
          }
        }
      }
    }
  }

  //color
  @each $tag, $color in $_fwc-brand-color-declarations-for-components {
    @at-root %fwe-form-label-color-#{$tag} {
      color: $color;
    }
    //label
    @at-root #{$prefix}-label#{$prefix}-#{$tag},
      #{$prefix}-#{$tag} #{$prefix}-label {
      @extend %fwe-form-label-color-#{$tag};
    }

    @at-root %fwe-form-input-color-#{$tag} {
      & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
          color: $color;
        }
        border-color: $color;

        @if type-of($color) == color and $color != transparent {
          background-color: var(--fw-color-#{$tag}-#{$input-color-feedback-var-slug});
        }

        &:not(.focus):not(:focus):not(.active):not(:active) {
          box-shadow: $input-box-shadow-palette-basis $color;
          z-index: 1;
        }
      }
    }
    //inputs
    @at-root &#{$prefix}-#{$tag},
      #{$prefix}-#{$tag} & {
      @extend %fwe-form-input-color-#{$tag};
    }
  }
}
