@function internal-is-convertable($value, $font-value: $body-font-size) {
  $to_return: false;
  @if type-of($value) ==
    number and not
    unitless($value) and
    unit($value) ==
    'px' and
    unit($font-value) ==
    'px'
  {
    $to_return: true;
  }

  @return $to_return;
}

@function internal-helper-property($direction, $property: '', $subproperty: '') {
  $parsed-property: '';

  @if ($property != '') {
    $parsed-property: #{$property + '-'};
  }

  $parsed-subproperty: '';

  @if ($subproperty != '') {
    $parsed-subproperty: #{'-' + $subproperty};
  }

  @return #{$parsed-property + $direction + $parsed-subproperty};
}
