$mode-wrapper-class: #{$ui-prefix}-on-mode-board;
$mode-class: #{$ui-prefix}-mode-board;

:root {
  // :where(#{$prefix})
  --fw-modal-board-padding-spacer: #{$modal-board-padding-spacer};

  --fw-modal-board-close-box-shadow: #{$modal-board-close-box-shadow};
  --fw-modal-board-close-offset-y: #{$modal-board-close-offset-y};
  --fw-modal-board-close-size: #{$modal-board-close-size};

  @include on-breakpoint(mobile) {
    --fw-modal-board-padding-spacer: #{$modal-board-padding-spacer-mobile};

    --fw-modal-board-close-offset-y: #{$modal-board-close-offset-y-mobile};
  }
}

[data-toggle-modal-board] {
  @include dump-styles(data-toggle);
}
#{$prefix}#{$prefix}-board {
}

#{$mode-wrapper-class} {
  --fw-modal-z-index: #{$z-index-modal-board};

  #{$mode-class}#{$ui-prefix}-wrapper {
    @at-root #{$ui-prefix}-align-right#{&} {
      padding-left: var(--fw-modal-board-padding-spacer);

      :is(#{$ui-prefix}-popup, #{$ui-prefix}-button-wrapper) {
        margin-left: auto;
      }
    }
    @at-root #{$ui-prefix}-align-left#{&} {
      padding-right: var(--fw-modal-board-padding-spacer);

      :is(#{$ui-prefix}-popup, #{$ui-prefix}-button-wrapper) {
        margin-right: auto;
      }
    }
  }

  #{$mode-class}#{$ui-prefix}-button {
    position: relative;
    // z-index: 9;
  }
  #{$mode-class}#{$ui-prefix}-button-wrapper {
    width: var(--fw-modal-width);
    position: fixed;
    z-index: 3;
    justify-content: flex-start;
    display: flex;
    height: 0;
    flex-wrap: nowrap;
    overflow: visible;
    top: 0;
    max-width: calc(100% - var(--fw-modal-board-padding-spacer));
    flex-direction: column;

    &:before {
      content: '';
      display: inline-block;
      pointer-events: none;
      flex: 0 0 auto;
      height: var(--fw-modal-board-close-offset-y);
      width: 0;
      order: -99;
    }

    @at-root #{$ui-prefix}-align-right#{&} {
      right: 0;
      align-items: flex-start;
    }

    @at-root #{$ui-prefix}-align-left#{&} {
      left: 0;
      align-items: flex-end;
    }
  }

  #{$mode-class}#{$ui-prefix}-button-default {
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--fw-modal-background);
    box-shadow: var(--fw-modal-board-close-box-shadow);
    padding: calc((var(--fw-modal-board-close-size) - 1em) * 0.5);
    flex: 0 0 auto;
    margin-bottom: 0.5em;

    .symbol {
      margin: auto;
    }

    @at-root #{$ui-prefix}-align-right#{&} {
      left: 0;
      transform: translateX(-50%);
    }

    @at-root #{$ui-prefix}-align-left#{&} {
      right: 0;
      transform: translateX(50%);
    }
  }

  #{$mode-class}#{$ui-prefix}-resize {
    order: 99;
    &:hover {
      cursor: grab;
    }
  }

  #{$mode-class}#{$ui-prefix}-close {
    order: -99;
  }

  #{$mode-class}#{$ui-prefix}-popup {
    @extend %fwe-modal-scroller !optional;
    height: 100%;

    @at-root :is(#{$ui-prefix}-align-right)#{&} {
      padding-left: calc(
        var(--fw-modal-padding-x) + (var(--fw-modal-board-close-size) * 0.5)
      );
    }

    @at-root :is(#{$ui-prefix}-align-left)#{&} {
      padding-right: calc(
        var(--fw-modal-padding-x) + (var(--fw-modal-board-close-size) * 0.5)
      );
    }
  }
  #{$mode-class}#{$ui-prefix}-popup-content {
    // flex: 1 1;
    position: relative;
  }
}

// #{$mode-class}#{$ui-prefix}-on-fullscreen {
//   #{$ui-prefix}-button-wrapper {
//     width: auto !important;
//   }

//   #{$ui-prefix}-resize {
//     display: none;
//   }
// }
