
/*** MODAL FULLSCREEN ***/
$prefix: '.modal-ui';

[data-toggle-modal-fullscreen] {
  @include dump-styles(data-toggle);
}

#{$prefix}#{$prefix}-mode-fullscreen {
  z-index: $z-index-modal-fullscreen;

  #{$prefix}-wrapper {
    @extend %for-modal-wrapper !optional;
    @extend %for-modal-scroller !optional;
    @extend %for-modal-scroller-no-scrollbar !optional;
    background: $modal-background;

    .theme-inverse & {
      background: $modal-background-inverse;
    }
  }

  #{$prefix}-close {
    & {
      position: fixed;
      right: $modal-close-offset;
      top: $modal-close-offset;
      z-index: 9;

      &-default {
        font-size: $modal-close-button-font-size;
      }

      @include br(#{$mobile-br-max}-max) {
        right: $modal-close-offset-mobile;
        top: $modal-close-offset-mobile;
      }
    }
  }

  #{$prefix}-popup {
    margin: auto;

    padding: $modal-padding-y $modal-padding-x;

    @include br(#{$mobile-br-max}-max) {
      padding: $modal-padding-y-mobile $modal-padding-x-mobile;
    }
  }
}
