// [data-toggle-modal] {
//   @include dump-styles(data-toggle);
// }
%fwe-modal {
  & {
    text-align: initial;
  }

  //ui block where scrolling is allowed
  &-scroller {
    overflow-y: scroll;

    //ui block where there should be no scrollibois
    &-no-scrollbar {
      @include dump-styles(no-scrollbar);
    }
  }

  //ui wrapper
  &-wrapper {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    min-height:100% !important;
    height:auto !important;
    width:100% !important;
    &-background {
      background: $modal-overlay-bg;
    }
  }

  //duh
  &-close-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  //content wrapper
  &-popup {
    backface-visibility: hidden;
    position: relative;
    z-index: 2;
    max-width: 100%;
    background: $modal-background;

    .theme-inverse & {
      background: $modal-background-inverse;
    }

    &-shadow {
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
    }
  }
}
$prefix: '.modal';
.modal {
  @extend %fwe-modal !optional;
  &:not(.active) {
    @include dump-styles(hide-js-friendly);
  }

  &-ui {
    & {
      position: fixed;
    }
    &-wrapper {
      @extend %fwe-modal-wrapper !optional;
    }

    &-center-y &-wrapper {
      display: flex;
      flex-wrap:wrap;
      align-items: center;
    }

    &-title {
      margin-top: 0;
    }

    &-close-overlay {
      @extend %fwe-modal-close-overlay !optional;
    }

    &-popup {
      @extend %fwe-modal-popup !optional;
      @extend %fwe-modal-popup-shadow !optional;
    }

    #{&}-on-fullscreen & {
      &-wrapper {
        padding: 0 !important;
      }
      &-button-wrapper {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 10px;
        top: 0;
        z-index: 9;
        padding: $gutter-small;
      }
      &-close {
        order: -99;
      }
      &-button {
        margin: 0 0 1em;

        &-default {
          font-size: $modal-close-button-font-size;
        }
      }
      &-popup {
        width: 100% !important;
        height: 100% !important;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        overflow-y: scroll;
        padding: $modal-fullscreen-padding-y $modal-fullscreen-padding-x;

        #{$prefix}-constricted &,
        #{$prefix}-constricted-x & {
          padding-left: 0;
          padding-right: 0;
        }
        #{$prefix}-constricted &,
        #{$prefix}-constricted-y & {
          padding-top: 0;
          padding-bottom: 0;
        }

        @include on-breakpoint(nonmobile) {
          #{$prefix}-expanded & {
            padding: $modal-fullscreen-expanded-padding-y
              $modal-fullscreen-expanded-padding-x;
          }
          #{$prefix}-compact & {
            padding: $modal-fullscreen-compact-padding-y
              $modal-fullscreen-compact-padding-x;
          }
        }

        @include on-breakpoint(mobile) {
          padding: $modal-fullscreen-padding-y-mobile $modal-fullscreen-padding-x-mobile;
        }

        &-content {
          width:100%;
          flex: 1 1;
        }
      }
    }
  }
}
