/*** MODAL ***/
$prefix: '.modal';
#{$prefix} {
	display:none!important;

		&-wrapper {
			@extend %for-modal-wrapper !optional;
			@extend %for-modal-scroller !optional;
			@extend %for-modal-scroller-no-scrollbar !optional;
			z-index: 99999;

			padding: $modal-gutter;

			@include br(#{$mobile-br-max}-max) {
				padding: $modal-gutter-mobile;
			}
		}
		&-title {
			margin-top:0;
		}

		&-close {
			& {
				position:absolute;
				right: $modal-close-offset;
				top: $modal-close-offset;
				z-index:9;

				&-default {
					font-size: $modal-close-button-font-size;
				}

				
				@include br(#{$mobile-br-max}-max) {
					right: $modal-close-offset-mobile;
					top: $modal-close-offset-mobile;
				}
			}
			&-overlay {
				@extend %for-modal-overlay !optional;


				&:not([data-toggle="modal-close"]) {
					@extend %for-modal-overlay-not-closeable !optional;
				}
			}
		}

	&-popup {
		@extend %for-modal-popup !optional;
		border-radius: $modal-border-radius;
		margin: auto;

		padding: $modal-padding-y $modal-padding-x;

		@include br(#{$mobile-br-max}-max) {
			padding: $modal-padding-y-mobile $modal-padding-x-mobile;
		}
	}
}