/*** MODAL FULLSCREEN ***/
$global-prefix: '.modal';
$prefix: '.modal-ui';
$mode-class: #{$prefix}-mode-fullscreen;

[data-toggle-modal-fullscreen] {
  @include dump-styles(data-toggle);
}

#{$mode-class}#{$prefix} {
  z-index: $z-index-modal-fullscreen;
}

#{$mode-class}#{$prefix}-wrapper {
  @extend %fwe-modal-wrapper !optional;
  @extend %fwe-modal-scroller !optional;
  @extend %fwe-modal-scroller-no-scrollbar !optional;
  background: $modal-background;

  .theme-inverse & {
    background: $modal-background-inverse;
  }
}

#{$mode-class}#{$prefix}-close {
  & {
    position: fixed;
    right: $modal-close-offset;
    top: $modal-close-offset;
    z-index: 9;

    &-default {
      font-size: $modal-close-button-font-size;
    }

    @include on-breakpoint(mobile) {
      right: $modal-close-offset-mobile;
      top: $modal-close-offset-mobile;
    }
  }
}

#{$mode-class}#{$prefix}-popup {
  margin: auto;

  padding: $modal-padding-y $modal-padding-x;

  @include on-breakpoint(mobile) {
    padding: $modal-padding-y-mobile $modal-padding-x-mobile;
  }
}
