/*** MODAL BOARD ***/
$prefix: '.modal-ui';
$mode-class: #{$prefix}-mode-board;

[data-toggle-modal-board] {
  @include dump-styles(data-toggle);
}

#{$mode-class}#{$prefix} {
  z-index: $z-index-modal-board;
}

#{$mode-class}#{$prefix}-wrapper {
  @extend %for-modal-wrapper-background !optional;
  #{$prefix}-align-right & {
    padding-left: $modal-board-padding-spacer;
    #{$prefix}-popup,
    #{$prefix}-button-wrapper {
      margin-left: auto;
    }

    #{$prefix}-popup {
      padding-left: calc((#{$calculated-board-close-size} * 0.5) + #{$modal-padding-x});
    }
  }
  #{$prefix}-align-left & {
    padding-right: $modal-board-padding-spacer;
    #{$prefix}-popup,
    #{$prefix}-button-wrapper {
      margin-right: auto;
    }

    #{$prefix}-popup {
      padding-right: calc(
        (#{$calculated-board-close-size} * 0.5) + #{$modal-padding-x}
      );
    }
  }

  @include on-breakpoint(mobile) {
    #{$prefix}-align-right & {
      padding-left: $modal-board-padding-spacer-mobile;

      #{$prefix}-popup {
        padding-left: calc(
          (#{$calculated-board-close-size} * 0.5) + #{$modal-padding-x-mobile}
        );
      }
    }
    #{$prefix}-align-left & {
      padding-right: $modal-board-padding-spacer-mobile;

      #{$prefix}-popup {
        padding-right: calc(
          (#{$calculated-board-close-size} * 0.5) + #{$modal-padding-x-mobile}
        );
      }
    }
  }
}

#{$mode-class}#{$prefix}-button {
  &-wrapper {
    position: fixed;
    z-index: 3;
    justify-content: flex-start;
    display: flex;
    height: 0;
    flex-wrap: nowrap;
    overflow: visible;
    top: 0;
    width: 100%;
    max-width: calc(100% - #{$modal-board-padding-spacer});
    flex-direction: column;

    &:before {
      content: '';
      display: inline-block;
      pointer-events: none;
      flex: 0 0 auto;
      height: $modal-board-close-offset-y;
      width: 0;
    }

    @include on-breakpoint(mobile) {
      max-width: calc(100% - #{$modal-board-padding-spacer-mobile});

      &:before {
        height: $modal-board-close-offset-y-mobile;
      }
    }

    #{$prefix}-align-right & {
      right: 0;
      align-items: flex-start;
    }

    #{$prefix}-align-left & {
      left: 0;
      align-items: flex-end;
    }
  }

  & {
    position: relative;
    z-index: 9;

    &-default {
      border: none;
      outline: none;
      font-size: $modal-board-close-button-font-size;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: $modal-background;
      box-shadow: $modal-board-close-box-shadow;
      // width: $calculated-board-close-width;
      // height: $calculated-board-close-height;
      padding: calc((#{$calculated-board-close-size} - 1em) * 0.5);
      flex: 0 0 auto;
      margin-bottom: 0.5em;

      .symbol {
        margin: auto;
      }

      .theme-inverse & {
        background: $modal-background-inverse;
      }

      #{$prefix}-align-right & {
        left: 0;
        transform: translateX(-50%);
      }

      #{$prefix}-align-left & {
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}

#{$mode-class}#{$prefix}-resize {
  &:hover {
    cursor: grab;
  }
}

#{$mode-class}#{$prefix}-close {
}

#{$mode-class}#{$prefix}-popup {
  @extend %for-modal-scroller !optional;
  @extend %for-modal-popup-shadow !optional;
  height: 100%;

  padding: $modal-board-padding-y $modal-board-padding-x;

  @include on-breakpoint(mobile) {
    padding: $modal-board-padding-y-mobile $modal-board-padding-x-mobile;
  }

  &-content {
    // flex: 1 1;
    position: relative;
  }
}
