
.display {
  &-block {
    display: block !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-inline {
    display: inline !important;
  }
  &-none {
    @include dump-styles(display-none-important);
  }
}