$fwc-alert-schemes: (
  default: (
    background: $alert-background-default,
    border: $alert-border-default,
    color: $alert-color-default,
  ),
  primary: (
    background: $alert-background-primary,
    border: $alert-border-primary,
    color: $alert-color-primary,
  ),
  secondary: (
    background: $alert-background-secondary,
    border: $alert-border-secondary,
    color: $alert-color-secondary,
  ),
  accent: (
    background: $alert-background-accent,
    border: $alert-border-accent,
    color: $alert-color-accent,
  ),
  neutral: (
    background: $alert-background-neutral,
    border: $alert-border-neutral,
    color: $alert-color-neutral,
  ),
  success: (
    background: $alert-background-success,
    border: $alert-border-success,
    color: $alert-color-success,
  ),
  caution: (
    background: $alert-background-caution,
    border: $alert-border-caution,
    color: $alert-color-caution,
  ),
  error: (
    background: $alert-background-error,
    border: $alert-border-error,
    color: $alert-color-error,
  ),
);

$prefix: '.alert';

:root {
  // :where(#{$prefix})
  // --fw-alert-border-radius: #{$alert-border-radius};
  --fw-alert-border-width: #{$alert-border-width};
  --fw-alert-box-shadow: #{$alert-box-shadow};

  --fw-alert-gutter-x: #{$alert-gutter-x};
  --fw-alert-gutter-y: #{$alert-gutter-y};
  --fw-alert-ends-gutter-y: #{$alert-ends-gutter-y};

  --fw-alert-background: transparent;
  --fw-alert-border-color: transparent;
  --fw-alert-color: inherit;

  --fw-alert-container-padding-x: #{$alert-container-padding-x};
  --fw-alert-container-padding-y: #{$alert-container-padding-y};
  --fw-alert-container-max-width: #{$alert-container-max-width};
  --fw-alert-container-z-index: #{$z-index-alert-container};

  @include on-breakpoint(mobile) {
    --fw-alert-container-padding-x: #{$alert-container-padding-x-mobile};
    --fw-alert-container-padding-y: #{$alert-container-padding-y-mobile};
  }
}

:is([data-toggle-alert-close], [data-toggle-alert-close-all]) {
  @include dump-styles(data-toggle);
}

#{$prefix}-container {
  z-index: var(--fw-alert-container-z-index);
  padding-top: var(--fw-alert-container-padding-y);
  padding-bottom: var(--fw-alert-container-padding-y);
  padding-left: var(--fw-alert-container-padding-x);
  padding-right: var(--fw-alert-container-padding-x);
  max-width: var(--fw-alert-container-max-width);
  border-color: var(--fw-alert-border-color);
  color: var(--fw-alert-color);
  background: var(--fw-alert-background);
  position: fixed;
  width: 100%;

  &#{$prefix}-top {
    top: 0;
  }

  &#{$prefix}-bottom {
    bottom: 0;
  }

  &#{$prefix}-left {
    left: 0;
  }

  &#{$prefix}-right {
    right: 0;
  }
}

#{$prefix} {
  border: var(--fw-alert-border-width, #{#{$alert-border-width}}) solid
    var(--fw-alert-border-color, currentColor);
  background-color: var(--fw-alert-background, transparent);
  color: var(--fw-alert-color, inherit);
  box-shadow: var(--fw-alert-box-shadow, #{$alert-box-shadow});
  position: relative;
  @include dump-styles(cf);

  :where(a) {
    color: inherit;
    font-weight: $body-font-weight-bold;
  }
}

#{$prefix}-small {
  --fw-alert-gutter-x: #{$alert-gutter-x-small};
  --fw-alert-gutter-y: #{$alert-gutter-y-small};
  --fw-alert-ends-gutter-y: #{$alert-ends-gutter-y-small};
  font-size: $var-body-font-size-small;
}

#{$prefix}-large {
  --fw-alert-gutter-x: #{$alert-gutter-x-large};
  --fw-alert-gutter-y: #{$alert-gutter-y-large};
  --fw-alert-ends-gutter-y: #{$alert-ends-gutter-y-large};
  font-size: $var-body-font-size-large;
}

@each $tag, $color in $fwc-alert-schemes {
  #{$prefix}-#{$tag} {
    --fw-alert-border-color: #{map-get($color, border)};
    --fw-alert-color: #{map-get($color, color)};
    --fw-alert-background: #{map-get($color, background)};
  }
}

@at-root #{$prefix}-close {
  // position:absolute;
  // top:$alert-gutter-y;
  // right:$alert-gutter-x;
  float: right;
  color: inherit;
  opacity: 0.8;
  margin-left: 1em;
  transition-duration: $alert-close-transition-duration;
  transition-timing-function: $alert-close-transition-timing;
  transition-property: opacity;
  transition: $alert-close-transition-duration opacity $alert-close-transition-timing;

  &:is(:hover, :focus, .focus) {
    opacity: 1;
  }

  :is(#{$prefix}-header, #{$prefix}-footer) & {
    vertical-align: middle;
    font-size: 0.875em;
  }
}

:is(#{$prefix}, #{$prefix}-header, #{$prefix}-content, #{$prefix}-footer) {
  padding-left: var(--fw-alert-gutter-x, #{$alert-gutter-x});
  padding-right: var(--fw-alert-gutter-x, #{$alert-gutter-x});
  @include dump-styles(cf);
}

:is(#{$prefix}, #{$prefix}-content) {
  padding-top: var(--fw-alert-gutter-y, #{$alert-gutter-y});
  padding-bottom: var(--fw-alert-gutter-y, #{$alert-gutter-y});
}

#{$prefix}-content {
  padding-top: var(--fw-alert-gutter-y, #{$alert-gutter-y});
  padding-bottom: var(--fw-alert-gutter-y, #{$alert-gutter-y});
  max-width: calc(100% + (var(--fw-alert-gutter-x, #{$alert-gutter-x}) * 2));
  resize: none;
  width: auto;
  -webkit-appearance: none;
  display: block;
  outline: none;
}

:is(#{$prefix}-header, #{$prefix}-footer) {
  padding-bottom: var(--fw-alert-ends-gutter-y);
  padding-top: var(--fw-alert-ends-gutter-y);
}

#{$prefix},
:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):first-child {
  border-top-left-radius: var(--fw-alert-border-radius, #{$alert-border-radius});
  border-top-right-radius: var(--fw-alert-border-radius, #{$alert-border-radius});
}

#{$prefix},
:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):last-child {
  border-bottom-left-radius: var(--fw-alert-border-radius, #{$alert-border-radius});
  border-bottom-right-radius: var(--fw-alert-border-radius, #{$alert-border-radius});
}
:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer) {
  margin-left: calc(var(--fw-alert-gutter-x) * -1);
  margin-right: calc(var(--fw-alert-gutter-x) * -1);
}

:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):first-child {
  margin-top: calc(var(--fw-alert-gutter-y) * -1);
}

:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):last-child {
  margin-bottom: calc(var(--fw-alert-gutter-y) * -1);
}

#{$prefix}-header:nth-last-child(n + 2) {
  border-bottom: var(--fw-alert-border-width, #{#{$alert-border-width}}) solid
    var(--fw-alert-border-color);
}

#{$prefix}-footer:nth-child(n + 2) {
  border-top: var(--fw-alert-border-width, #{#{$alert-border-width}}) solid
    var(--fw-alert-border-color);
}

#{$prefix}-title {
  @include type-set(
    (
      leading: inherit,
      size: 1em,
      color: $alert-title-color,
      case: $alert-title-text-transform,
      weight: $alert-title-font-weight,
      style: $alert-title-font-style,
    )
  );
  margin: 0;
  float: left;
  max-width: 80%;
}
