@use 'sass:math';

$fwc-asset-palettes: (
  default: $asset-image-default-palette-tag,
  audio: $asset-image-audio-palette-tag,
  code: $asset-image-code-palette-tag,
  text: $asset-image-text-palette-tag,
  doc: $asset-image-doc-palette-tag,
  font: $asset-image-font-palette-tag,
  img: $asset-image-img-palette-tag,
  ps: $asset-image-ps-palette-tag,
  ai: $asset-image-ai-palette-tag,
  xd: $asset-image-xd-palette-tag,
  pdf: $asset-image-pdf-palette-tag,
  id: $asset-image-id-palette-tag,
  table: $asset-image-table-palette-tag,
  video: $asset-image-video-palette-tag,
  zip: $asset-image-zip-palette-tag,
);

$prefix: '.asset';

:root {
  // :where(#{$prefix})
  // --fw-asset-width: #{rem($asset-width, $body-font-size)};

  --fw-asset-functions-offset-y: #{rem($asset-functions-offset-y, $body-font-size)};

  --fw-asset-thumbnail-aspect-width: #{strip-unit($asset-thumbnail-aspect-width)};
  --fw-asset-thumbnail-aspect-height: #{strip-unit($asset-thumbnail-aspect-height)};
  --fw-asset-thumbnail-background: #{$asset-thumbnail-background};
  --fw-asset-thumbnail-box-shadow: #{$asset-thumbnail-box-shadow};
  --fw-asset-thumbnail-box-shadow-hover: #{$asset-thumbnail-box-shadow-hover};
  --fw-asset-thumbnail-margin-bottom: #{rem(
      $asset-thumbnail-margin-bottom,
      $body-font-size
    )};
  // --fw-asset-thumbnail-background: #{$asset-thumbnail-background};
  --fw-asset-thumbnail-border-radius: #{$asset-thumbnail-border-radius};

  --fw-asset-image-border-color: #{$asset-image-border-color};
  --fw-asset-image-border-width: #{$asset-image-border-width};

  //internal motherfucks

  --fw-asset-image-background-color-1: transparent;
  --fw-asset-image-background-color-2: transparent;

  --fw-asset-image-before-width: 33.33%;
  --fw-asset-image-before-content: attr(data-asset-extension);

  --fw-asset-image-after-color: inherit;
  --fw-asset-image-after-background-image: none;
  --fw-asset-image-after-background-color: none;

  --fw-asset-image-after-ratio-x: 0.4;
  --fw-asset-image-after-ratio-y: 0.5;
  --fw-asset-image-after-width: auto;
  --fw-asset-image-after-height: auto;

  --fw-asset-image-after-top: 0;
  --fw-asset-image-after-bottom: 0;
  --fw-asset-image-after-left: auto;
  --fw-asset-image-after-right: auto;

  --fw-asset-image-after-background-position-x: 0%;
  --fw-asset-image-after-background-position-y: 0%;

  --fw-asset-image-after-background-size-x: 100%;
  --fw-asset-image-after-background-size-y: 100%;

  --fw-asset-image-after-background-repeat: repeat;
}

#{$prefix} {
  max-width: 100%;
  width: var(--fw-asset-width, #{rem($asset-width, $body-font-size)});
  color: inherit;
  display: inline-block;
  position: relative;
}

:is(#{$prefix}-thumbnail, #{$prefix}-title, #{$prefix}-caption) {
  display: block;
  margin: 0;
}

#{$prefix}-thumbnail {
  width: 100%;
  position: relative;
  box-shadow: var(--fw-asset-thumbnail-box-shadow);
  margin-bottom: var(--fw-asset-thumbnail-margin-bottom);
  background: var(--fw-asset-thumbnail-background, #{$asset-thumbnail-background});
  border-radius: var(--fw-asset-thumbnail-border-radius);
  overflow: hidden;

  :where(img) {
    display: block;
    width: 100%;
  }

  &:not(#{$prefix}-freeform) {
    @include create-aspect-ratio(
      var(--fw-asset-thumbnail-aspect-width),
      var(--fw-asset-thumbnail-aspect-height)
    );

    & > :is(img, #{$prefix}-thumbnail-image) {
      z-index: 1;
      @include dump-styles(fit-image-cover-child);
    }
  }

  > :where(*) {
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &:is(:hover, :focus, .focus) {
    box-shadow: var(--fw-asset-thumbnail-box-shadow-hover);
  }
}

#{$prefix}-functions {
  z-index: 2;
  position: absolute;
  top: var(--fw-asset-functions-offset-y);
  right: 0;
  opacity: 0;
  text-align: center;
  transform: translateX(50%);

  #{$prefix}:is(:hover, :focus, .focus) & {
    opacity: 1;
  }
}

#{$prefix}-function {
  margin-bottom: 0.25rem;
}

#{$prefix}-image {
  border: var(--fw-asset-image-border-width) solid var(--fw-asset-image-border-color);
  border-radius: var(--fw-asset-thumbnail-border-radius);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  @include gradient(
    (
      angle: 90deg,
      use-fallback: false,
      use-shorthand: false,
      colors: (
        (color: var(--fw-asset-image-background-color-1), offset: 0),
        (
          color: var(--fw-asset-image-background-color-1),
          offset: var(--fw-asset-image-before-width)
        ),
        (
          color: var(--fw-asset-image-background-color-2),
          offset: var(--fw-asset-image-before-width)
        ),
        (color: var(--fw-asset-image-background-color-2), offset: 100%),
      ),
    )
  );

  &:before,
  &:after {
    content: '';
    position: absolute;
    margin: auto;
  }

  &:before {
    @include type-set(
      (
        root-size: $body-font-size,
        size: $asset-image-glyph-size,
        leading: 1,
        color: $asset-image-glyph-color,
        case: $asset-image-glyph-text-transform,
        weight: $asset-image-glyph-font-weight,
      )
    );
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 0;
    width: var(--fw-asset-image-before-width);
    top: 0;
    bottom: 0;
    content: var(--fw-asset-image-before-content);
  }

  &:after {
    opacity: 0.5;
    margin: auto;
    color: var(--fw-asset-image-after-color);
    background-image: var(--fw-asset-image-after-background-image);
    background-color: var(--fw-asset-image-after-background-color);
    width: var(--fw-asset-image-after-width);
    height: var(--fw-asset-image-after-height);
    background-position: var(
      --fw-asset-image-after-background-position,
      var(--fw-asset-image-after-background-position-x, 100%)
        var(--fw-asset-image-after-background-position-y, 100%)
    );
    background-size: var(
      --fw-asset-image-after-background-size,
      var(--fw-asset-image-after-background-size-x, 100%)
        var(--fw-asset-image-after-background-size-y, 100%)
    );
    background-repeat: var(--fw-asset-image-after-background-repeat);
    top: var(--fw-asset-image-after-top);
    bottom: var(--fw-asset-image-after-bottom);
    left: var(--fw-asset-image-after-left);
    right: var(--fw-asset-image-after-right);
  }

  &[data-asset-extension] {
    &:before {
      text-transform: none;
    }
  }

  //img
  &:is(#{&}-xd, #{&}-ai, #{&}-ps, #{&}-img) {
    --fw-asset-image-after-width: 40%;
    --fw-asset-image-after-height: 65%;
    --fw-asset-image-after-top: 0;
    --fw-asset-image-after-bottom: 0;
    --fw-asset-image-after-left: var(--fw-asset-image-before-width);
    --fw-asset-image-after-right: 0;
    --fw-asset-image-after-background-color: #{$var-color-background};
    --fw-asset-image-after-background-image:
      /* bottom-left */ linear-gradient(
        27deg,
        currentColor 22%,
        transparent 22%
      ),
      /* middle-right */ linear-gradient(-27deg, currentColor 33%, transparent 33%),
      /* moon */ radial-gradient(circle at 35% 35%, currentColor 11%, transparent 11.5%);
  }

  //striped base
  &:is(#{&}-audio, #{&}-table, #{&}-code, #{&}-doc, #{&}-text, #{&}-id, #{&}-pdf) {
    --fw-asset-image-after-width: calc(100% * var(--fw-asset-image-after-ratio-x));
    --fw-asset-image-after-height: calc(100% * var(--fw-asset-image-after-ratio-y));
    --fw-asset-image-after-left: var(--fw-asset-image-before-width);
    --fw-asset-image-after-right: 0;
    --fw-asset-image-after-top: 0;
    --fw-asset-image-after-bottom: 0;
    --fw-asset-image-after-stripe: #{percentage(math.div(math.div(100, 9), 100))};
    --fw-asset-image-after-stripe-x: calc(
      var(--fw-asset-image-after-stripe) *
        (
          (
              var(--fw-asset-thumbnail-aspect-height) *
                var(--fw-asset-image-after-ratio-y)
            ) /
            (
              var(--fw-asset-thumbnail-aspect-width) *
                var(--fw-asset-image-after-ratio-x)
            )
        )
    );
  }

  // layout
  &:is(#{&}-id, #{&}-pdf) {
    --fw-asset-image-after-background-image:
      /* img */ repeating-linear-gradient(
        180deg,
        currentColor 0,
        currentColor calc(var(--fw-asset-image-after-stripe) * 5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5),
        transparent 100%
      ),
      /* lines below */
        repeating-linear-gradient(
          180deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 5),
          transparent calc(var(--fw-asset-image-after-stripe) * 5),
          transparent calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 7),
          transparent calc(var(--fw-asset-image-after-stripe) * 7),
          transparent calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor 100%
        ),
      /* right col */
        repeating-linear-gradient(
          180deg,
          currentColor 0,
          currentColor calc(var(--fw-asset-image-after-stripe)),
          transparent calc(var(--fw-asset-image-after-stripe)),
          transparent calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 3),
          transparent calc(var(--fw-asset-image-after-stripe) * 3),
          transparent calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 5),
          transparent calc(var(--fw-asset-image-after-stripe) * 5),
          transparent calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 7),
          transparent calc(var(--fw-asset-image-after-stripe) * 7),
          transparent calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor 100%
        );

    --fw-asset-image-after-background-size-x: calc(
      (100% - var(--fw-asset-image-after-stripe-x)) * 0.5
    );
    --fw-asset-image-after-background-position-x: 0%;
    --fw-asset-image-after-background-position-y: 0%;
    --fw-asset-image-after-background-position: var(
          --fw-asset-image-after-background-position-x
        )
        var(--fw-asset-image-after-background-position-y),
      var(--fw-asset-image-after-background-position-x)
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-y) + 100%)
        var(--fw-asset-image-after-background-position-y);
    --fw-asset-image-after-background-repeat: repeat-y;
  }

  &:is(#{&}-doc, #{&}-text) {
    --fw-asset-image-after-background-image:
      /* ebry oder line */ repeating-linear-gradient(
        180deg,
        currentColor 0,
        currentColor calc(var(--fw-asset-image-after-stripe)),
        transparent calc(var(--fw-asset-image-after-stripe)),
        transparent calc(var(--fw-asset-image-after-stripe) * 2),
        currentColor calc(var(--fw-asset-image-after-stripe) * 2),
        currentColor calc(var(--fw-asset-image-after-stripe) * 3),
        transparent calc(var(--fw-asset-image-after-stripe) * 3),
        transparent calc(var(--fw-asset-image-after-stripe) * 4),
        currentColor calc(var(--fw-asset-image-after-stripe) * 4),
        currentColor calc(var(--fw-asset-image-after-stripe) * 5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5),
        transparent calc(var(--fw-asset-image-after-stripe) * 6),
        currentColor calc(var(--fw-asset-image-after-stripe) * 6),
        currentColor calc(var(--fw-asset-image-after-stripe) * 7),
        transparent calc(var(--fw-asset-image-after-stripe) * 7),
        transparent 100%
      ),
      /* last line */
        repeating-linear-gradient(
          180deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor 100%
        );
    --fw-asset-image-after-background-size: var(
          --fw-asset-image-after-background-size-x
        )
        var(--fw-asset-image-after-background-size-y),
      calc(var(--fw-asset-image-after-background-size-x) * 0.6)
        var(--fw-asset-image-after-background-size-y);
    --fw-asset-image-after-background-repeat: repeat-y;
  }

  &:is(#{&}-default) {
    &:before {
      content: '?';
    }

    &:after {
      --fw-asset-image-after-width: calc(
        100% * (40 / var(--fw-asset-thumbnail-aspect-width))
      );
      --fw-asset-image-after-height: calc(
        100% * (40 / var(--fw-asset-thumbnail-aspect-height))
      );
      /* right: auto; */
      bottom: auto;
      left: auto;
      right: 0;
      top: 0;
      opacity: 0.75;

      @include gradient(
        (
          angle: 45deg,
          colors: (
            (color: $var-color-background, offset: 0),
            (color: $var-color-background, offset: 50%),
            (color: currentColor, offset: 50%),
            (color: currentColor, offset: 0),
          ),
        )
      );
    }
  }

  &:is(#{&}-audio) {
    --fw-asset-image-before-content: '\266B';

    --fw-asset-image-after-background-image:
      /* line 1,8 */ repeating-linear-gradient(
        90deg,
        currentColor 0,
        currentColor calc(var(--fw-asset-image-after-stripe) * 0.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 0.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 7),
        currentColor calc(var(--fw-asset-image-after-stripe) * 7),
        currentColor calc(var(--fw-asset-image-after-stripe) * 7.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 7.5),
        transparent 100%
      ),
      /* 2,6,10 */
        repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 1),
          currentColor calc(var(--fw-asset-image-after-stripe) * 1),
          currentColor calc(var(--fw-asset-image-after-stripe) * 1.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 1.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 5),
          currentColor calc(var(--fw-asset-image-after-stripe) * 5),
          currentColor calc(var(--fw-asset-image-after-stripe) * 5.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 5.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 9),
          currentColor calc(var(--fw-asset-image-after-stripe) * 9),
          currentColor calc(var(--fw-asset-image-after-stripe) * 9.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 9.5),
          transparent 100%
        ),
      /* 3 */
        repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 2.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 2.5),
          transparent 100%
        ),
      /* 4,9 */
        repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 3),
          currentColor calc(var(--fw-asset-image-after-stripe) * 3),
          currentColor calc(var(--fw-asset-image-after-stripe) * 3.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 3.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor calc(var(--fw-asset-image-after-stripe) * 8),
          currentColor calc(var(--fw-asset-image-after-stripe) * 8.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 8.5),
          transparent 100%
        ),
      /* 5 */
        repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 4),
          currentColor calc(var(--fw-asset-image-after-stripe) * 4.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 4.5),
          transparent 100%
        ),
      /* 7 */
        repeating-linear-gradient(
          90deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 0.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 6.5),
          transparent calc(var(--fw-asset-image-after-stripe) * 6.5),
          transparent 100%
        );

    --fw-asset-image-after-background-position-y: 50%;
    --fw-asset-image-after-background-repeat: repeat-x;
    --fw-asset-image-after-background-size-x: calc(
      100% *
        (
          (
              var(--fw-asset-thumbnail-aspect-height) *
                var(--fw-asset-image-after-ratio-y) * 2
            ) /
            (
              var(--fw-asset-thumbnail-aspect-width) *
                var(--fw-asset-image-after-ratio-x)
            )
        )
    );
    --fw-asset-image-after-background-size: var(
          --fw-asset-image-after-background-size-x
        )
        calc(var(--fw-asset-image-after-background-size-y) * 0.2),
      var(--fw-asset-image-after-background-size-x)
        calc(var(--fw-asset-image-after-background-size-y) * 0.5),
      var(--fw-asset-image-after-background-size-x)
        calc(var(--fw-asset-image-after-background-size-y) * 0.3),
      var(--fw-asset-image-after-background-size-x)
        calc(var(--fw-asset-image-after-background-size-y) * 0.6),
      var(--fw-asset-image-after-background-size-x)
        calc(var(--fw-asset-image-after-background-size-y)),
      var(--fw-asset-image-after-background-size-x)
        calc(var(--fw-asset-image-after-background-size-y) * 0.8);
  }

  &:is(#{&}-code) {
    --fw-asset-image-before-content: '</>';

    --fw-asset-image-after-background-image:
      /* line 1 line 2 */ repeating-linear-gradient(
        180deg,
        currentColor 0,
        currentColor calc(var(--fw-asset-image-after-stripe)),
        transparent calc(var(--fw-asset-image-after-stripe)),
        transparent calc(var(--fw-asset-image-after-stripe) * 4),
        currentColor calc(var(--fw-asset-image-after-stripe) * 4),
        currentColor calc(var(--fw-asset-image-after-stripe) * 5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5),
        transparent 100%
      ),
      /* line 2 and 4 */
        repeating-linear-gradient(
          180deg,
          transparent 0,
          transparent calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 2),
          currentColor calc(var(--fw-asset-image-after-stripe) * 3),
          transparent calc(var(--fw-asset-image-after-stripe) * 3),
          transparent calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 6),
          currentColor calc(var(--fw-asset-image-after-stripe) * 7),
          transparent calc(var(--fw-asset-image-after-stripe) * 7),
          transparent 100%
        ),
      repeating-linear-gradient(
        180deg,
        transparent 0,
        transparent calc(var(--fw-asset-image-after-stripe) * 8),
        currentColor calc(var(--fw-asset-image-after-stripe) * 8),
        currentColor 100%
      );

    --fw-asset-image-after-background-size-x: 60%;
    --fw-asset-image-after-background-position: var(
          --fw-asset-image-after-background-position-x
        )
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-x) + 50%)
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-x) + 100%)
        var(--fw-asset-image-after-background-position-y);
    --fw-asset-image-after-background-repeat: repeat-y;
  }

  &:is(#{&}-text) {
    --fw-asset-image-before-content: 'tx';
  }

  &:is(#{&}-doc) {
    --fw-asset-image-before-content: 'w';
  }

  &:is(#{&}-font) {
    --fw-asset-image-before-content: 'f';

    &:before {
      content: 'f';
    }

    &:after {
      @include type-set(
        (
          size: 3.25rem,
          leading: 1,
          font: serif,
          style: italic,
          align: center,
          weight: 300,
        )
      );
      content: 'Aa';
      white-space: nowrap;
      overflow: hidden;
      --fw-asset-image-after-width: calc(100% - var(--fw-asset-image-before-width));
      left: var(--fw-asset-image-before-width);
      height: 1em;
      margin: auto;
    }
  }

  &:is(#{&}-img) {
    --fw-asset-image-before-content: 'img';
  }

  &:is(#{&}-ps) {
    --fw-asset-image-before-content: 'ps';
  }

  &:is(#{&}-ai) {
    --fw-asset-image-before-content: 'ai';
  }

  &:is(#{&}-xd) {
    --fw-asset-image-before-content: 'xd';
  }

  &:is(#{&}-pdf) {
    --fw-asset-image-before-content: 'pdf';
  }

  &:is(#{&}-id) {
    --fw-asset-image-before-content: 'id';
  }

  &:is(#{&}-table) {
    --fw-asset-image-before-content: 'x';

    --fw-asset-image-after-background-image: linear-gradient(
        180deg,
        transparent 0,
        transparent calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 9.5),
        transparent 100%
      ),
      linear-gradient(
        180deg,
        transparent 0,
        transparent calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 9.5),
        transparent 100%
      ),
      linear-gradient(
        180deg,
        transparent 0,
        transparent calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 0.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 2.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 3.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 5.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 6.5),
        currentColor calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 8.5),
        transparent calc(var(--fw-asset-image-after-stripe) * 9.5),
        transparent 100%
      );
    --fw-asset-image-after-background-size-x: calc(
      (100% - (var(--fw-asset-image-after-stripe-x) * 2)) * 0.33
    );
    --fw-asset-image-after-background-position-y: calc(
      var(--fw-asset-image-after-stripe) * 0.5
    );
    --fw-asset-image-after-background-position: var(
          --fw-asset-image-after-background-position-x
        )
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-x) + 50%)
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-x) + 100%)
        var(--fw-asset-image-after-background-position-y);
    --fw-asset-image-after-background-repeat: no-repeat;
  }

  &:is(#{&}-video) {
    --fw-asset-image-after-width: 8%;
    --fw-asset-image-after-height: 100%;
    --fw-asset-image-after-background-image: repeating-linear-gradient(
      0deg,
      transparent 0,
      transparent 25%,
      currentColor 25%,
      currentColor 75%,
      transparent 75%
    );
    --fw-asset-image-after-background-size-y: 20%;
    --fw-asset-image-after-left: 40%;
    --fw-asset-image-after-right: auto;
  }

  &:is(#{&}-zip) {
    --fw-asset-image-before-content: 'z';
    --fw-asset-image-after-width: calc(
      100% * (20 / var(--fw-asset-thumbnail-aspect-width))
    );
    --fw-asset-image-after-left: 44%;
    --fw-asset-image-after-background-image: repeating-linear-gradient(
        0deg,
        currentColor 0,
        currentColor 50%,
        transparent 50%,
        transparent 100%
      ),
      repeating-linear-gradient(
        0deg,
        transparent 0,
        transparent 50%,
        currentColor 50%,
        currentColor 100%
      );
    --fw-asset-image-after-background-size-x: 50%;
    --fw-asset-image-after-background-size-y: calc(
      100% * (20 / var(--fw-asset-thumbnail-aspect-height))
    );
    --fw-asset-image-after-background-position: var(
          --fw-asset-image-after-background-position-x
        )
        var(--fw-asset-image-after-background-position-y),
      calc(var(--fw-asset-image-after-background-position-x) + 100%)
        var(--fw-asset-image-after-background-position-y);
    --fw-asset-image-after-background-repeat: repeat-y;
  }

  @each $type, $tag in $fwc-asset-palettes {
    &-#{$type} {
      --fw-asset-image-background-color-1: var(--fw-color-#{$tag});
      --fw-asset-image-background-color-2: var(--fw-color-#{$tag}-alpha-2);
      --fw-asset-image-after-color: var(--fw-color-#{$tag});
    }
  }
}

#{$prefix}-title {
  @include type-set(
    (
      color: $asset-title-color,
      case: $asset-title-text-transform,
      weight: $asset-title-font-weight,
      style: $asset-title-font-style,
    )
  );
}

#{$prefix}-caption {
  @include type-set(
    (
      color: $asset-caption-color,
      case: $asset-caption-text-transform,
      weight: $asset-caption-font-weight,
      style: $asset-caption-font-style,
    )
  );
}
