$prefix: '.badge';

:root {
  // :where(#{$prefix})
  --fw-badge-border-width: #{$badge-border-width};
  --fw-badge-border-color: #{$badge-border-color};
  --fw-badge-box-shadow: #{$badge-box-shadow};

  --fw-badge-size: #{rem($badge-size, $body-font-size)};

  --fw-badge-background-color: transparent;
}

#{$prefix} {
  display: inline-block;
  vertical-align: middle;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; //retain dimensions
  line-height: inherit;
  width: var(--fw-badge-size);
  height: var(--fw-badge-size);
  border-radius: calc(var(--fw-badge-size) * 0.5);
  border: var(--fw-badge-border-width) solid var(--fw-badge-border-color);
  box-shadow: var(--fw-badge-box-shadow);
  background-color: var(--fw-badge-background-color);

  &#{$prefix}-latch {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    position: absolute;
  }
}

#{$prefix}-large {
  --fw-badge-size: #{rem($badge-size-large, $body-font-size)};
}
#{$prefix}-small {
  --fw-badge-size: #{rem($badge-size-small, $body-font-size)};
}

#{$prefix}-origin {
  position: relative;
}

@each $tag, $color in $fwc-brand-color-declarations-for-components {
  #{$prefix}-#{$tag} {
    --fw-badge-background-color: #{$color};
  }
}
