$prefix: '.container';

:root {
  // :where(#{$prefix})
  --container-gutter: #{$container-gutter};
  --container-max-width: #{$container-max-width};

  @include on-breakpoint(mobile) {
    --container-gutter: #{$container-gutter-mobile};
    --container-max-width: #{$container-max-width-mobile};
  }
}

#{$prefix} {
  width: 100%;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin: 0 auto;
  max-width: var(--container-max-width);

  #{$prefix}-fluid {
    --container-max-width: none;
  }

  @include on-breakpoint(nonmobile) {
    #{$prefix}-slim {
      --container-gutter: #{$container-gutter-slim};
    }
    #{$prefix}-wide {
      --container-gutter: #{$container-gutter-wide};
    }
  }
}
