:root {
  // :where(#{$prefix})
  --fw-dropdown-background: #{$dropdown-background};
  --fw-dropdown-border-radius: #{$dropdown-border-radius};
  --fw-dropdown-box-shadow: #{$dropdown-box-shadow};
  --fw-dropdown-color: #{$dropdown-color};
  --fw-dropdown-width: #{$dropdown-width};
  --fw-dropdown-z-index: #{$z-index-dropdown};

  --fw-dropdown-padding-x: #{$dropdown-padding-x};
  --fw-dropdown-padding-y: #{$dropdown-padding-y};

  --fw-dropdown-active-color: #{$dropdown-active-color};
}

[data-toggle-dropdown] {
  @include dump-styles(data-toggle);
}

$prefix: '.dropdown';
#{$prefix} {
  @include create-popper-styles(
    var(--fw-dropdown-background),
    var(--fw-dropdown-color),
    var(--fw-dropdown-padding-x),
    var(--fw-dropdown-padding-y),
    var(--fw-dropdown-border-radius),
    var(--fw-dropdown-box-shadow)
  );
  width: var(--fw-dropdown-width);
  display: none;
  transform-origin: center center;
  transform-style: preserve-3d;
  z-index: var(--fw-dropdown-z-index);
  overflow-y: auto;

  &#{$prefix}-expanded {
    --fw-dropdown-gutter-x: #{$dropdown-padding-x-expanded};
    --fw-dropdown-gutter-y: #{$dropdown-padding-y-expanded};
  }

  &#{$prefix}-compact {
    --fw-dropdown-gutter-x: #{$dropdown-padding-x-compact};
    --fw-dropdown-gutter-y: #{$dropdown-padding-y-compact};
  }

  &#{$prefix}-constricted {
    --fw-dropdown-gutter-x: 0rem;
    --fw-dropdown-gutter-y: 0rem;
  }

  &.open {
    display: block;
  }

  &,
  :where(ul, ol, li) {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
  }

  :where(ul, ol) {
    padding: 0;
  }

  &#{$prefix}-bottom {
    bottom: 0;

    &-flush {
      bottom: 100%;
    }
  }

  &#{$prefix}-top {
    top: 0;

    &-flush {
      top: 100%;
    }
  }

  &#{$prefix}-left {
    left: 0;

    &-flush {
      left: 100%;
    }
  }

  &#{$prefix}-right {
    right: 0;

    &-flush {
      right: 100%;
    }
  }

  &#{$prefix}-center {
    &-x {
      left: 50%;
      transform: translateX(-50%);
    }

    &-y {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &#{$prefix}-static {
    position: static;
    box-shadow: none;
    transform: none;
  }

  :where(li) {
    &.active {
      color: var(--fw-dropdown-active-color);
    }
    &:before {
      content: none;
    }
  }
}

@at-root hr#{$prefix}-separator {
  margin: 0.5em 0;
}
