/*** FLEX GRID ***/

$prefix: '.flex';
$prefix-raw: str-replace($prefix, '.', '');

#{$prefix} {
  &-grid {
    margin-left: $grid-gap * -1;
    margin-bottom: $grid-gap;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;

    &-expanded {
      margin-left: $grid-gap-expanded * -1;
      margin-bottom: $grid-gap-expanded;

      > [class*='#{$prefix-raw}-col-'],
      > #{$prefix}-child,
      > #{$prefix}-grid-child {
        margin-top: #{$grid-gap-expanded};
        margin-left: #{$grid-gap-expanded};
        max-width: calc(100% - #{$grid-gap-expanded});
      }

      > [class*='#{$prefix-raw}-col-'] {
        flex-basis: calc(100% - #{$grid-gap-expanded});
      }

      &#{$prefix}-grid-fixed {
        > [class*='#{$prefix-raw}-col-'] {
          width: calc(100% - #{$grid-gap-expanded});
        }
      }
    }

    &-compact {
      margin-left: $grid-gap-compact * -1;
      margin-bottom: $grid-gap-compact;

      > [class*='#{$prefix-raw}-col-'],
      > #{$prefix}-child,
      > #{$prefix}-grid-child {
        margin-top: #{$grid-gap-compact};
        margin-left: #{$grid-gap-compact};
        max-width: calc(100% - #{$grid-gap-compact});
      }

      > [class*='#{$prefix-raw}-col-'] {
        flex-basis: calc(100% - #{$grid-gap-compact});
      }

      &#{$prefix}-grid-fixed {
        > [class*='#{$prefix-raw}-col-'] {
          width: calc(100% - #{$grid-gap-compact});
        }
      }
    }

    &-no-gutter,
    &-constricted {
      &,
      &-x {
        &,
        > [class*='#{$prefix-raw}-col-'],
        > #{$prefix}-child,
        > #{$prefix}-grid-child {
          margin-left: 0;
        }
      }

      &,
      &-y {
        margin-bottom: 0;

        > [class*='#{$prefix-raw}-col-'],
        > #{$prefix}-child,
        > #{$prefix}-grid-child {
          margin-top: 0;
        }
      }
    }
  }

  @at-root *[class*='#{$prefix-raw}-col-'],
    #{$prefix}-child,
    #{$prefix}-grid-child {
    margin-top: #{$grid-gap};
    margin-left: #{$grid-gap};
    max-width: calc(100% - #{$grid-gap});
    min-width: 0;

    #{$prefix}-grid-fixed > & {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto !important;
    }

    #{$prefix}-grid-no-gutter > &,
    #{$prefix}-grid-no-gutter-x > &,
    #{$prefix}-grid-constricted > &,
    #{$prefix}-grid-constricted-x > & {
      max-width: 100%;
    }
  }

  @at-root [class*='#{$prefix-raw}-col-'] {
    flex-basis: calc(100% - #{$grid-gap});
    flex-grow: 1;
    flex-shrink: 1;

    #{$prefix}-grid-no-gutter > &,
    #{$prefix}-grid-no-gutter-x > &,
    #{$prefix}-grid-constricted > &,
    #{$prefix}-grid-constricted-x > & {
      flex-basis: 100%;
    }

    #{$prefix}-grid-fixed > & {
      width: calc(100% - #{$grid-gap});
    }

    #{$prefix}-grid-no-gutter#{$prefix}-grid-fixed > &,
    #{$prefix}-grid-no-gutter-x#{$prefix}-grid-fixed > &,
    #{$prefix}-grid-constricted#{$prefix}-grid-fixed > &,
    #{$prefix}-grid-constricted-x#{$prefix}-grid-fixed > & {
      width: 100%;
    }
  }

  @include internal-set-grid-col-width(#{&}-col, $grid-gap, false);

  &-grid-expanded {
    @include internal-set-grid-col-width(#{$prefix}-col, $grid-gap-expanded);
  }

  &-grid-compact {
    @include internal-set-grid-col-width(#{$prefix}-col, $grid-gap-compact);
  }

  &-grid-no-gutter,
  &-grid-no-gutter-x,
  &-grid-constricted,
  &-grid-constricted-x {
    @include internal-set-grid-col-width(#{$prefix}-col);
  }

  @each $tag in $_fwc-br-tags {
    @if $tag != xs and $tag != xxs {
      @include br($tag) {
        @include internal-set-grid-col-width(#{&}-col-#{$tag}, $grid-gap, false);

        &-grid-expanded {
          @include internal-set-grid-col-width(
            #{$prefix}-col-#{$tag},
            $grid-gap-expanded
          );
        }

        &-grid-compact {
          @include internal-set-grid-col-width(
            #{$prefix}-col-#{$tag},
            $grid-gap-compact
          );
        }

        &-grid-no-gutter,
        &-grid-no-gutter-x,
        &-grid-constricted,
        &-grid-constricted-x {
          @include internal-set-grid-col-width(#{$prefix}-col-#{$tag}, null);
        }
      }
    } @else {
      @include internal-set-grid-col-width(#{&}-col-#{$tag}, $grid-gap, false);

      &-grid-expanded {
        @include internal-set-grid-col-width(
          #{$prefix}-col-#{$tag},
          $grid-gap-expanded
        );
      }

      &-grid-compact {
        @include internal-set-grid-col-width(#{$prefix}-col-#{$tag}, $grid-gap-compact);
      }

      &-grid-no-gutter,
      &-grid-no-gutter-x,
      &-grid-constricted,
      &-grid-constricted-x {
        @include internal-set-grid-col-width(#{$prefix}-col-#{$tag}, null);
      }
    }
  }
}
