/*** IMAGES ***/

/* LAZYLOAD */

$prefix: '.lazy';
#{$prefix},
*[data-src],
*[data-srcset] {
  opacity: 1;
  transition: $transition-duration-base opacity $transition-timing;
  body:not(.body-lazy-loaded) & {
    opacity: 0;
  }
}

body {

  &:not(.body-loaded) {
      *,
      *:before,
      *:after {
      transition: none !important;
      }
  }
}
