$prefix: '.lazy';

:is(#{$prefix}, [data-src], [data-srcset]) {
  opacity: 1;
  transition-duration: $lazy-transition-duration;
  transition-timing-function: $lazy-transition-timing;
  transition-property: opacity;
  .fw-js-ready body:not(.body-lazy-loaded) & {
    opacity: 0;
  }
  .fw-js-ready body:not(.body-loaded) & {
    transition: none;
  }
}
