/*** LIST GROUPS ***/
$prefix: '.list-group';
#{$prefix},
ul#{$prefix} {
  margin-bottom: $_fwc-body-text-gutter-y;
  padding: 0;

  &#{$prefix}-striped {
    & > li,
    #{$prefix}-item {
      &:nth-child(odd) {
        background-color: $list-group-background-striped;
      }
    }
  }

  @at-root & > li,
    &-item {
    @include dump-styles(cf);
    font: inherit;
    margin: 0;
    display: block;
    background-color: $list-group-background;
    border-color: $list-group-border-color;
    border-style: solid;
    border-bottom-width: $list-group-border-width;
    padding-top: calc(
      (
          #{$_fwc-list-group-height} - #{$list-group-border-width} - #{$_fwc-body-single-line}
        ) * 0.5
    );
    padding-bottom: calc(
      (
          #{$_fwc-list-group-height} - #{$list-group-border-width} - #{$_fwc-body-single-line}
        ) * 0.5
    );
    padding-left: $_fwc-list-group-gutter-x;
    padding-right: $_fwc-list-group-gutter-x;

    .theme-inverse & {
      border-color: $list-group-border-color-inverse;
    }

    &#{$prefix}-item-no-interaction {
      pointer-events: none !important;
    }

    @at-root #{$prefix}-compact {
      > li,
      #{$prefix}-item {
        padding-top: calc(
          (
              #{$_fwc-list-group-height-compact} - #{$list-group-border-width} - #{$_fwc-body-single-line}
            ) * 0.5
        );
        padding-bottom: calc(
          (
              #{$_fwc-list-group-height-compact} - #{$list-group-border-width} - #{$_fwc-body-single-line}
            ) * 0.5
        );
      }
    }

    @at-root #{$prefix}-expanded {
      > li,
      #{$prefix}-item {
        padding-top: calc(
          (
              #{$_fwc-list-group-height-expanded} - #{$list-group-border-width} - #{$_fwc-body-single-line}
            ) * 0.5
        );
        padding-bottom: calc(
          (
              #{$_fwc-list-group-height-expanded} - #{$list-group-border-width} - #{$_fwc-body-single-line}
            ) * 0.5
        );
      }
    }

    &:first-child {
      border-top-width: $list-group-border-width;
    }

    &:before {
      content: none;
    }
  }

  &-interactive,
  &-toggle {
    > li,
    #{$prefix}-item {
      &,
      & a {
        @include type-set(
          (
            color: inherit,
            decoration: inherit,
          )
        );
      }

      > * {
        pointer-events: none;
      }

      &:hover,
      &:focus,
      &.focus {
        background: $list-group-interactive-background-hover;
      }

      &:active,
      &.active {
        background: $list-group-interactive-background-active;
      }
    }
  }

  @at-root .dropdown #{$prefix} {
    margin-bottom: 0;

    &:first-child:last-child {
      border-radius: $dropdown-border-radius;
    }

    > li,
    #{$prefix}-item {
      > a {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
