$prefix: '.module';

:root {
  // :where(#{$prefix})
  // --fw-module-background: #{$module-background};
  --fw-module-border-color: #{$module-border-color};
  --fw-module-border-radius: #{$module-border-radius};
  --fw-module-border-width: #{$module-border-width};
  --fw-module-box-shadow: #{$module-box-shadow};
  --fw-module-box-shadow-hover: #{$module-box-shadow-hover};

  --fw-module-gutter-x: #{rem($module-gutter-x, $body-font-size)};
  --fw-module-gutter-y: #{rem($module-gutter-y, $body-font-size)};
  --fw-module-gutter-between: #{rem($module-gutter-between, $body-font-size)};

  // --fw-module-grid-item-grid-area: unset;
  // --fw-module-grid-item-grid-column: unset;
  // --fw-module-grid-item-grid-row: unset;
  // --fw-module-grid-item-grid-column-start: unset;
  // --fw-module-grid-item-grid-column-end: unset;
  // --fw-module-grid-item-grid-row-start: unset;
  // --fw-module-grid-item-grid-row-end: unset;
  // --fw-module-grid-item-justify-self: unset;
  // --fw-module-grid-item-align-self: unset;
  // --fw-module-grid-item-place-self: unset;

  @include on-breakpoint(mobile) {
    --fw-module-gutter-x: #{rem($module-gutter-x-mobile, $body-font-size)};
    --fw-module-gutter-y: #{rem($module-gutter-y-mobile, $body-font-size)};
  }

  --fw-module-grid-gap: #{rem($module-grid-gap, $body-font-size)};
  --fw-module-grid-margin: #{rem($module-grid-margin, $body-font-size)};

  --fw-module-grid-title-margin-top: #{rem(
      $module-grid-title-margin-top,
      $body-font-size
    )};
  --fw-module-grid-title-margin-bottom: #{rem(
      $module-grid-title-margin-bottom,
      $body-font-size
    )};

  // --fw-module-grid-grid-template-columns: unset;
  // --fw-module-grid-grid-template-rows: unset;
  // --fw-module-grid-grid-template-areas: unset;
  // --fw-module-grid-grid-template-start: unset;
  // --fw-module-grid-grid-template-end: unset;
  // --fw-module-grid-grid-template: unset;
  // --fw-module-grid-grid-auto-columns: unset;
  // --fw-module-grid-grid-auto-rows: unset;
  // --fw-module-grid-grid-auto-flow: unset;
  // --fw-module-grid-grid-column-gap: var(--fw-module-grid-gap);
  // --fw-module-grid-grid-row-gap: var(--fw-module-grid-gap);
  // --fw-module-grid-justify-items: unset;
  // --fw-module-grid-justify-content: unset;
  // --fw-module-grid-align-items: unset;
  // --fw-module-grid-align-content: unset;
  // --fw-module-grid-place-content: unset;
}
#{$prefix}-grid {
  // grid-template-rows: auto;
  display: grid;
  grid-gap: var(--fw-module-grid-gap);
  transition-duration: $module-transition-duration;
  transition-timing-function: $module-transition-timing;
  transition-property: opacity;
  max-width: 100%;

  // grid-template-columns: var(--fw-module-grid-grid-template-columns);
  // grid-template: var(--fw-module-grid-grid-template);
  // grid-template-rows: var(--fw-module-grid-grid-template-rows);
  // grid-template-areas: var(--fw-module-grid-grid-template-areas);
  // grid-template-start: var(--fw-module-grid-grid-template-start);
  // grid-template-end: var(--fw-module-grid-grid-template-end);
  // grid-auto-columns: var(--fw-module-grid-grid-auto-columns);
  // grid-auto-rows: var(--fw-module-grid-grid-auto-rows);
  // grid-auto-flow: var(--fw-module-grid-grid-auto-flow);
  // grid-column-gap: var(--fw-module-grid-grid-column-gap);
  // grid-row-gap: var(--fw-module-grid-grid-row-gap);
  // justify-items: var(--fw-module-grid-justify-items);
  // justify-content: var(--fw-module-grid-justify-content);
  // align-items: var(--fw-module-grid-align-items);
  // align-content: var(--fw-module-grid-align-content);
  // place-content: var(--fw-module-grid-place-content);

  &#{&}-expanded {
    --fw-module-grid-gap: #{$module-grid-gap-expanded};
  }

  &#{&}-compact {
    --fw-module-grid-gap: #{$module-grid-gap-compact};
  }

  &#{&}-constricted {
    --fw-module-grid-gap: 0rem;
  }

  &:nth-child(n + 2) {
    margin-top: var(--fw-module-grid-gap);
  }

  &-title {
    &:nth-last-child(n + 2) {
      margin-bottom: rem($module-grid-title-margin-bottom, $body-font-size);
    }

    &:nth-child(n + 2) {
      margin-top: rem($module-grid-title-margin-top, $body-font-size);
    }
  }

  @at-root :is(#{&}, #{&}-title) {
    .fw-js-ready body:not(.body-loaded) & {
      opacity: 0;
    }

    .fw-js-ready .body-loaded & {
      opacity: 1;
    }
  }
}

:is(#{$prefix}, #{$prefix}-grid) {
  max-width: 100%;
  min-width: 0;
}

#{$prefix} {
  background-color: $var-theme-background;
  border: var(--fw-module-border-width) solid var(--fw-module-border-color);
  // overflow:hidden;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: 100%;
  grid-template-rows:
    minmax(0, auto)
    minmax(0, 1fr)
    minmax(0, auto)
    repeat(auto-fill, minmax(0, min-content));
  // grid-template-rows: repeat(auto-fill,minmax(0,auto));
  grid-template-areas:
    'header'
    'content'
    'footer';
  min-width: 0;
  min-height: 0;
  transition: $var-transition-duration-long box-shadow $var-transition-timing;
  box-shadow: var(--fw-module-box-shadow);

  &:is([href], #{&-interactive}):is(:hover, :focus, .focus) {
    box-shadow: var(--fw-module-box-shadow-hover);
  }

  #{$prefix}-grid > & {
    // grid-area: var(--fw-module-grid-item-grid-area);
    // grid-column: var(--fw-module-grid-item-grid-column);
    // grid-row: var(--fw-module-grid-item-grid-row);
    // grid-column-start: var(--fw-module-grid-item-grid-column-start);
    // grid-column-end: var(--fw-module-grid-item-grid-column-end);
    // grid-row-start: var(--fw-module-grid-item-grid-row-start);
    // grid-row-end: var(--fw-module-grid-item-grid-row-end);
    // justify-self: var(--fw-module-grid-item-justify-self);
    // align-self: var(--fw-module-grid-item-align-self);
    // place-self: var(--fw-module-grid-item-place-self);
  }
}

:is(#{$prefix}, #{$prefix}-header, #{$prefix}-content, #{$prefix}-footer) {
  padding-left: var(--fw-module-gutter-x);
  padding-right: var(--fw-module-gutter-x);

  &:first-child {
    border-top-left-radius: var(--fw-module-border-radius);
    border-top-right-radius: var(--fw-module-border-radius);
    padding-top: var(--fw-module-gutter-y);
  }

  &:last-child {
    border-bottom-left-radius: var(--fw-module-border-radius);
    border-bottom-right-radius: var(--fw-module-border-radius);
    padding-bottom: var(--fw-module-gutter-y);
  }
}

#{$prefix},
:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):is(:first-child) {
  border-top-left-radius: var(--fw-module-border-radius);
  border-top-right-radius: var(--fw-module-border-radius);
  padding-top: var(--fw-module-gutter-y);
}

#{$prefix},
:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer):is(:last-child) {
  border-bottom-left-radius: var(--fw-module-border-radius);
  border-bottom-right-radius: var(--fw-module-border-radius);
  padding-bottom: var(--fw-module-gutter-y);
}

:is(#{$prefix}-header, #{$prefix}-content, #{$prefix}-footer) {
  margin-left: calc(var(--fw-module-gutter-x) * -1);
  margin-right: calc(var(--fw-module-gutter-x) * -1);
  align-self: stretch;
  @include dump-styles(cf);
  // overflow:hidden;

  &:first-child {
    margin-top: calc(var(--fw-module-gutter-y) * -1);
  }

  &:last-child {
    margin-bottom: calc(var(--fw-module-gutter-y) * -1);
  }
}

:is(#{$prefix}-header, #{$prefix}-footer) {
  position: relative;

  &#{$prefix}-end-break {
    @include on-breakpoint(nonmobile) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      #{$prefix}-functions:not(:only-child) {
        width: 50%;
      }

      #{$prefix}-functions {
        margin-top: 0;
        flex: 1 1;
        text-align: right;
        margin-top: calc(var(--fw-module-gutter-between) * -0.5);
        margin-bottom: calc(var(--fw-module-gutter-between) * -0.5);

        &:nth-child(n + 2) {
          padding-left: 1rem;
        }

        > :is(.btn, .btn-group, .input-group, .input-wrapper) {
          margin-top: 0;
          display: inline-flex;
        }
      }
    }
  }
}

#{$prefix}-header {
  grid-area: header;

  &:not(:last-child) {
    margin-bottom: var(--fw-module-gutter-between);
  }
}

#{$prefix}-title {
  @include type-set(
    (
      root-size: $body-font-size,
      size: $module-title-font-size,
      color: $module-title-color,
      case: $module-title-text-transform,
      weight: $module-title-font-weight,
      style: $module-title-font-style,
    )
  );
  margin-top: calc(var(--fw-module-gutter-between) * 0.5);
  margin-bottom: calc(var(--fw-module-gutter-between) * 0.5);
  align-self: flex-start;

  @include on-breakpoint(mobile) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#{$prefix}-function {
  position: relative;
  display: inline-flex;
  text-align: initial;

  @include on-breakpoint(mobile) {
    display: flex;
    width: 100%;
    margin-bottom: var(--fw-module-gutter-between);
  }

  #{$prefix}-functions > & {
    margin-top: calc(var(--fw-module-gutter-between) * 0.5);
    margin-bottom: calc(var(--fw-module-gutter-between) * 0.5);

    @include on-breakpoint(nonmobile) {
      margin-right: calc(var(--fw-module-gutter-between) * 0.5);

      &:last-child {
        margin-right: 0;
      }
    }

    @include on-breakpoint(mobile) {
      width: 100%;
      display: block;
    }
  }
}

@at-root :is(#{&}-function, #{&}-functions) {
  max-width: 100%;
}

#{$prefix}-functions {
  margin-top: var(--fw-module-gutter-between);

  &:first-child {
    margin-top: 0;
  }

  :is(.btn-group, .input-group) {
    flex-direction: row;
  }

  .input-wrapper {
    margin-right: 0;
  }
}

#{$prefix}-content {
  grid-area: content;
  // 	align-self:stretch;
  // overflow-y:visible;
  // overflow-x:hidden;

  &:is(:only-child) {
    align-self: center;
  }

  // &::-webkit-scrollbar {
  // 	display:none;
  // }
}

// & > :where(*):not(#{$prefix}-header):not(#{$prefix}-footer):not(#{$prefix}-content) {

// 	grid-area: custom;
// }

#{$prefix}-footer {
  grid-area: footer;

  &:not(:first-child) {
    margin-top: var(--fw-module-gutter-between);
  }
}

#{$prefix}-expanded {
  --fw-module-gutter-x: #{$module-gutter-x-expanded};
  --fw-module-gutter-y: #{$module-gutter-y-expanded};

  @include on-breakpoint(mobile) {
    --fw-module-gutter-x: #{$module-gutter-x-expanded-mobile};
    --fw-module-gutter-y: #{$module-gutter-y-expanded-mobile};
  }
}

#{$prefix}-compact {
  --fw-module-gutter-x: #{$module-gutter-x-compact};
  --fw-module-gutter-y: #{$module-gutter-y-compact};

  @include on-breakpoint(mobile) {
    --fw-module-gutter-x: #{$module-gutter-x-compact-mobile};
    --fw-module-gutter-y: #{$module-gutter-y-compact-mobile};
  }
}

:is(#{$prefix}-constricted, #{$prefix}-constricted-x) {
  --fw-module-gutter-x: 0rem;
}
:is(#{$prefix}-constricted, #{$prefix}-constricted-y) {
  --fw-module-gutter-y: 0rem;
}

#{$prefix}.no-radius {
  --fw-module-border-radius: 0em;
}
