@use 'sass:math';

$prefix: '.ratio';
#{$prefix} {
  & {
    --ratio-w: 3;
    --ratio-l: 1;
    max-width: 100% !important;
    overflow: hidden;
    position: relative;
    display: block;
    background: var(--theme-background-contrast);

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: calc(100% * (var(--ratio-l) / var(--ratio-w))) !important;
    }

    > :where(*) {
      position: absolute !important;
      transform-origin: center center !important;
      transform-style: preserve-3d !important;
      max-width: 100% !important;
      max-height: 100% !important;
    }
  }

  &#{& + '-1-by-1'} {
    --ratio-l: 1;
    --ratio-w: 1;
    &:before {
      padding-bottom: 100% !important;
    }
  }

  &#{& + '-16-by-9'} {
    --ratio-l: 9;
    --ratio-w: 16;
  }

  &#{& + '-4-by-3'} {
    --ratio-l: 3;
    --ratio-w: 4;
  }

  &-child {
    @at-root #{$prefix} *#{&}-stretch {
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }

    @at-root #{$prefix} *#{&}-cover {
      @include dump-styles(fit-image-cover-child);
    }

    @at-root #{$prefix} #{&}-contain {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      @include dump-styles(fit-image-contain-child);
    }
  }
}
