$prefix: '.thumbnail';

:root {
  // :where(#{$prefix})
  --fw-thumbnail-addon-offset-x: #{$thumbnail-addon-offset-x};
  --fw-thumbnail-addon-offset-y: #{$thumbnail-addon-offset-y};
  --fw-thumbnail-background: #{$thumbnail-background};

  --fw-thumbnail-size: #{rem($thumbnail-size, $body-font-size)};
  --fw-thumbnail-border-radius: #{$thumbnail-border-radius};
}

#{$prefix} {
  background: var(--fw-thumbnail-background);
  width: var(--fw-thumbnail-size);
  max-width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  @include type($thumbnail-font-size, null, $body-font-size);

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
  }

  &,
  > :where(*) {
    border-radius: var(--fw-thumbnail-border-radius);
  }

  > :where(*) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    max-width: none;
  }

  :is(#{$prefix}-image, img, svg) {
    object-position: center center;
    object-fit: cover;
  }

  :is(.badge, .tag) {
    bottom: auto;
    right: auto;
    z-index: 2;
    top: var(--fw-thumbnail-addon-offset-x);
    left: var(--fw-thumbnail-addon-offset-y);
    transform: translate(-50%, -50%);
  }

  &,
  &:is(:hover, :focus, .focus) {
    text-decoration: none;
  }

  #{$prefix}-cluster & {
    &:nth-last-child(n + 2) {
      margin-right: calc(var(--fw-thumbnail-size) * -0.5);
    }
  }
}

#{$prefix}-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;

  @include type-set(
    (
      size: 1em,
      leading: 1,
      color: $thumbnail-color,
      weight: $thumbnail-font-weight,
      style: $thumbnail-font-style,
      case: $thumbnail-text-transform,
    )
  );
}

#{$prefix}-small {
  --fw-thumbnail-size: #{rem($thumbnail-size-small, $body-font-size)};
  @include type($thumbnail-font-size-small, null, $body-font-size);
}

#{$prefix}-micro {
  --fw-thumbnail-size: #{rem($thumbnail-size-micro, $body-font-size)};
  @include type($thumbnail-font-size-micro, null, $body-font-size);
}

#{$prefix}-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
