$prefix: '.toolbar';

:root {
  // :where(#{$prefix})
  --fw-toolbar-box-shadow: #{$toolbar-box-shadow};
  --fw-toolbar-gap: #{$toolbar-gap};
  --fw-toolbar-padding: #{$toolbar-padding};

  --fw-toolbar-cross-size: #{$toolbar-size};
  --fw-toolbar-main-gutter: #{$toolbar-padding};
  --fw-toolbar-border-radius: #{$toolbar-border-radius};
}

#{$prefix} {
  display: inline-flex;
  align-items: center;
  gap: var(--fw-toolbar-gap);
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  border-radius: var(--fw-toolbar-border-radius);
  box-shadow: var(--fw-toolbar-box-shadow);
  background-color: $toolbar-background-color;
  border: $toolbar-border-width solid $toolbar-border-color;

  @at-root :is(#{&}, #{&} a) {
    @include dump-styles(no-text-decoration);

    &:is(:hover, :focus, .focus) {
      @include dump-styles(no-text-decoration-hover);
    }
  }

  &#{$prefix}-horizontal {
    flex-direction: row;
    min-height: var(--fw-toolbar-cross-size);
    padding-right: var(--fw-toolbar-padding);
    padding-left: var(--fw-toolbar-padding);
  }

  &#{$prefix}-vertical {
    flex-direction: column;
    min-width: var(--fw-toolbar-cross-size);
    padding-top: var(--fw-toolbar-padding);
    padding-bottom: var(--fw-toolbar-padding);
  }

  &-block {
    display: flex;
    width: 100%;

    &-mobile {
      @include on-breakpoint(mobile) {
        display: flex;
        width: 100%;
      }
    }
  }
}

#{$prefix}-tile {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: calc(var(--fw-toolbar-gap) * 0.5);

  #{$prefix}-horizontal & {
  }

  #{$prefix}-vertical & {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

#{$prefix}-large {
  --fw-toolbar-cross-size: #{$toolbar-size-large};
  --fw-toolbar-border-radius: #{$toolbar-border-radius-large};
  --fw-toolbar-padding: #{$toolbar-padding-large};
}

#{$prefix}-small {
  --fw-toolbar-cross-size: #{$toolbar-size-small};
  --fw-toolbar-border-radius: #{$toolbar-border-radius-small};
  --fw-toolbar-padding: #{$toolbar-padding-small};
}
