$prefix: '.tooltip';

:root {
  // :where(#{$prefix})
  --fw-tooltip-background: #{$tooltip-background};
  --fw-tooltip-border-radius: #{$tooltip-border-radius};
  --fw-tooltip-box-shadow: #{$tooltip-box-shadow};
  --fw-tooltip-color: #{$tooltip-color};
  --fw-tooltip-max-width: #{$tooltip-max-width};
  --fw-tooltip-z-index: #{$z-index-tooltip};

  --fw-tooltip-padding-x: #{$tooltip-padding-x};
  --fw-tooltip-padding-y: #{$tooltip-padding-y};

  --fw-tooltip-arrow-box-shadow: #{$tooltip-arrow-box-shadow};
  --fw-tooltip-arrow-size: 1rem;
  // 0.088388347648318
}

[data-toggle-tooltip-click],
[data-toggle-tooltip-hover] {
  @include dump-styles(data-toggle);
}
#{$prefix} {
  @include create-popper-styles(
    var(--fw-tooltip-background),
    var(--fw-tooltip-color),
    var(--fw-tooltip-padding-x),
    var(--fw-tooltip-padding-y),
    var(--fw-tooltip-border-radius),
    var(--fw-tooltip-box-shadow)
  );
  z-index: $z-index-tooltip;
  pointer-events: none;

  &:not(.active) {
    @include dump-styles(hide-js-friendly);
  }

  &#{$prefix}-expanded {
    --fw-tooltip-padding-x: #{$tooltip-padding-x-expanded};
    --fw-tooltip-padding-y: #{$tooltip-padding-y-expanded};
  }

  &#{$prefix}-compact {
    --fw-tooltip-padding-x: #{$tooltip-padding-x-compact};
    --fw-tooltip-padding-y: #{$tooltip-padding-y-compact};
  }

  &#{$prefix}-constricted {
    --fw-tooltip-padding-x: 0rem;
    --fw-tooltip-padding-y: 0rem;
  }

  &:not(#{$prefix}-has-custom-width) {
    max-width: var(--fw-tooltip-max-width);
  }

  &#{&}-allow-interaction {
    pointer-events: auto;
  }

  &:before,
  &:after {
    content: '';
    background: inherit;
    position: absolute;
    z-index: -1;
  }

  &:after {
    // background: red;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
  }

  &:before {
    // background: blue;
    margin: auto;
    box-shadow: var(--fw-tooltip-arrow-box-shadow);
    width: calc(var(--fw-tooltip-arrow-size) * 0.707107);
    height: calc(var(--fw-tooltip-arrow-size) * 0.707107);
    transform-origin: center center;
    transform: rotate(45deg);

    @supports (clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)) {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      width: var(--fw-tooltip-arrow-size);
      height: var(--fw-tooltip-arrow-size);
      transform: none;
    }
  }

  &-badge {
    position: absolute;
    margin: auto;
  }

  &#{&}-top {
    &:before,
    #{$prefix}-badge {
      left: 0;
      right: 0;
    }

    &:before {
      bottom: calc(var(--fw-tooltip-arrow-size) * -0.5);
    }

    #{$prefix}-badge {
      top: calc(100% + (var(--fw-tooltip-arrow-size) * 0.5));
      // top: calc(100% + (var(--fw-tooltip-arrow-size) * 1.41421356237) * 0.5);

      @supports (clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)) {
      }
    }
  }
  &#{&}-bottom {
    &:before,
    #{$prefix}-badge {
      left: 0;
      right: 0;
    }

    &:before {
      top: calc(var(--fw-tooltip-arrow-size) * -0.5);
    }

    #{$prefix}-badge {
      bottom: calc(100% + (var(--fw-tooltip-arrow-size) * 0.5));
      // bottom: calc(100% + ((var(--fw-tooltip-arrow-size) * 1.41421356237) * 0.5));
    }
  }

  &#{&}-right {
    &:before,
    #{$prefix}-badge {
      bottom: 0;
      top: 0;
    }

    &:before {
      left: calc(var(--fw-tooltip-arrow-size) * -0.5);
    }

    #{$prefix}-badge {
      right: calc(100% + (var(--fw-tooltip-arrow-size) * 0.5));
      // right: calc(100% + ((var(--fw-tooltip-arrow-size) * 1.41421356237) * 0.5));
    }
  }

  &#{&}-left {
    &:before,
    #{$prefix}-badge {
      bottom: 0;
      top: 0;
    }

    &:before {
      right: calc(var(--fw-tooltip-arrow-size) * -0.5);
    }

    #{$prefix}-badge {
      left: calc(100% + (var(--fw-tooltip-arrow-size) * 0.5));
      // left: calc(100% + ((var(--fw-tooltip-arrow-size) * 1.41421356237) * 0.5));
    }
  }
}
