/* WELL */
$prefix: '.well';

:root {
  // :where(#{$prefix})
  --fw-well-spread: #{rem($well-spread, $body-font-size)};
  --fw-well-color: #{$well-color};
}

#{$prefix} {
  z-index: 1;
  box-shadow: 0 0 0 var(--fw-well-spread) var(--fw-well-color) !important;

  &#{&}-expanded {
    --fw-well-spread: #{rem($well-spread-expanded, $body-font-size)};
  }

  &#{&}-compact {
    --fw-well-spread: #{rem($well-spread-compact, $body-font-size)};
  }

  &#{&}-constricted {
    --fw-well-spread: 0rem;
  }

  // //what if it's a square huh?? u dumfuc
  // position: relative;
  // &:after {
  // 	content: "";
  // 	z-index:-1;
  // 	top: $fwc-well-spread * -1;
  // 	left: $fwc-well-spread * -1;
  // 	right: $fwc-well-spread * -1;
  // 	bottom: $fwc-well-spread * -1;
  // 	margin:0;
  // 	position:absolute;
  // 	border-radius:50%;
  // 	@include gradient((
  // 		use-shorthand: false,
  // 		color1: transparent,
  // 		color2: $well-color
  // 	));
  // }
}
