/* WELL */
$prefix: '.well';


#{$prefix}{
	z-index:1;
	box-shadow: 0 0 0 #{$calculated-well-spread} #{$well-color} !important;

	.theme-inverse & {
		box-shadow: 0 0 0 #{$calculated-well-spread} #{$well-color-inverse} !important;
	}

	&#{&}-expanded {
		box-shadow: 0 0 0 #{$calculated-well-spread-expanded} #{$well-color} !important;

		.theme-inverse & {
			box-shadow: 0 0 0 #{$calculated-well-spread-expanded} #{$well-color-inverse} !important;
		}
	}


	&#{&}-compact {
		box-shadow: 0 0 0 #{$calculated-well-spread-compact} #{$well-color} !important;

		.theme-inverse & {
			box-shadow: 0 0 0 #{$calculated-well-spread-compact} #{$well-color-inverse} !important;
		}
	}
	
	// //what if it's a square huh?? u dumfuc 
	// position: relative;
	// &:after {
	// 	content: "";
	// 	z-index:-1;
	// 	top: $calculated-well-spread * -1;
	// 	left: $calculated-well-spread * -1;
	// 	right: $calculated-well-spread * -1;
	// 	bottom: $calculated-well-spread * -1;
	// 	margin:0;
	// 	position:absolute;
	// 	border-radius:50%;
	// 	@include gradient((
	// 		use-shorthand: false,
	// 		color1: transparent,
	// 		color2: $well-color
	// 	));
	// }
}