/*** zone ***/
$prefix: '.zone';
#{$prefix} {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  font: inherit;
  @include type-set(
    (
      size: $_fwc-zone-font-size,
      case: $zone-text-transform,
      weight: $zone-font-weight,
      style: $zone-font-style,
      align: center,
    )
  );
  padding-top: $zone-gutter-y;
  padding-bottom: $zone-gutter-y;
  padding-right: $zone-gutter-x;
  padding-left: $zone-gutter-x;
  margin-top: $zone-margin-y;
  margin-bottom: $zone-margin-y;
  border: $zone-border-width dashed transparent;
  border-radius: $zone-border-radius;
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  transition: $transition-duration-short opacity $transition-timing;
  @include dump-styles(cf);
  a {
    color: inherit;
    font-weight: $body-font-weight-bold;
  }

  > input {
    opacity: 0 !important;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
  }

  &-text,
  &-has-content-text {
    display: block;
  }

  &#{&}-has-content &-text {
    @include dump-styles(hide-js-friendly);
  }

  // &::-webkit-file-upload-button {
  // 	appearance: none;
  // 	border: none;
  // 	font:inherit;
  // 	color:inherit;
  // 	opacity: $input-placeholder-opacity;
  // 	background: none;
  // 	margin: 0;
  // 	padding: 0;
  // 	vertical-align:middle;
  // 	display:flex;
  // 	display:none;
  // }

  // &:before {
  // 	font:inherit;
  // 	display: block;
  // 	content:"Drag Your Attachments Here";
  // }

  &#{$prefix}-disabled {
    @include dump-styles(disabled);
  }
  &#{$prefix}-constricted {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &#{$prefix}-compact {
    padding-top: $zone-gutter-y-compact;
    padding-bottom: $zone-gutter-y-compact;
    padding-right: $zone-gutter-x-compact;
    padding-left: $zone-gutter-x-compact;
  }

  &#{$prefix}-expanded {
    padding-top: $zone-gutter-y-expanded;
    padding-bottom: $zone-gutter-y-expanded;
    padding-right: $zone-gutter-x-expanded;
    padding-left: $zone-gutter-x-expanded;
  }

  @each $tag, $properties in $_fwc-zone-schemes {
    &#{$prefix}-#{$tag} {
      &,
      &#{$prefix}-disabled,
      &#{$prefix}:hover,
      &#{$prefix}:focus,
      &#{$prefix}.focus,
      &#{$prefix}:active,
      &#{$prefix}.active {
        border-color: map-get(map-get($properties, init), border);
        color: map-get(map-get($properties, init), color);
        background-color: map-get(map-get($properties, init), background);
      }
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        border-color: map-get(map-get($properties, active), border);
        color: map-get(map-get($properties, active), color);
        background-color: map-get(map-get($properties, active), background);
      }
    }
  }
}
