$_fwc-alert-schemes: (
  default: (
    background: $alert-background-default,
    border: $alert-border-default,
    color: $alert-color-default,
  ),
  primary: (
    background: $alert-background-primary,
    border: $alert-border-primary,
    color: $alert-color-primary,
  ),
  secondary: (
    background: $alert-background-secondary,
    border: $alert-border-secondary,
    color: $alert-color-secondary,
  ),
  accent: (
    background: $alert-background-accent,
    border: $alert-border-accent,
    color: $alert-color-accent,
  ),
  neutral: (
    background: $alert-background-neutral,
    border: $alert-border-neutral,
    color: $alert-color-neutral,
  ),
  success: (
    background: $alert-background-success,
    border: $alert-border-success,
    color: $alert-color-success,
  ),
  caution: (
    background: $alert-background-caution,
    border: $alert-border-caution,
    color: $alert-color-caution,
  ),
  error: (
    background: $alert-background-error,
    border: $alert-border-error,
    color: $alert-color-error,
  ),
);
