$_fwc-badge-size: $badge-size;
@if internal-is-convertable($badge-size) {
  $_fwc-badge-size: rem($badge-size, $body-font-size);
}

$_fwc-badge-size-small: $badge-size-small;
@if internal-is-convertable($badge-size-small) {
  $_fwc-badge-size-small: rem($badge-size-small, $body-font-size);
}

$_fwc-badge-size-large: $badge-size-large;
@if internal-is-convertable($badge-size-large) {
  $_fwc-badge-size-large: rem($badge-size-large, $body-font-size);
}

$_fwc-badge-border-width: $badge-border-width;
@if internal-is-convertable($badge-border-width) {
  $_fwc-badge-border-width: rem($badge-border-width, $body-font-size);
}
