// not the palettes good lord the design is a god
$_fwc-btn-theme-relation: (
  theme: (
    color: $var-theme-background,
    background: $var-theme-color,
    border-color: transparent,
  ),
  theme-polar: (
    color: $var-theme-color,
    background: $var-theme-background,
    border-color: transparent,
  ),
  theme-outline: (
    color: $var-theme-color,
    background: transparent,
    border-color: $var-theme-color,
  ),
  theme-polar-outline: (
    color: $var-theme-background,
    background: transparent,
    border-color: $var-theme-background,
  ),
  theme-contrast: (
    color: $var-theme-background-contrast,
    background: $var-theme-color-contrast,
    border-color: transparent,
  ),
  theme-polar-contrast: (
    color: $var-theme-color-contrast,
    background: $var-theme-background-contrast,
    border-color: transparent,
  ),
);

$_fwc-btn-schemes: (
  default: (
    hover: (
      background: $btn-background-default-hover,
      border-color: $btn-border-default-hover,
      color: $btn-color-default-hover,
    ),
    active: (
      background: $btn-background-default-active,
      border-color: $btn-border-default-active,
      color: $btn-color-default-active,
    ),
    init: (
      background: $btn-background-default,
      border-color: $btn-border-default,
      color: $btn-color-default,
    ),
  ),
  primary: (
    hover: (
      background: $btn-background-primary-hover,
      border-color: $btn-border-primary-hover,
      color: $btn-color-primary-hover,
    ),
    active: (
      background: $btn-background-primary-active,
      border-color: $btn-border-primary-active,
      color: $btn-color-primary-active,
    ),
    init: (
      background: $btn-background-primary,
      border-color: $btn-border-primary,
      color: $btn-color-primary,
    ),
  ),
  secondary: (
    hover: (
      background: $btn-background-secondary-hover,
      border-color: $btn-border-secondary-hover,
      color: $btn-color-secondary-hover,
    ),
    active: (
      background: $btn-background-secondary-active,
      border-color: $btn-border-secondary-active,
      color: $btn-color-secondary-active,
    ),
    init: (
      background: $btn-background-secondary,
      border-color: $btn-border-secondary,
      color: $btn-color-secondary,
    ),
  ),
  accent: (
    hover: (
      background: $btn-background-accent-hover,
      border-color: $btn-border-accent-hover,
      color: $btn-color-accent-hover,
    ),
    active: (
      background: $btn-background-accent-active,
      border-color: $btn-border-accent-active,
      color: $btn-color-accent-active,
    ),
    init: (
      background: $btn-background-accent,
      border-color: $btn-border-accent,
      color: $btn-color-accent,
    ),
  ),
  neutral: (
    hover: (
      background: $btn-background-neutral-hover,
      border-color: $btn-border-neutral-hover,
      color: $btn-color-neutral-hover,
    ),
    active: (
      background: $btn-background-neutral-active,
      border-color: $btn-border-neutral-active,
      color: $btn-color-neutral-active,
    ),
    init: (
      background: $btn-background-neutral,
      border-color: $btn-border-neutral,
      color: $btn-color-neutral,
    ),
  ),
  success: (
    hover: (
      background: $btn-background-success-hover,
      border-color: $btn-border-success-hover,
      color: $btn-color-success-hover,
    ),
    active: (
      background: $btn-background-success-active,
      border-color: $btn-border-success-active,
      color: $btn-color-success-active,
    ),
    init: (
      background: $btn-background-success,
      border-color: $btn-border-success,
      color: $btn-color-success,
    ),
  ),
  caution: (
    hover: (
      background: $btn-background-caution-hover,
      border-color: $btn-border-caution-hover,
      color: $btn-color-caution-hover,
    ),
    active: (
      background: $btn-background-caution-active,
      border-color: $btn-border-caution-active,
      color: $btn-color-caution-active,
    ),
    init: (
      background: $btn-background-caution,
      border-color: $btn-border-caution,
      color: $btn-color-caution,
    ),
  ),
  error: (
    hover: (
      background: $btn-background-error-hover,
      border-color: $btn-border-error-hover,
      color: $btn-color-error-hover,
    ),
    active: (
      background: $btn-background-error-active,
      border-color: $btn-border-error-active,
      color: $btn-color-error-active,
    ),
    init: (
      background: $btn-background-error,
      border-color: $btn-border-error,
      color: $btn-color-error,
    ),
  ),
  link: (
    hover: (
      background: $btn-background-link-hover,
      border-color: $btn-border-link-hover,
      color: $btn-color-link-hover,
    ),
    active: (
      background: $btn-background-link-active,
      border-color: $btn-border-link-active,
      color: $btn-color-link-active,
    ),
    init: (
      background: $btn-background-link,
      border-color: $btn-border-link,
      color: $btn-color-link,
    ),
  ),
  //schemes tthat vars or hooman shouldnt have control over
  primary-outline:
    (
      hover: (
        background: $btn-background-primary-hover,
        border-color: $btn-border-primary-hover,
        color: $btn-color-primary-hover,
      ),
      active: (
        background: $btn-background-primary-active,
        border-color: $btn-border-primary-active,
        color: $btn-color-primary-active,
      ),
      init: (
        background: transparent,
        border-color: $var-color-primary,
        color: $var-color-primary,
      ),
    ),
  secondary-outline: (
    hover: (
      background: $btn-background-secondary-hover,
      border-color: $btn-border-secondary-hover,
      color: $btn-color-secondary-hover,
    ),
    active: (
      background: $btn-background-secondary-active,
      border-color: $btn-border-secondary-active,
      color: $btn-color-secondary-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-secondary,
      color: $var-color-secondary,
    ),
  ),
  accent-outline: (
    hover: (
      background: $btn-background-accent-hover,
      border-color: $btn-border-accent-hover,
      color: $btn-color-accent-hover,
    ),
    active: (
      background: $btn-background-accent-active,
      border-color: $btn-border-accent-active,
      color: $btn-color-accent-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-accent,
      color: $var-color-accent,
    ),
  ),
  neutral-outline: (
    hover: (
      background: $btn-background-neutral-hover,
      border-color: $btn-border-neutral-hover,
      color: $btn-color-neutral-hover,
    ),
    active: (
      background: $btn-background-neutral-active,
      border-color: $btn-border-neutral-active,
      color: $btn-color-neutral-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-neutral,
      color: $var-color-neutral,
    ),
  ),
  success-outline: (
    hover: (
      background: $btn-background-success-hover,
      border-color: $btn-border-success-hover,
      color: $btn-color-success-hover,
    ),
    active: (
      background: $btn-background-success-active,
      border-color: $btn-border-success-active,
      color: $btn-color-success-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-success,
      color: $var-color-success,
    ),
  ),
  caution-outline: (
    hover: (
      background: $btn-background-caution-hover,
      border-color: $btn-border-caution-hover,
      color: $btn-color-caution-hover,
    ),
    active: (
      background: $btn-background-caution-active,
      border-color: $btn-border-caution-active,
      color: $btn-color-caution-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-caution,
      color: $var-color-caution,
    ),
  ),
  error-outline: (
    hover: (
      background: $btn-background-error-hover,
      border-color: $btn-border-error-hover,
      color: $btn-color-error-hover,
    ),
    active: (
      background: $btn-background-error-active,
      border-color: $btn-border-error-active,
      color: $btn-color-error-active,
    ),
    init: (
      background: transparent,
      border-color: $var-color-error,
      color: $var-color-error,
    ),
  ),
  primary-glassy: (
    hover: (
      background: $btn-background-primary-hover,
      border-color: $btn-border-primary-hover,
      color: $btn-color-primary-hover,
    ),
    active: (
      background: $btn-background-primary-active,
      border-color: $btn-border-primary-active,
      color: $btn-color-primary-active,
    ),
    init: (
      background: $var-color-primary-alpha-1,
      border-color: transparent,
      color: $var-color-primary,
    ),
  ),
  secondary-glassy: (
    hover: (
      background: $btn-background-secondary-hover,
      border-color: $btn-border-secondary-hover,
      color: $btn-color-secondary-hover,
    ),
    active: (
      background: $btn-background-secondary-active,
      border-color: $btn-border-secondary-active,
      color: $btn-color-secondary-active,
    ),
    init: (
      background: $var-color-secondary-alpha-1,
      border-color: transparent,
      color: $var-color-secondary,
    ),
  ),
  accent-glassy: (
    hover: (
      background: $btn-background-accent-hover,
      border-color: $btn-border-accent-hover,
      color: $btn-color-accent-hover,
    ),
    active: (
      background: $btn-background-accent-active,
      border-color: $btn-border-accent-active,
      color: $btn-color-accent-active,
    ),
    init: (
      background: $var-color-accent-alpha-1,
      border-color: transparent,
      color: $var-color-accent,
    ),
  ),
  neutral-glassy: (
    hover: (
      background: $btn-background-neutral-hover,
      border-color: $btn-border-neutral-hover,
      color: $btn-color-neutral-hover,
    ),
    active: (
      background: $btn-background-neutral-active,
      border-color: $btn-border-neutral-active,
      color: $btn-color-neutral-active,
    ),
    init: (
      background: $var-color-neutral-alpha-1,
      border-color: transparent,
      color: $var-color-neutral,
    ),
  ),
  success-glassy: (
    hover: (
      background: $btn-background-success-hover,
      border-color: $btn-border-success-hover,
      color: $btn-color-success-hover,
    ),
    active: (
      background: $btn-background-success-active,
      border-color: $btn-border-success-active,
      color: $btn-color-success-active,
    ),
    init: (
      background: $var-color-success-alpha-1,
      border-color: transparent,
      color: $var-color-success,
    ),
  ),
  caution-glassy: (
    hover: (
      background: $btn-background-caution-hover,
      border-color: $btn-border-caution-hover,
      color: $btn-color-caution-hover,
    ),
    active: (
      background: $btn-background-caution-active,
      border-color: $btn-border-caution-active,
      color: $btn-color-caution-active,
    ),
    init: (
      background: $var-color-caution-alpha-1,
      border-color: transparent,
      color: $var-color-caution,
    ),
  ),
  error-glassy: (
    hover: (
      background: $btn-background-error-hover,
      border-color: $btn-border-error-hover,
      color: $btn-color-error-hover,
    ),
    active: (
      background: $btn-background-error-active,
      border-color: $btn-border-error-active,
      color: $btn-color-error-active,
    ),
    init: (
      background: $var-color-error-alpha-1,
      border-color: transparent,
      color: $var-color-error,
    ),
  ),
  primary-gradient: (
    hover: (
      background: $btn-background-primary-hover,
      background-image: none,
      border-color: $btn-border-primary-hover,
      color: $btn-color-primary-hover,
    ),
    active: (
      background: $btn-background-primary-active,
      background-image: none,
      border-color: $btn-border-primary-active,
      color: $btn-color-primary-active,
    ),
    init: (
      background: $var-color-primary,
      background-image:
        linear-gradient(0deg, $var-color-primary 0%, $var-color-primary-light 100%),
      border-color: transparent,
      color: $btn-color-primary,
    ),
  ),
  secondary-gradient: (
    hover: (
      background: $btn-background-secondary-hover,
      background-image: none,
      border-color: $btn-border-secondary-hover,
      color: $btn-color-secondary-hover,
    ),
    active: (
      background: $btn-background-secondary-active,
      background-image: none,
      border-color: $btn-border-secondary-active,
      color: $btn-color-secondary-active,
    ),
    init: (
      background: $var-color-secondary,
      background-image:
        linear-gradient(0deg, $var-color-secondary 0%, $var-color-secondary-light 100%),
      border-color: transparent,
      color: $btn-color-secondary,
    ),
  ),
  accent-gradient: (
    hover: (
      background: $btn-background-accent-hover,
      background-image: none,
      border-color: $btn-border-accent-hover,
      color: $btn-color-accent-hover,
    ),
    active: (
      background: $btn-background-accent-active,
      background-image: none,
      border-color: $btn-border-accent-active,
      color: $btn-color-accent-active,
    ),
    init: (
      background: $var-color-accent,
      background-image:
        linear-gradient(0deg, $var-color-accent 0%, $var-color-accent-light 100%),
      border-color: transparent,
      color: $btn-color-accent,
    ),
  ),
  neutral-gradient: (
    hover: (
      background: $btn-background-neutral-hover,
      background-image: none,
      border-color: $btn-border-neutral-hover,
      color: $btn-color-neutral-hover,
    ),
    active: (
      background: $btn-background-neutral-active,
      background-image: none,
      border-color: $btn-border-neutral-active,
      color: $btn-color-neutral-active,
    ),
    init: (
      background: $var-color-neutral,
      background-image:
        linear-gradient(0deg, $var-color-neutral 0%, $var-color-neutral-light 100%),
      border-color: transparent,
      color: $btn-color-neutral,
    ),
  ),
  success-gradient: (
    hover: (
      background: $btn-background-success-hover,
      background-image: none,
      border-color: $btn-border-success-hover,
      color: $btn-color-success-hover,
    ),
    active: (
      background: $btn-background-success-active,
      background-image: none,
      border-color: $btn-border-success-active,
      color: $btn-color-success-active,
    ),
    init: (
      background: $var-color-success,
      background-image:
        linear-gradient(0deg, $var-color-success 0%, $var-color-success-light 100%),
      border-color: transparent,
      color: $btn-color-success,
    ),
  ),
  caution-gradient: (
    hover: (
      background: $btn-background-caution-hover,
      background-image: none,
      border-color: $btn-border-caution-hover,
      color: $btn-color-caution-hover,
    ),
    active: (
      background: $btn-background-caution-active,
      background-image: none,
      border-color: $btn-border-caution-active,
      color: $btn-color-caution-active,
    ),
    init: (
      background: $var-color-caution,
      background-image:
        linear-gradient(0deg, $var-color-caution 0%, $var-color-caution-light 100%),
      border-color: transparent,
      color: $btn-color-caution,
    ),
  ),
  error-gradient: (
    hover: (
      background: $btn-background-error-hover,
      background-image: none,
      border-color: $btn-border-error-hover,
      color: $btn-color-error-hover,
    ),
    active: (
      background: $btn-background-error-active,
      background-image: none,
      border-color: $btn-border-error-active,
      color: $btn-color-error-active,
    ),
    init: (
      background: $var-color-error,
      background-image:
        linear-gradient(0deg, $var-color-error 0%, $var-color-error-light 100%),
      border-color: transparent,
      color: $btn-color-error,
    ),
  ),
  gradient: (
    hover: (
      background-color: $var-gradient-end,
      background-image:
        linear-gradient(
          $btn-background-angle-gradient-hover,
          $var-gradient-start,
          $var-gradient-end
        ),
      //@TODO var for this angle
      border-color: transparent,
      color: $btn-color-gradient-hover,
    ),
    active: (
      background-color: $var-gradient-end,
      background-image:
        linear-gradient(
          $btn-background-angle-gradient-active,
          $var-gradient-start,
          $var-gradient-end
        ),
      border-color: transparent,
      color: $btn-color-gradient-active,
    ),
    init: (
      background-color: $var-gradient-start,
      background-image:
        linear-gradient(
          $btn-background-angle-gradient,
          $var-gradient-start,
          $var-gradient-end
        ),
      border-color: transparent,
      color: $btn-color-gradient,
    ),
  ),
  theme: (
    hover: map-get($_fwc-btn-theme-relation, theme-contrast),
    active: map-get($_fwc-btn-theme-relation, theme-contrast),
    init: map-get($_fwc-btn-theme-relation, theme),
  ),
  theme-polar: (
    hover: map-get($_fwc-btn-theme-relation, theme-polar-contrast),
    active: map-get($_fwc-btn-theme-relation, theme-polar-contrast),
    init: map-get($_fwc-btn-theme-relation, theme-polar),
  ),
  theme-outline: (
    hover: map-get($_fwc-btn-theme-relation, theme),
    active: map-get($_fwc-btn-theme-relation, theme),
    init: map-get($_fwc-btn-theme-relation, theme-outline),
  ),
  theme-polar-outline: (
    hover: map-get($_fwc-btn-theme-relation, theme-polar),
    active: map-get($_fwc-btn-theme-relation, theme-polar),
    init: map-get($_fwc-btn-theme-relation, theme-polar-outline),
  ),
);

$_fwc-btn-font-size: $btn-font-size;
@if internal-is-convertable($btn-font-size) {
  $_fwc-btn-font-size: rem($btn-font-size, $body-font-size);
}

$_fwc-btn-font-size-large: $btn-font-size-large;
@if internal-is-convertable($btn-font-size-large) {
  $_fwc-btn-font-size-large: rem($btn-font-size-large, $body-font-size);
}

$_fwc-btn-font-size-small: $btn-font-size-small;
@if internal-is-convertable($btn-font-size-small) {
  $_fwc-btn-font-size-small: rem($btn-font-size-small, $body-font-size);
}

$_fwc-btn-line-height: type-lead($btn-font-size, $btn-line-height);

$_fwc-btn-single-line: $_fwc-btn-line-height;
@if unitless($_fwc-btn-single-line) and unit($btn-font-size) == px {
  $_fwc-btn-single-line: #{1em * type-lead($btn-font-size, $btn-line-height)};
}

$_fwc-btn-height: $btn-height;
@if internal-is-convertable($btn-height, $btn-font-size) {
  $_fwc-btn-height: em($btn-height, $btn-font-size);
} @else if internal-is-convertable($btn-height) {
  $_fwc-btn-height: rem($btn-height, $body-font-size);
}

$_fwc-btn-height-large: $btn-height-large;
@if internal-is-convertable($btn-height-large, $btn-font-size-large) {
  $_fwc-btn-height-large: em($btn-height-large, $btn-font-size-large);
} @else if internal-is-convertable($btn-height-large) {
  $_fwc-btn-height: rem($btn-height-large, $body-font-size);
}

$_fwc-btn-height-small: $btn-height-small;
@if internal-is-convertable($btn-height-small, $btn-font-size-small) {
  $_fwc-btn-height-small: em($btn-height-small, $btn-font-size-small);
} @else if internal-is-convertable($btn-height-small) {
  $_fwc-btn-height: rem($btn-height-small, $body-font-size);
}

$_fwc-btn-gutter-x: $btn-gutter-x;
@if internal-is-convertable($btn-gutter-x, $btn-font-size) {
  $_fwc-btn-gutter-x: em($btn-gutter-x, $btn-font-size);
} @else if internal-is-convertable($btn-gutter-x) {
  $_fwc-btn-height: rem($btn-gutter-x, $body-font-size);
}
