// GLOBAL
$_fwc-input-font-size: $input-font-size;
@if internal-is-convertable($input-font-size) {
  $_fwc-input-font-size: rem($input-font-size, $body-font-size);
}

$_fwc-input-font-size-large: $input-font-size-large;
@if internal-is-convertable($input-font-size-large) {
  $_fwc-input-font-size-large: rem($input-font-size-large, $body-font-size);
}

$_fwc-input-font-size-small: $input-font-size-small;
@if internal-is-convertable($input-font-size-small) {
  $_fwc-input-font-size-small: rem($input-font-size-small, $body-font-size);
}

$_fwc-input-label-font-size: $input-label-font-size;
@if internal-is-convertable($input-label-font-size) {
  $_fwc-input-label-font-size: rem($input-label-font-size, $body-font-size);
}

$_fwc-input-label-font-size-large: $input-label-font-size-large;
@if internal-is-convertable($input-label-font-size-large) {
  $_fwc-input-label-font-size-large: rem($input-label-font-size-large, $body-font-size);
}

$_fwc-input-label-font-size-small: $input-label-font-size-small;
@if internal-is-convertable($input-label-font-size-small) {
  $_fwc-input-label-font-size-small: rem($input-label-font-size-small, $body-font-size);
}

$_fwc-input-line-height: type-lead($input-font-size, $input-line-height);

$_fwc-input-single-line: $_fwc-input-line-height;
@if unitless($_fwc-input-single-line) and unit($input-font-size) == px {
  $_fwc-input-single-line: #{1em * type-lead($input-font-size, $input-line-height)};
}

$_fwc-input-label-single-line: #{1em * $_fwc-body-line-height};

$_fwc-input-height: $input-height;
@if internal-is-convertable($input-height) {
  $_fwc-input-height: rem($input-height, $body-font-size);
}

$_fwc-input-height-large: $input-height-large;
@if internal-is-convertable($input-height-large) {
  $_fwc-input-height-large: rem($input-height-large, $body-font-size);
}

$_fwc-input-height-small: $input-height-small;
@if internal-is-convertable($input-height-small) {
  $_fwc-input-height-small: rem($input-height-small, $body-font-size);
}

$_fwc-input-gutter-x: $input-gutter-x;
@if internal-is-convertable($input-gutter-x, $input-font-size) {
  $_fwc-input-gutter-x: em($input-gutter-x, $input-font-size);
} @else if internal-is-convertable($input-gutter-x) {
  $_fwc-input-gutter-x: rem($input-gutter-x, $body-font-size);
}

$_fwc-input-info-font-size: $input-info-font-size;

@if internal-is-convertable($input-info-font-size) {
  $_fwc-input-info-font-size: rem($input-info-font-size, $body-font-size);
}

$_fwc-input-info-line-height: type-lead($input-info-font-size, $input-info-line-height);

$_fwc-input-info-gutter-y: $input-info-gutter-y;
@if internal-is-convertable($input-info-gutter-y) {
  $_fwc-input-info-gutter-y: em($input-info-gutter-y, $input-info-font-size);
}

//spacing calcs
$_fwc-value-input-paddiny-y: calc(
  (
      (#{$_fwc-input-height} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * 0.5
);

$_fwc-value-input-paddiny-y-large: calc(
  (
      (#{$_fwc-input-height-large} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * 0.5
);

$_fwc-value-input-paddiny-y-small: calc(
  (
      (#{$_fwc-input-height-small} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * 0.5
);

$_fwc-value-input-paddiny-y-nav: calc(
  ((#{$_fwc-nav-height} - (#{$input-border-width} * 2)) - (#{$_fwc-input-single-line})) *
    0.5
);

$_fwc-value-input-paddiny-y-negative: calc(
  (
      (#{$_fwc-input-height} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * -0.5
);

$_fwc-value-input-paddiny-y-large-negative: calc(
  (
      (#{$_fwc-input-height-large} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * -0.5
);

$_fwc-value-input-paddiny-y-small-negative: calc(
  (
      (#{$_fwc-input-height-small} - (#{$input-border-width} * 2)) -
        (#{$_fwc-input-single-line})
    ) * -0.5
);

$_fwc-value-input-paddiny-y-nav-negative: calc(
  ((#{$_fwc-nav-height} - (#{$input-border-width} * 2)) - (#{$_fwc-input-single-line})) *
    -0.5
);
