$calculated-input-calendar-days-font-size: $input-calendar-days-font-size;
@if internal-is-convertable($input-calendar-days-font-size, $input-font-size) {
  $calculated-input-calendar-days-font-size: em(
    $input-calendar-days-font-size,
    $input-font-size
  );
} @else if internal-is-convertable($input-calendar-days-font-size) {
  $calculated-input-calendar-days-font-size: rem(
    $input-calendar-days-font-size,
    $body-font-size
  );
}

$calculated-input-info-gutter-y: $input-info-gutter-y;
@if internal-is-convertable($input-info-gutter-y) {
  $calculated-input-info-gutter-y: em($input-info-gutter-y, $input-info-font-size);
}

$calculated-input-calendar-block-gutter-x: $input-calendar-block-gutter-x;
@if internal-is-convertable($input-calendar-block-gutter-x, $input-font-size) {
  $calculated-input-calendar-block-gutter-x: em(
    $input-calendar-block-gutter-x,
    $input-font-size
  );
} @else if internal-is-convertable($input-calendar-block-gutter-x) {
  $calculated-input-calendar-block-gutter-x: rem(
    $input-calendar-block-gutter-x,
    $body-font-size
  );
}

$calculated-input-calendar-block-gutter-y: $input-calendar-block-gutter-y;
@if internal-is-convertable($input-calendar-block-gutter-y, $input-font-size) {
  $calculated-input-calendar-block-gutter-y: em(
    $input-calendar-block-gutter-y,
    $input-font-size
  );
} @else if internal-is-convertable($input-calendar-block-gutter-y) {
  $calculated-input-calendar-block-gutter-y: rem(
    $input-calendar-block-gutter-y,
    $body-font-size
  );
}

$calculated-input-calendar-block-gutter-x-mobile: $input-calendar-block-gutter-x-mobile;
@if internal-is-convertable($input-calendar-block-gutter-x-mobile, $input-font-size) {
  $calculated-input-calendar-block-gutter-x-mobile: em(
    $input-calendar-block-gutter-x-mobile,
    $input-font-size
  );
} @else if internal-is-convertable($input-calendar-block-gutter-x-mobile) {
  $calculated-input-calendar-block-gutter-x-mobile: rem(
    $input-calendar-block-gutter-x-mobile,
    $body-font-size
  );
}

$calculated-input-calendar-block-gutter-y-mobile: $input-calendar-block-gutter-y-mobile;
@if internal-is-convertable($input-calendar-block-gutter-y-mobile, $input-font-size) {
  $calculated-input-calendar-block-gutter-y-mobile: em(
    $input-calendar-block-gutter-y-mobile,
    $input-font-size
  );
} @else if internal-is-convertable($input-calendar-block-gutter-y-mobile) {
  $calculated-input-calendar-block-gutter-y-mobile: rem(
    $input-calendar-block-gutter-y-mobile,
    $body-font-size
  );
}
