$mobile-br-max-polar: polar-br(#{$mobile-br-max}-max);

$_fwc-br-tags: (xs, sm, md, lg);

//body
$_fwc-body-line-height: type-lead($body-font-size, $body-line-height);

$_fwc-body-single-line: $_fwc-body-line-height;
@if unitless($_fwc-body-single-line) {
  $_fwc-body-single-line: #{1em * type-lead($body-font-size, $body-line-height)};
}

$_fwc-body-single-line-compact: $_fwc-body-line-height *
  $body-line-height-compact-factor;
@if unitless($_fwc-body-single-line-compact) {
  $_fwc-body-single-line-compact: #{1em *
    type-lead($body-font-size, $body-line-height) *
    $body-line-height-compact-factor};
}

$_fwc-body-single-line-expanded: $_fwc-body-line-height *
  $body-line-height-expanded-factor;
@if unitless($_fwc-body-single-line-expanded) {
  $_fwc-body-single-line-expanded: #{1em *
    type-lead($body-font-size, $body-line-height) *
    $body-line-height-expanded-factor};
}

//style guide
$_fwc-color-tags: (
  base: $brand-color-base,
  background: $brand-color-background,
  primary: $brand-color-primary,
  secondary: $brand-color-secondary,
  accent: $brand-color-accent,
  neutral: $brand-color-neutral,
  success: $brand-color-success,
  caution: $brand-color-caution,
  error: $brand-color-error,
  intensity-1: $brand-color-intensity-1,
  intensity-2: $brand-color-intensity-2,
  intensity-3: $brand-color-intensity-3,
  intensity-4: $brand-color-intensity-4,
  intensity-5: $brand-color-intensity-5,
);

$_fwc-color-variations: (
  base: (
    alt: $brand-color-base-alt,
    alpha-1: rgba($brand-color-base, 0.1),
    alpha-2: rgba($brand-color-base, 0.2),
    alpha-3: rgba($brand-color-base, 0.3),
    alpha-4: rgba($brand-color-base, 0.4),
    alpha-5: rgba($brand-color-base, 0.5),
    alpha-6: rgba($brand-color-base, 0.6),
    alpha-7: rgba($brand-color-base, 0.7),
    alpha-8: rgba($brand-color-base, 0.8),
    alpha-9: rgba($brand-color-base, 0.9),
  ),
  background: (
    alt: $brand-color-background-alt,
    alpha-1: rgba($brand-color-background, 0.1),
    alpha-2: rgba($brand-color-background, 0.2),
    alpha-3: rgba($brand-color-background, 0.3),
    alpha-4: rgba($brand-color-background, 0.4),
    alpha-5: rgba($brand-color-background, 0.5),
    alpha-6: rgba($brand-color-background, 0.6),
    alpha-7: rgba($brand-color-background, 0.7),
    alpha-8: rgba($brand-color-background, 0.8),
    alpha-9: rgba($brand-color-background, 0.9),
  ),
  primary: (
    light: $brand-color-primary-light,
    lighter: $brand-color-primary-lighter,
    lightest: $brand-color-primary-lightest,
    dark: $brand-color-primary-dark,
    darker: $brand-color-primary-darker,
    darkest: $brand-color-primary-darkest,
    alpha-1: rgba($brand-color-primary, 0.1),
    alpha-2: rgba($brand-color-primary, 0.2),
    alpha-3: rgba($brand-color-primary, 0.3),
    alpha-4: rgba($brand-color-primary, 0.4),
    alpha-5: rgba($brand-color-primary, 0.5),
    alpha-6: rgba($brand-color-primary, 0.6),
    alpha-7: rgba($brand-color-primary, 0.7),
    alpha-8: rgba($brand-color-primary, 0.8),
    alpha-9: rgba($brand-color-primary, 0.9),
  ),
  secondary: (
    light: $brand-color-secondary-light,
    lighter: $brand-color-secondary-lighter,
    lightest: $brand-color-secondary-lightest,
    dark: $brand-color-secondary-dark,
    darker: $brand-color-secondary-darker,
    darkest: $brand-color-secondary-darkest,
    alpha-1: rgba($brand-color-secondary, 0.1),
    alpha-2: rgba($brand-color-secondary, 0.2),
    alpha-3: rgba($brand-color-secondary, 0.3),
    alpha-4: rgba($brand-color-secondary, 0.4),
    alpha-5: rgba($brand-color-secondary, 0.5),
    alpha-6: rgba($brand-color-secondary, 0.6),
    alpha-7: rgba($brand-color-secondary, 0.7),
    alpha-8: rgba($brand-color-secondary, 0.8),
    alpha-9: rgba($brand-color-secondary, 0.9),
  ),
  accent: (
    light: $brand-color-accent-light,
    lighter: $brand-color-accent-lighter,
    lightest: $brand-color-accent-lightest,
    dark: $brand-color-accent-dark,
    darker: $brand-color-accent-darker,
    darkest: $brand-color-accent-darkest,
    alpha-1: rgba($brand-color-accent, 0.1),
    alpha-2: rgba($brand-color-accent, 0.2),
    alpha-3: rgba($brand-color-accent, 0.3),
    alpha-4: rgba($brand-color-accent, 0.4),
    alpha-5: rgba($brand-color-accent, 0.5),
    alpha-6: rgba($brand-color-accent, 0.6),
    alpha-7: rgba($brand-color-accent, 0.7),
    alpha-8: rgba($brand-color-accent, 0.8),
    alpha-9: rgba($brand-color-accent, 0.9),
  ),
  neutral: (
    light: $brand-color-neutral-light,
    lighter: $brand-color-neutral-lighter,
    lightest: $brand-color-neutral-lightest,
    dark: $brand-color-neutral-dark,
    darker: $brand-color-neutral-darker,
    darkest: $brand-color-neutral-darkest,
    alpha-1: rgba($brand-color-neutral, 0.1),
    alpha-2: rgba($brand-color-neutral, 0.2),
    alpha-3: rgba($brand-color-neutral, 0.3),
    alpha-4: rgba($brand-color-neutral, 0.4),
    alpha-5: rgba($brand-color-neutral, 0.5),
    alpha-6: rgba($brand-color-neutral, 0.6),
    alpha-7: rgba($brand-color-neutral, 0.7),
    alpha-8: rgba($brand-color-neutral, 0.8),
    alpha-9: rgba($brand-color-neutral, 0.9),
  ),
  success: (
    light: $brand-color-success-light,
    lighter: $brand-color-success-lighter,
    lightest: $brand-color-success-lightest,
    dark: $brand-color-success-dark,
    darker: $brand-color-success-darker,
    darkest: $brand-color-success-darkest,
    alpha-1: rgba($brand-color-success, 0.1),
    alpha-2: rgba($brand-color-success, 0.2),
    alpha-3: rgba($brand-color-success, 0.3),
    alpha-4: rgba($brand-color-success, 0.4),
    alpha-5: rgba($brand-color-success, 0.5),
    alpha-6: rgba($brand-color-success, 0.6),
    alpha-7: rgba($brand-color-success, 0.7),
    alpha-8: rgba($brand-color-success, 0.8),
    alpha-9: rgba($brand-color-success, 0.9),
  ),
  caution: (
    light: $brand-color-caution-light,
    lighter: $brand-color-caution-lighter,
    lightest: $brand-color-caution-lightest,
    dark: $brand-color-caution-dark,
    darker: $brand-color-caution-darker,
    darkest: $brand-color-caution-darkest,
    alpha-1: rgba($brand-color-caution, 0.1),
    alpha-2: rgba($brand-color-caution, 0.2),
    alpha-3: rgba($brand-color-caution, 0.3),
    alpha-4: rgba($brand-color-caution, 0.4),
    alpha-5: rgba($brand-color-caution, 0.5),
    alpha-6: rgba($brand-color-caution, 0.6),
    alpha-7: rgba($brand-color-caution, 0.7),
    alpha-8: rgba($brand-color-caution, 0.8),
    alpha-9: rgba($brand-color-caution, 0.9),
  ),
  error: (
    light: $brand-color-error-light,
    lighter: $brand-color-error-lighter,
    lightest: $brand-color-error-lightest,
    dark: $brand-color-error-dark,
    darker: $brand-color-error-darker,
    darkest: $brand-color-error-darkest,
    alpha-1: rgba($brand-color-error, 0.1),
    alpha-2: rgba($brand-color-error, 0.2),
    alpha-3: rgba($brand-color-error, 0.3),
    alpha-4: rgba($brand-color-error, 0.4),
    alpha-5: rgba($brand-color-error, 0.5),
    alpha-6: rgba($brand-color-error, 0.6),
    alpha-7: rgba($brand-color-error, 0.7),
    alpha-8: rgba($brand-color-error, 0.8),
    alpha-9: rgba($brand-color-error, 0.9),
  ),
  intensity-1: (
    light: $brand-color-intensity-1-light,
    lighter: $brand-color-intensity-1-lighter,
    lightest: $brand-color-intensity-1-lightest,
    dark: $brand-color-intensity-1-dark,
    darker: $brand-color-intensity-1-darker,
    darkest: $brand-color-intensity-1-darkest,
    alpha-1: rgba($brand-color-intensity-1, 0.1),
    alpha-2: rgba($brand-color-intensity-1, 0.2),
    alpha-3: rgba($brand-color-intensity-1, 0.3),
    alpha-4: rgba($brand-color-intensity-1, 0.4),
    alpha-5: rgba($brand-color-intensity-1, 0.5),
    alpha-6: rgba($brand-color-intensity-1, 0.6),
    alpha-7: rgba($brand-color-intensity-1, 0.7),
    alpha-8: rgba($brand-color-intensity-1, 0.8),
    alpha-9: rgba($brand-color-intensity-1, 0.9),
  ),
  intensity-2: (
    light: $brand-color-intensity-2-light,
    lighter: $brand-color-intensity-2-lighter,
    lightest: $brand-color-intensity-2-lightest,
    dark: $brand-color-intensity-2-dark,
    darker: $brand-color-intensity-2-darker,
    darkest: $brand-color-intensity-2-darkest,
    alpha-1: rgba($brand-color-intensity-2, 0.1),
    alpha-2: rgba($brand-color-intensity-2, 0.2),
    alpha-3: rgba($brand-color-intensity-2, 0.3),
    alpha-4: rgba($brand-color-intensity-2, 0.4),
    alpha-5: rgba($brand-color-intensity-2, 0.5),
    alpha-6: rgba($brand-color-intensity-2, 0.6),
    alpha-7: rgba($brand-color-intensity-2, 0.7),
    alpha-8: rgba($brand-color-intensity-2, 0.8),
    alpha-9: rgba($brand-color-intensity-2, 0.9),
  ),
  intensity-3: (
    light: $brand-color-intensity-3-light,
    lighter: $brand-color-intensity-3-lighter,
    lightest: $brand-color-intensity-3-lightest,
    dark: $brand-color-intensity-3-dark,
    darker: $brand-color-intensity-3-darker,
    darkest: $brand-color-intensity-3-darkest,
    alpha-1: rgba($brand-color-intensity-3, 0.1),
    alpha-2: rgba($brand-color-intensity-3, 0.2),
    alpha-3: rgba($brand-color-intensity-3, 0.3),
    alpha-4: rgba($brand-color-intensity-3, 0.4),
    alpha-5: rgba($brand-color-intensity-3, 0.5),
    alpha-6: rgba($brand-color-intensity-3, 0.6),
    alpha-7: rgba($brand-color-intensity-3, 0.7),
    alpha-8: rgba($brand-color-intensity-3, 0.8),
    alpha-9: rgba($brand-color-intensity-3, 0.9),
  ),
  intensity-4: (
    light: $brand-color-intensity-4-light,
    lighter: $brand-color-intensity-4-lighter,
    lightest: $brand-color-intensity-4-lightest,
    dark: $brand-color-intensity-4-dark,
    darker: $brand-color-intensity-4-darker,
    darkest: $brand-color-intensity-4-darkest,
    alpha-1: rgba($brand-color-intensity-4, 0.1),
    alpha-2: rgba($brand-color-intensity-4, 0.2),
    alpha-3: rgba($brand-color-intensity-4, 0.3),
    alpha-4: rgba($brand-color-intensity-4, 0.4),
    alpha-5: rgba($brand-color-intensity-4, 0.5),
    alpha-6: rgba($brand-color-intensity-4, 0.6),
    alpha-7: rgba($brand-color-intensity-4, 0.7),
    alpha-8: rgba($brand-color-intensity-4, 0.8),
    alpha-9: rgba($brand-color-intensity-4, 0.9),
  ),
  intensity-5: (
    light: $brand-color-intensity-5-light,
    lighter: $brand-color-intensity-5-lighter,
    lightest: $brand-color-intensity-5-lightest,
    dark: $brand-color-intensity-5-dark,
    darker: $brand-color-intensity-5-darker,
    darkest: $brand-color-intensity-5-darkest,
    alpha-1: rgba($brand-color-intensity-5, 0.1),
    alpha-2: rgba($brand-color-intensity-5, 0.2),
    alpha-3: rgba($brand-color-intensity-5, 0.3),
    alpha-4: rgba($brand-color-intensity-5, 0.4),
    alpha-5: rgba($brand-color-intensity-5, 0.5),
    alpha-6: rgba($brand-color-intensity-5, 0.6),
    alpha-7: rgba($brand-color-intensity-5, 0.7),
    alpha-8: rgba($brand-color-intensity-5, 0.8),
    alpha-9: rgba($brand-color-intensity-5, 0.9),
  ),
);

$_fwc-color-vars-variations: (
  base: (
    alt: $var-color-base-alt,
    alpha-1: $var-color-base-alpha-1,
    alpha-2: $var-color-base-alpha-2,
    alpha-3: $var-color-base-alpha-3,
    alpha-4: $var-color-base-alpha-4,
    alpha-5: $var-color-base-alpha-5,
    alpha-6: $var-color-base-alpha-6,
    alpha-7: $var-color-base-alpha-7,
    alpha-8: $var-color-base-alpha-8,
    alpha-9: $var-color-base-alpha-9,
  ),
  background: (
    alt: $var-color-background-alt,
    alpha-1: $var-color-background-alpha-1,
    alpha-2: $var-color-background-alpha-2,
    alpha-3: $var-color-background-alpha-3,
    alpha-4: $var-color-background-alpha-4,
    alpha-5: $var-color-background-alpha-5,
    alpha-6: $var-color-background-alpha-6,
    alpha-7: $var-color-background-alpha-7,
    alpha-8: $var-color-background-alpha-8,
    alpha-9: $var-color-background-alpha-9,
  ),
  primary: (
    light: $var-color-primary-light,
    lighter: $var-color-primary-lighter,
    lightest: $var-color-primary-lightest,
    dark: $var-color-primary-dark,
    darker: $var-color-primary-darker,
    darkest: $var-color-primary-darkest,
    alpha-1: $var-color-primary-alpha-1,
    alpha-2: $var-color-primary-alpha-2,
    alpha-3: $var-color-primary-alpha-3,
    alpha-4: $var-color-primary-alpha-4,
    alpha-5: $var-color-primary-alpha-5,
    alpha-6: $var-color-primary-alpha-6,
    alpha-7: $var-color-primary-alpha-7,
    alpha-8: $var-color-primary-alpha-8,
    alpha-9: $var-color-primary-alpha-9,
  ),
  secondary: (
    light: $var-color-secondary-light,
    lighter: $var-color-secondary-lighter,
    lightest: $var-color-secondary-lightest,
    dark: $var-color-secondary-dark,
    darker: $var-color-secondary-darker,
    darkest: $var-color-secondary-darkest,
    alpha-1: $var-color-secondary-alpha-1,
    alpha-2: $var-color-secondary-alpha-2,
    alpha-3: $var-color-secondary-alpha-3,
    alpha-4: $var-color-secondary-alpha-4,
    alpha-5: $var-color-secondary-alpha-5,
    alpha-6: $var-color-secondary-alpha-6,
    alpha-7: $var-color-secondary-alpha-7,
    alpha-8: $var-color-secondary-alpha-8,
    alpha-9: $var-color-secondary-alpha-9,
  ),
  accent: (
    light: $var-color-accent-light,
    lighter: $var-color-accent-lighter,
    lightest: $var-color-accent-lightest,
    dark: $var-color-accent-dark,
    darker: $var-color-accent-darker,
    darkest: $var-color-accent-darkest,
    alpha-1: $var-color-accent-alpha-1,
    alpha-2: $var-color-accent-alpha-2,
    alpha-3: $var-color-accent-alpha-3,
    alpha-4: $var-color-accent-alpha-4,
    alpha-5: $var-color-accent-alpha-5,
    alpha-6: $var-color-accent-alpha-6,
    alpha-7: $var-color-accent-alpha-7,
    alpha-8: $var-color-accent-alpha-8,
    alpha-9: $var-color-accent-alpha-9,
  ),
  neutral: (
    light: $var-color-neutral-light,
    lighter: $var-color-neutral-lighter,
    lightest: $var-color-neutral-lightest,
    dark: $var-color-neutral-dark,
    darker: $var-color-neutral-darker,
    darkest: $var-color-neutral-darkest,
    alpha-1: $var-color-neutral-alpha-1,
    alpha-2: $var-color-neutral-alpha-2,
    alpha-3: $var-color-neutral-alpha-3,
    alpha-4: $var-color-neutral-alpha-4,
    alpha-5: $var-color-neutral-alpha-5,
    alpha-6: $var-color-neutral-alpha-6,
    alpha-7: $var-color-neutral-alpha-7,
    alpha-8: $var-color-neutral-alpha-8,
    alpha-9: $var-color-neutral-alpha-9,
  ),
  success: (
    light: $var-color-success-light,
    lighter: $var-color-success-lighter,
    lightest: $var-color-success-lightest,
    dark: $var-color-success-dark,
    darker: $var-color-success-darker,
    darkest: $var-color-success-darkest,
    alpha-1: $var-color-success-alpha-1,
    alpha-2: $var-color-success-alpha-2,
    alpha-3: $var-color-success-alpha-3,
    alpha-4: $var-color-success-alpha-4,
    alpha-5: $var-color-success-alpha-5,
    alpha-6: $var-color-success-alpha-6,
    alpha-7: $var-color-success-alpha-7,
    alpha-8: $var-color-success-alpha-8,
    alpha-9: $var-color-success-alpha-9,
  ),
  caution: (
    light: $var-color-caution-light,
    lighter: $var-color-caution-lighter,
    lightest: $var-color-caution-lightest,
    dark: $var-color-caution-dark,
    darker: $var-color-caution-darker,
    darkest: $var-color-caution-darkest,
    alpha-1: $var-color-caution-alpha-1,
    alpha-2: $var-color-caution-alpha-2,
    alpha-3: $var-color-caution-alpha-3,
    alpha-4: $var-color-caution-alpha-4,
    alpha-5: $var-color-caution-alpha-5,
    alpha-6: $var-color-caution-alpha-6,
    alpha-7: $var-color-caution-alpha-7,
    alpha-8: $var-color-caution-alpha-8,
    alpha-9: $var-color-caution-alpha-9,
  ),
  error: (
    light: $var-color-error-light,
    lighter: $var-color-error-lighter,
    lightest: $var-color-error-lightest,
    dark: $var-color-error-dark,
    darker: $var-color-error-darker,
    darkest: $var-color-error-darkest,
    alpha-1: $var-color-error-alpha-1,
    alpha-2: $var-color-error-alpha-2,
    alpha-3: $var-color-error-alpha-3,
    alpha-4: $var-color-error-alpha-4,
    alpha-5: $var-color-error-alpha-5,
    alpha-6: $var-color-error-alpha-6,
    alpha-7: $var-color-error-alpha-7,
    alpha-8: $var-color-error-alpha-8,
    alpha-9: $var-color-error-alpha-9,
  ),
  intensity-1: (
    light: $var-color-intensity-1-light,
    lighter: $var-color-intensity-1-lighter,
    lightest: $var-color-intensity-1-lightest,
    dark: $var-color-intensity-1-dark,
    darker: $var-color-intensity-1-darker,
    darkest: $var-color-intensity-1-darkest,
    alpha-1: $var-color-intensity-1-alpha-1,
    alpha-2: $var-color-intensity-1-alpha-2,
    alpha-3: $var-color-intensity-1-alpha-3,
    alpha-4: $var-color-intensity-1-alpha-4,
    alpha-5: $var-color-intensity-1-alpha-5,
    alpha-6: $var-color-intensity-1-alpha-6,
    alpha-7: $var-color-intensity-1-alpha-7,
    alpha-8: $var-color-intensity-1-alpha-8,
    alpha-9: $var-color-intensity-1-alpha-9,
  ),
  intensity-2: (
    light: $var-color-intensity-2-light,
    lighter: $var-color-intensity-2-lighter,
    lightest: $var-color-intensity-2-lightest,
    dark: $var-color-intensity-2-dark,
    darker: $var-color-intensity-2-darker,
    darkest: $var-color-intensity-2-darkest,
    alpha-1: $var-color-intensity-2-alpha-1,
    alpha-2: $var-color-intensity-2-alpha-2,
    alpha-3: $var-color-intensity-2-alpha-3,
    alpha-4: $var-color-intensity-2-alpha-4,
    alpha-5: $var-color-intensity-2-alpha-5,
    alpha-6: $var-color-intensity-2-alpha-6,
    alpha-7: $var-color-intensity-2-alpha-7,
    alpha-8: $var-color-intensity-2-alpha-8,
    alpha-9: $var-color-intensity-2-alpha-9,
  ),
  intensity-3: (
    light: $var-color-intensity-3-light,
    lighter: $var-color-intensity-3-lighter,
    lightest: $var-color-intensity-3-lightest,
    dark: $var-color-intensity-3-dark,
    darker: $var-color-intensity-3-darker,
    darkest: $var-color-intensity-3-darkest,
    alpha-1: $var-color-intensity-3-alpha-1,
    alpha-2: $var-color-intensity-3-alpha-2,
    alpha-3: $var-color-intensity-3-alpha-3,
    alpha-4: $var-color-intensity-3-alpha-4,
    alpha-5: $var-color-intensity-3-alpha-5,
    alpha-6: $var-color-intensity-3-alpha-6,
    alpha-7: $var-color-intensity-3-alpha-7,
    alpha-8: $var-color-intensity-3-alpha-8,
    alpha-9: $var-color-intensity-3-alpha-9,
  ),
  intensity-4: (
    light: $var-color-intensity-4-light,
    lighter: $var-color-intensity-4-lighter,
    lightest: $var-color-intensity-4-lightest,
    dark: $var-color-intensity-4-dark,
    darker: $var-color-intensity-4-darker,
    darkest: $var-color-intensity-4-darkest,
    alpha-1: $var-color-intensity-4-alpha-1,
    alpha-2: $var-color-intensity-4-alpha-2,
    alpha-3: $var-color-intensity-4-alpha-3,
    alpha-4: $var-color-intensity-4-alpha-4,
    alpha-5: $var-color-intensity-4-alpha-5,
    alpha-6: $var-color-intensity-4-alpha-6,
    alpha-7: $var-color-intensity-4-alpha-7,
    alpha-8: $var-color-intensity-4-alpha-8,
    alpha-9: $var-color-intensity-4-alpha-9,
  ),
  intensity-5: (
    light: $var-color-intensity-5-light,
    lighter: $var-color-intensity-5-lighter,
    lightest: $var-color-intensity-5-lightest,
    dark: $var-color-intensity-5-dark,
    darker: $var-color-intensity-5-darker,
    darkest: $var-color-intensity-5-darkest,
    alpha-1: $var-color-intensity-5-alpha-1,
    alpha-2: $var-color-intensity-5-alpha-2,
    alpha-3: $var-color-intensity-5-alpha-3,
    alpha-4: $var-color-intensity-5-alpha-4,
    alpha-5: $var-color-intensity-5-alpha-5,
    alpha-6: $var-color-intensity-5-alpha-6,
    alpha-7: $var-color-intensity-5-alpha-7,
    alpha-8: $var-color-intensity-5-alpha-8,
    alpha-9: $var-color-intensity-5-alpha-9,
  ),
);

$_fwc-gradient-angles-legacy: (0, 45, 90, 135, 180, 225, 270, 315);
$_fwc-gradient-angles: (0, 45, 90, 135);

$_fwc-gradient-color-stops: (
  primary: $var-color-primary,
  secondary: $var-color-secondary,
  accent: $var-color-accent,
  neutral: $var-color-neutral,
  success: $var-color-success,
  caution: $var-color-caution,
  error: $var-color-error,
  transparent: transparent,
  theme: $var-theme-background,
  theme-contrast: $var-theme-background-contrast,
  theme-polar: $var-theme-color,
  theme-polar-contrast: $var-theme-color-contrast,
);

$_fwc-theme-colors-background: (
  theme: $var-theme-background,
  theme-contrast: $var-theme-background-contrast,
  theme-polar: $var-theme-color,
  theme-polar-contrast: $var-theme-color-contrast,
);

$_fwc-theme-colors-color: (
  theme: $var-theme-color,
  theme-contrast: $var-theme-color-contrast,
  theme-polar: $var-theme-background,
  theme-polar-contrast: $var-theme-background-contrast,
);

//for components
$_fwc-brand-color-declarations-for-components: (
  primary: $var-color-primary,
  secondary: $var-color-secondary,
  accent: $var-color-accent,
  neutral: $var-color-neutral,
  success: $var-color-success,
  caution: $var-color-caution,
  error: $var-color-error,
);

$_fwc-brand-color-intensity: (
  $var-color-intensity-1,
  $var-color-intensity-2,
  $var-color-intensity-3,
  $var-color-intensity-4,
  $var-color-intensity-5
);

//for helpers
$_fwc-brand-color-declarations-for-helpers: (
  base: $var-color-base,
  background: $var-color-background,
  primary: $var-color-primary,
  secondary: $var-color-secondary,
  accent: $var-color-accent,
  neutral: $var-color-neutral,
  success: $var-color-success,
  caution: $var-color-caution,
  error: $var-color-error,
  intensity-1: $var-color-intensity-1,
  intensity-2: $var-color-intensity-2,
  intensity-3: $var-color-intensity-3,
  intensity-4: $var-color-intensity-4,
  intensity-5: $var-color-intensity-5,
);
