$_fwc-board-close-width: $modal-board-resize-width;
@if internal-is-convertable($modal-board-resize-width) {
  $_fwc-board-resize-width: rem($modal-board-resize-width, $body-font-size);
}

$_fwc-board-resize-height: $modal-board-resize-height;
@if internal-is-convertable($modal-board-resize-height) {
  $_fwc-board-resize-height: rem($modal-board-resize-height, $body-font-size);
}

$_fwc-board-close-size: $modal-board-close-size;
@if internal-is-convertable($modal-board-close-size) {
  $_fwc-board-close-size: rem($modal-board-close-size, $body-font-size);
}
