//FOR GLOBAL
$_fwc-nav-height: $nav-height;
@if internal-is-convertable($nav-height) {
  $_fwc-nav-height: rem($nav-height, $body-font-size);
}

$_fwc-body-text-gutter-y: $body-text-gutter-y;
@if internal-is-convertable($_fwc-body-text-gutter-y) {
  $_fwc-body-text-gutter-y: em($body-text-gutter-y, $body-font-size);
}
//EH OK
$_fwc-nav-font-size: $nav-font-size;
@if internal-is-convertable($nav-font-size) {
  $_fwc-nav-font-size: rem($nav-font-size, $body-font-size);
}

$_fwc-nav-top-font-size: $nav-top-font-size;
@if internal-is-convertable($nav-top-font-size) {
  $_fwc-nav-top-font-size: rem($nav-top-font-size, $body-font-size);
}
$_fwc-nav-line-height: $nav-line-height;
@if internal-is-convertable($nav-line-height) {
  $_fwc-nav-line-height: rem($nav-line-height, $body-font-size);
}

$_fwc-nav-single-line: $_fwc-nav-line-height;
@if unitless($_fwc-nav-single-line) and unit($nav-font-size) == px {
  $_fwc-nav-single-line: #{1em * type-lead($nav-font-size, $_fwc-nav-line-height)};
}

$_fwc-nav-icon-width: $nav-icon-width;
@if internal-is-convertable($nav-icon-width, $nav-top-font-size) {
  $_fwc-nav-icon-width: em($nav-icon-width, $nav-top-font-size);
}

$_fwc-nav-icon-height: $nav-icon-height;
@if internal-is-convertable($nav-icon-height, $nav-top-font-size) {
  $_fwc-nav-icon-height: em($nav-icon-width, $nav-top-font-size);
}
