$_fwc-progress-height: $progress-height;
@if internal-is-convertable($progress-height) {
  $_fwc-progress-height: rem($progress-height, $body-font-size);
}

$_fwc-progress-height-small: $progress-height-small;
@if internal-is-convertable($progress-height-small) {
  $_fwc-progress-height-small: rem($progress-height-small, $body-font-size);
}

$_fwc-progress-height-large: $progress-height-large;
@if internal-is-convertable($progress-height-large) {
  $_fwc-progress-height-large: rem($progress-height-large, $body-font-size);
}

$_fwc-progress-title-font-size: $progress-title-font-size;
@if internal-is-convertable($progress-title-font-size) {
  $_fwc-progress-title-font-size: em($progress-title-font-size, $body-font-size);
}

$_fwc-progress-title-line-height: type-lead(
  $progress-title-font-size,
  $progress-title-line-height
);

$_fwc-progress-title-margin-bottom: $progress-title-margin-bottom;
@if internal-is-convertable($progress-title-margin-bottom) {
  $_fwc-progress-title-margin-bottom: em(
    $progress-title-margin-bottom,
    $progress-title-font-size
  );
}

$_fwc-progress-title-margin-top: $progress-title-margin-top;
@if internal-is-convertable($progress-title-margin-top) {
  $_fwc-progress-title-margin-top: em(
    $progress-title-margin-top,
    $progress-title-font-size
  );
}
