$_fwc-table-row-background: (
  primary: (
    normal: $table-row-primary-background,
    inverse: $table-row-primary-background-inverse,
  ),
  secondary: (
    normal: $table-row-secondary-background,
    inverse: $table-row-secondary-background-inverse,
  ),
  accent: (
    normal: $table-row-accent-background,
    inverse: $table-row-accent-background-inverse,
  ),
  neutral: (
    normal: $table-row-neutral-background,
    inverse: $table-row-neutral-background-inverse,
  ),
  success: (
    normal: $table-row-success-background,
    inverse: $table-row-success-background-inverse,
  ),
  caution: (
    normal: $table-row-caution-background,
    inverse: $table-row-caution-background-inverse,
  ),
  error: (
    normal: $table-row-error-background,
    inverse: $table-row-error-background-inverse,
  ),
  intensity-1: (
    normal: $table-row-intensity-1-background,
    inverse: $table-row-intensity-1-background-inverse,
  ),
  intensity-2: (
    normal: $table-row-intensity-2-background,
    inverse: $table-row-intensity-2-background-inverse,
  ),
  intensity-3: (
    normal: $table-row-intensity-3-background,
    inverse: $table-row-intensity-3-background-inverse,
  ),
  intensity-4: (
    normal: $table-row-intensity-4-background,
    inverse: $table-row-intensity-4-background-inverse,
  ),
  intensity-5: (
    normal: $table-row-intensity-5-background,
    inverse: $table-row-intensity-5-background-inverse,
  ),
);

$_fwc-table-cell-background: (
  primary: (
    normal: $table-cell-primary-background,
    inverse: $table-cell-primary-background-inverse,
  ),
  secondary: (
    normal: $table-cell-secondary-background,
    inverse: $table-cell-secondary-background-inverse,
  ),
  accent: (
    normal: $table-cell-accent-background,
    inverse: $table-cell-accent-background-inverse,
  ),
  neutral: (
    normal: $table-cell-neutral-background,
    inverse: $table-cell-neutral-background-inverse,
  ),
  success: (
    normal: $table-cell-success-background,
    inverse: $table-cell-success-background-inverse,
  ),
  caution: (
    normal: $table-cell-caution-background,
    inverse: $table-cell-caution-background-inverse,
  ),
  error: (
    normal: $table-cell-error-background,
    inverse: $table-cell-error-background-inverse,
  ),
  intensity-1: (
    normal: $table-cell-intensity-1-background,
    inverse: $table-cell-intensity-1-background-inverse,
  ),
  intensity-2: (
    normal: $table-cell-intensity-2-background,
    inverse: $table-cell-intensity-2-background-inverse,
  ),
  intensity-3: (
    normal: $table-cell-intensity-3-background,
    inverse: $table-cell-intensity-3-background-inverse,
  ),
  intensity-4: (
    normal: $table-cell-intensity-4-background,
    inverse: $table-cell-intensity-4-background-inverse,
  ),
  intensity-5: (
    normal: $table-cell-intensity-5-background,
    inverse: $table-cell-intensity-5-background-inverse,
  ),
);

//table
$_fwc-table-heading-height: $table-heading-height;
@if internal-is-convertable($table-heading-height) {
  $_fwc-table-heading-height: rem($table-heading-height, $body-font-size);
}

$_fwc-table-cell-height: $table-cell-height;
@if internal-is-convertable($table-cell-height) {
  $_fwc-table-cell-height: rem($table-cell-height, $body-font-size);
}

$_fwc-table-cell-height-large: $table-cell-height-large;
@if internal-is-convertable($table-cell-height-large) {
  $_fwc-table-cell-height-large: rem($table-cell-height-large, $body-font-size);
}
$_fwc-table-cell-height-small: $table-cell-height-small;
@if internal-is-convertable($table-cell-height-small) {
  $_fwc-table-cell-height-small: rem($table-cell-height-small, $body-font-size);
}
