$_fwc-well-spread: $well-spread;
@if internal-is-convertable($well-spread) {
  $_fwc-well-spread: rem($well-spread, $body-font-size);
}

$_fwc-well-spread-expanded: $well-spread-expanded;
@if internal-is-convertable($well-spread-expanded) {
  $_fwc-well-spread-expanded: rem($well-spread-expanded, $body-font-size);
}

$_fwc-well-spread-compact: $well-spread-compact;
@if internal-is-convertable($well-spread-compact) {
  $_fwc-well-spread-compact: rem($well-spread-compact, $body-font-size);
}
