
//internal vars
$calculated-input-font-size: $input-font-size;
@if internal-is-convertable($input-font-size) {
	$calculated-input-font-size: rem($input-font-size / $body-font-size)
}

	$calculated-input-font-size-large: $input-font-size-large;
	@if internal-is-convertable($input-font-size-large) {
		$calculated-input-font-size-large: rem($input-font-size-large / $body-font-size)
	}

	$calculated-input-font-size-small: $input-font-size-small;
	@if internal-is-convertable($input-font-size-small) {
		$calculated-input-font-size-small: rem($input-font-size-small / $body-font-size)
	}


	$calculated-input-label-font-size: $input-label-font-size;
	@if internal-is-convertable($input-label-font-size) {
		$calculated-input-label-font-size: rem($input-label-font-size / $body-font-size)
	}
	
		$calculated-input-label-font-size-large: $input-label-font-size-large;
		@if internal-is-convertable($input-label-font-size-large) {
			$calculated-input-label-font-size-large: rem($input-label-font-size-large / $body-font-size)
		}
	
		$calculated-input-label-font-size-small: $input-label-font-size-small;
		@if internal-is-convertable($input-label-font-size-small) {
			$calculated-input-label-font-size-small: rem($input-label-font-size-small / $body-font-size)
		}


$calculated-input-line-height: type-lead( $input-font-size,$input-line-height );

	$calculated-input-label-line-height: type-lead( $input-label-font-size,$input-label-line-height );

$calculated-input-single-line: $calculated-input-line-height;
@if unitless($calculated-input-single-line) and unit($input-font-size) == px {
	$calculated-input-single-line: 1em * #{ type-lead( $input-font-size,$input-line-height ) }
}

	$calculated-input-label-single-line: $calculated-input-label-line-height;
	@if unitless($calculated-input-label-single-line) and unit($input-label-font-size) == px {
		$calculated-input-label-single-line: 1em * #{ type-lead( $input-label-font-size,$input-label-line-height ) }
	}

$calculated-input-height: $input-height;
@if internal-is-convertable($input-height){
	$calculated-input-height: rem($input-height/$body-font-size);
}

// @error $calculated-input-height;

	$calculated-input-height-large: $input-height-large;
	@if internal-is-convertable($input-height-large){
		$calculated-input-height-large: rem($input-height-large/$body-font-size);
	}

	$calculated-input-height-small: $input-height-small;
	@if internal-is-convertable($input-height-small){
		$calculated-input-height-small: rem($input-height-small/$body-font-size);
	}


$calculated-input-calendar-days-font-size: $input-calendar-days-font-size;
@if internal-is-convertable($input-calendar-days-font-size,$input-font-size) {
	$calculated-input-calendar-days-font-size: em($input-calendar-days-font-size / $input-font-size)
}@else if internal-is-convertable($input-calendar-days-font-size){
	$calculated-input-calendar-days-font-size: rem($input-calendar-days-font-size/$body-font-size);
}
	

$calculated-input-gutter-x: $input-gutter-x;
@if internal-is-convertable($input-gutter-x,$input-font-size) {
	$calculated-input-gutter-x: em($input-gutter-x / $input-font-size)
}@else if internal-is-convertable($input-gutter-x){
	$calculated-input-gutter-x: rem($input-gutter-x/$body-font-size);
}
//info

$calculated-input-info-font-size: $input-info-font-size;
@if internal-is-convertable($input-info-font-size) {
	$calculated-input-info-font-size: rem($input-info-font-size / $body-font-size)
}

$calculated-input-info-line-height: type-lead( $input-info-font-size,$input-info-line-height );


$calculated-input-info-gutter-y: $input-info-gutter-y;
@if internal-is-convertable($input-info-gutter-y) {
	$calculated-input-info-gutter-y: em($input-info-gutter-y / $input-info-font-size)
}

//calendar
	$calculated-input-calendar-block-gutter-x: $input-calendar-block-gutter-x;
	@if internal-is-convertable($input-calendar-block-gutter-x,$input-font-size){
		$calculated-input-calendar-block-gutter-x: em($input-calendar-block-gutter-x/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-x){
		$calculated-input-calendar-block-gutter-x: rem($input-calendar-block-gutter-x/$body-font-size);
	}

	$calculated-input-calendar-block-gutter-y: $input-calendar-block-gutter-y;
	@if internal-is-convertable($input-calendar-block-gutter-y,$input-font-size){
		$calculated-input-calendar-block-gutter-y: em($input-calendar-block-gutter-y/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-y){
		$calculated-input-calendar-block-gutter-y: rem($input-calendar-block-gutter-y/$body-font-size);
	}


	$calculated-input-calendar-block-gutter-x-mobile: $input-calendar-block-gutter-x-mobile;
	@if internal-is-convertable($input-calendar-block-gutter-x-mobile,$input-font-size){
		$calculated-input-calendar-block-gutter-x-mobile: em($input-calendar-block-gutter-x-mobile/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-x-mobile){
		$calculated-input-calendar-block-gutter-x-mobile: rem($input-calendar-block-gutter-x-mobile/$body-font-size);
	}

	$calculated-input-calendar-block-gutter-y-mobile: $input-calendar-block-gutter-y-mobile;
	@if internal-is-convertable($input-calendar-block-gutter-y-mobile,$input-font-size){
		$calculated-input-calendar-block-gutter-y-mobile: em($input-calendar-block-gutter-y-mobile/$input-font-size);
	}@else if internal-is-convertable($input-calendar-block-gutter-y-mobile){
		$calculated-input-calendar-block-gutter-y-mobile: rem($input-calendar-block-gutter-y-mobile/$body-font-size);
	}


//tags
	$calculated-input-tags-padding-x: $input-tags-padding-x;
	@if internal-is-convertable($input-tags-padding-x,$input-font-size){
		$calculated-input-tags-padding-x: em($input-tags-padding-x/$input-font-size);
	}@else if internal-is-convertable($input-tags-padding-x){
		$calculated-input-tags-padding-x: rem($input-tags-padding-x/$body-font-size);
	}
		
	$calculated-input-tags-padding-y: $input-tags-padding-y;
	@if internal-is-convertable($input-tags-padding-y,$input-font-size){
		$calculated-input-tags-padding-y: em($input-tags-padding-y/$input-font-size);
	}@else if internal-is-convertable($input-tags-padding-y){
		$calculated-input-tags-padding-y: rem($input-tags-padding-y/$body-font-size);
	}


		
		$calculated-input-tags-padding-y-small: $input-tags-padding-y-small;
		@if internal-is-convertable($input-tags-padding-y-small,$input-font-size){
			$calculated-input-tags-padding-y-small: em($input-tags-padding-y-small/$input-font-size);
		}@else if internal-is-convertable($input-tags-padding-y-small){
			$calculated-input-tags-padding-y-small: rem($input-tags-padding-y-small/$body-font-size);
		}

		$calculated-input-tags-padding-y-large: $input-tags-padding-y-large;
		@if internal-is-convertable($input-tags-padding-y-large,$input-font-size){
			$calculated-input-tags-padding-y-large: em($input-tags-padding-y-large/$input-font-size);
		}@else if internal-is-convertable($input-tags-padding-y-large){
			$calculated-input-tags-padding-y-large: rem($input-tags-padding-y-large/$body-font-size);
		}



	$calculated-input-tags-gutter-x: $input-tags-gutter-x;
	@if internal-is-convertable($input-tags-gutter-x,$input-font-size){
		$calculated-input-tags-gutter-x: em($input-tags-gutter-x/$input-font-size);
	}@else if internal-is-convertable($input-tags-gutter-x){
		$calculated-input-tags-gutter-x: rem($input-tags-gutter-x/$body-font-size);
	}


	$calculated-input-tags-gutter-y: $input-tags-gutter-y;
	@if internal-is-convertable($input-tags-gutter-y,$input-font-size){
		$calculated-input-tags-gutter-y: em($input-tags-gutter-y/$input-font-size);
	}@else if internal-is-convertable($input-tags-gutter-y){
		$calculated-input-tags-gutter-y: rem($input-tags-gutter-y/$body-font-size);
	}




	$value-input-paddiny-y:	calc( ( (#{$calculated-input-height} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * .5 );
	
	$value-input-paddiny-y-large:	calc( ( (#{$calculated-input-height-large} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * .5 );
	
	$value-input-paddiny-y-small:	calc( ( (#{$calculated-input-height-small} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * .5 );
	
	$value-input-paddiny-y-nav: calc( ( (#{$calculated-nav-height} - (#{$input-border-width} * 2)) - (#{$calculated-btn-single-line}) ) * .5 );



	$value-input-paddiny-y-negative:	calc( ( (#{$calculated-input-height} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * -.5 );
	
	$value-input-paddiny-y-large-negative:	calc( ( (#{$calculated-input-height-large} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * -.5 );
	
	$value-input-paddiny-y-small-negative:	calc( ( (#{$calculated-input-height-small} - (#{$input-border-width} * 2)) - (#{$calculated-input-single-line}) ) * -.5 );
	
	$value-input-paddiny-y-nav-negative: calc( ( (#{$calculated-nav-height} - (#{$input-border-width} * 2)) - (#{$calculated-btn-single-line}) ) * -.5 );




	/*** input ***/


/* input clasees */
$prefix: '.input';


$calculated-calendar-exception: '';

@each $tag,$color in $calculated-tag-schemes-color {
	$calculated-calendar-exception: #{$calculated-calendar-exception+':not(' + $prefix +'-'+$tag+')'};
}

#{$prefix} {


	
	@at-root %for-form-input-and-label {

		transition: $transition-duration-short color $transition-timing, $transition-duration-short border $transition-timing, $transition-duration-short box-shadow $transition-timing;
		max-width:100%;

		&#{$prefix}-disabled,
		&[disabled] {

			// opacity: $global-disabled-opacity!important;
			// cursor: not-allowed!important;
			// // background-color: $input-background-disabled;

			// // .theme-inverse & {
			// // 	background-color: $input-background-disabled-inverse;
			// // }
			@extend %for-disabled !optional;
		}
	}

		&,
		&-label{
			@extend %for-form-input-and-label !optional;
		}

	@at-root %for-form-input-class {
		font: inherit;
		color:inherit;
		vertical-align: middle;
		background-color: $input-background;
		transition: $transition-duration-short color $transition-timing, $transition-duration-short border $transition-timing, $transition-duration-short box-shadow $transition-timing;
		max-width:100%;

		&:focus {
			outline: none;
			box-shadow: $input-box-shadow-focus!important;
		}

		.theme-inverse & {
			background-color: $input-background-inverse;
		}

		&#{$prefix}-large,
		#{$prefix}-group#{$prefix}-large & {
			font-size: $calculated-input-font-size-large;
		}

		&#{$prefix}-small,
		#{$prefix}-group#{$prefix}-small & {
			font-size: $calculated-input-font-size-small;
		}
	}

		& { //scaffold
			@extend %for-form-input-class !optional;
		}




	@at-root %for-form-label {
		@include type-set((
			size: #{$calculated-input-label-font-size},
			color:$input-label-color,
			leading: $calculated-input-label-line-height ,
			weight: $input-label-font-weight,
			style: $input-label-font-style,
			font: $input-label-font-family,
			align:inherit,
			decoration:none,
			case: $input-label-text-transform,
		));
		order:-1;
		padding-right: 1rem;
		display:inline-block;
		padding-top: calc( (#{ $calculated-input-height } - (#{$calculated-input-label-single-line}) ) * .5 );
		padding-bottom: calc( ( #{ $calculated-input-height } - (#{$calculated-input-label-single-line}) ) * .5 );

		&#{$prefix}-large,
		#{$prefix}-large & {
			font-size: $calculated-input-font-size-large;
			padding-top: calc(  (#{ $calculated-input-height-large } - (#{$calculated-input-label-single-line}) ) * .5 );
			padding-bottom: calc( (#{ $calculated-input-height-large } - (#{$calculated-input-label-single-line}) ) * .5 );
		}

		&#{$prefix}-small,
		#{$prefix}-small & {
			font-size: $calculated-input-font-size-small;
			padding-top: calc( (#{$calculated-input-height-small} - (#{$calculated-input-label-single-line}) ) * .5 );
			padding-bottom: calc( (#{$calculated-input-height-small} - (#{$calculated-input-label-single-line}) ) * .5 );
		}

		.theme-inverse & {
			color:$input-label-color-inverse;
		}
	}

		&-label {
			@extend %for-form-label !optional;	
		}

	&-info {
		@include type-set((
			size: $calculated-input-info-font-size,
			leading: $calculated-input-info-line-height,
			color: $input-info-color,
			weight:$input-info-font-weight,
			style: $input-info-font-style,
			case: $input-info-text-transform,
		));
		margin-top:$calculated-input-info-gutter-y;
		margin-bottom:$calculated-input-info-gutter-y;
		display:block;

		order: 3;

		#{$prefix}-wrapper-horizontal & {
			width: calc(100% - #{$input-label-horizontal-width});
			align-self: flex-end;
			margin-left: auto;
		}
	}

	&-inline {
		vertical-align: middle;
		display:inline-block;
		margin-right: .5em;
	}

	
	//shitstorm 
	@at-root %for-form-input-boxy {

		-webkit-appearance: none;
		appearance: none;
		outline:none;
		max-width:100%;
		@include type-set((
			size: #{$calculated-input-font-size},
			color:$input-color,
			leading: #{ $calculated-input-line-height } ,
			weight: $input-font-weight,
			style: $input-font-style,
			font: $input-font-family,
			align:inherit,
			decoration:none,
			case: $input-text-transform,
		));
		display:inline-block;
		background-color: $input-background;
		border: $input-border-width solid $input-border-color;
		padding-right: $calculated-input-gutter-x;
		padding-left: $calculated-input-gutter-x;
		padding-top: $value-input-paddiny-y;
		padding-bottom: $value-input-paddiny-y;

		.theme-inverse & {
			color:$input-color-inverse;
			background-color: $input-background-inverse;
		}
		
		option {
			font:inherit;
			outline:none;
		}


		#{$prefix}-group & {
			box-shadow: none;
		}

		#{$prefix}-wrapper & {
			display: block;
			flex: 1 1;
		}

		&::-webkit-input-placeholder {
			color: inherit;
			opacity: $input-placeholder-opacity;
		}
		
		&::-moz-placeholder {
			color: inherit;
			opacity: $input-placeholder-opacity;
		}
		
		&:-ms-input-placeholder{
			color: inherit;
			opacity: $input-placeholder-opacity;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: inherit;
			opacity: $input-placeholder-opacity;
		}
		

		&[type=color] {
			min-width:100px;
			padding: .5em;
		}

		//file
			&::-webkit-file-upload-button {
				appearance: none;
				border: none;
				font:inherit;
				color:inherit;
				opacity: $input-placeholder-opacity;
				background: none;
				margin: 0;
				padding: 0;
				vertical-align:middle;
				display:flex;
			}
			// &::-webkit-file-upload-text {
			// 	-webkit-appearance: none;
			// }
		
		&:focus::-webkit-input-placeholder {
			color: transparent !important;
		}
		
		&:focus:-moz-placeholder {
			color: transparent !important;
		}
		
		&:focus:-ms-input-placeholder{
			color: transparent !important;
		}

		
		&.focus::-webkit-input-placeholder {
			color: transparent !important;
		}
		
		&.focus:-moz-placeholder {
			color: transparent !important;
		}
		
		&.focus:-ms-input-placeholder{
			color: transparent !important;
		}

		.nav & {
			border-radius: 0 !important;

			padding-top: $value-input-paddiny-y-nav;
			padding-bottom: $value-input-paddiny-y-nav;
			height: #{ $calculated-nav-height };

			&:not(.focus):not(:focus) {
				box-shadow:none;
			}

		}

		&:focus,
		&.focus {
			box-shadow: $input-box-shadow-focus;
			border-color: $input-border-color-focus;
		}

		&#{$prefix}-large,
		#{$prefix}-group#{$prefix}-large & {
			padding-top: $value-input-paddiny-y-large;
			padding-bottom: $value-input-paddiny-y-large;
		}

		&#{$prefix}-small,
		#{$prefix}-group#{$prefix}-small & {
			padding-top: $value-input-paddiny-y-small;
			padding-bottom: $value-input-paddiny-y-small;
		}
	}

		&-select,
		&-single-line,
		&-multiple-line,
		&-calendar-ui,
		&-tags-ui,
		&-editor {
			@extend %for-form-input-boxy !optional;
		}




	@at-root %for-form-input-boxy-and-group {

		border-radius: $input-border-radius;
		box-shadow: $input-box-shadow;

		.nav & {
			border-radius: 0 !important;

			&:not(.focus):not(:focus) {
				box-shadow:none;
			}

		}

		&#{$prefix}-no-radius {
			border-radius: 0!important;
		}

		&#{$prefix}-no-shadow {
			box-shadow:none!important;
		}
	}

	&-select,
	&-single-line,
	&-multiple-line,
	&-editor,
	&-calendar-ui,
	&-tags-ui,
	&-group {
		@extend %for-form-input-boxy-and-group !optional;
	}

	@at-root %for-form-input-boxy-single{

		height: $calculated-input-height;
		vertical-align: middle;

		&#{$prefix}-large,
		#{$prefix}-large & {
			height: $calculated-input-height-large;
		}

		&#{$prefix}-small,
		#{$prefix}-small & {
			height: $calculated-input-height-small;
		}
	}

		&-single-line {
			@extend %for-form-input-boxy-single !optional;
		}

	@at-root %for-form-input-boxy-multiple{

		vertical-align: top;
		overflow-y: auto;

		.input-group & {
			max-height:100%;
		}

		option {
			padding-right: $calculated-input-gutter-x;
			padding-left: $calculated-input-gutter-x;
			margin-right: $calculated-input-gutter-x * -1;
			margin-left: $calculated-input-gutter-x * -1;
		}

		&-height {
			height: auto;
			min-height: $calculated-input-height * $input-height-multiple-factor;

			&#{$prefix}-large,
			#{$prefix}-large & {
				min-height: $calculated-input-height-large * $input-height-multiple-factor;
			}
	
			&#{$prefix}-small,
			#{$prefix}-small & {
				min-height: $calculated-input-height-small * $input-height-multiple-factor;
			}

		}
	}

		&-select[multiple],
		&-multiple-line {
			@extend %for-form-input-boxy-multiple !optional;
		}

		&-multiple-line {
			@extend %for-form-input-boxy-multiple-height !optional;
		}

	&-multiple-line {
		display:block;
		
	}


	
	@at-root %for-form-input-boxy-select {

		background-image:
			linear-gradient(-130deg, $input-select-dropdown-color 0%, $input-select-dropdown-color 50%, transparent 51%, transparent 100%),
			linear-gradient(130deg, $input-select-dropdown-color 0%, $input-select-dropdown-color 50%, transparent 51%, transparent 100%)
			;
		background-size:
			#{$calculated-symbol-caret-width * .5} $calculated-symbol-caret-height,
			#{$calculated-symbol-caret-width * .5} $calculated-symbol-caret-height
			;
		background-position:
			calc(100% - (1em + #{$calculated-symbol-caret-width * .425} )) 50%,
			calc(100% - 1em) 50%
			;
		background-repeat: no-repeat,no-repeat;

		&:not([multiple]) {
			padding-right: $calculated-input-gutter-x * 2;
		}
		@at-root select#{&}[multiple] {
			background-image: none;
		}
	}

		&-select {
			@extend %for-form-input-boxy-select !optional;
		}



	@at-root %for-form-wrapper {
		& {
			max-width:100%;
			position:relative;

			@include br($mobile-br-max-polar){
				display:inline-flex;
				padding-right: 2rem;
			}
		}
			

		&-horizontal {
			@include br($mobile-br-max-polar){
				flex-direction: row;
				align-items: flex-start;
			
				&#{$prefix}-wrapper-block & {
					%for-form-input-boxy {
						width: calc(100% - #{$input-label-horizontal-width});
					}
				}
				// flex-wrap: wrap;

				> #{$prefix}-label {
					flex-grow:0;
					flex-shrink:0;
					flex-basis:auto;
					order: -1;
					

					&:first-child:last-child {
					/* labels that typically wrapp radio and checboxes*/
						flex: 1 1 auto;
					}

					@at-root #{$prefix}-wrapper-block#{&} {
						flex-basis:$input-label-horizontal-width;
					}
				}
			}
			
		}

		&-vertical {
			@include br($mobile-br-max-polar){
				flex-direction: column;
			}
		}

		&-block {

			display:flex;
			padding-right: 0;

			@include br(#{$mobile-br-max}-max) {
				flex-direction: column;

				%for-form-input-boxy {
					width:100%;
				}
			}

		}
	}

		&-wrapper {
			& {
				@extend %for-form-wrapper !optional;
			}
				

			&#{&}-horizontal {
				@extend %for-form-wrapper-horizontal !optional;
				
			}

			&#{&}-vertical {
				@extend %for-form-wrapper-vertical !optional;
			}

			&#{&}-block {

				
				@extend %for-form-wrapper-block !optional;
			}
		}


	&-group {
		display:inline-flex;
		position:relative;
		max-width:100%;
		padding:0;
		border:0;
		overflow-x:auto;
		overflow-y:visible;

		.btn.btn-symbol {
			flex: 0 0 auto;
		}
		
		#{$prefix} {
			position:relative;
			resize:none;
			max-width:100%;

			&:not(:focus):not(.focus) {
				border-color:transparent;
			}

			&:hover,
			&:active,
			&.active,
			&:focus,
			&.focus,
			&.open {
				z-index:1;
			}
		}
		
		&-block {
			display:flex;
			width:100%;

			> #{$prefix},
			> .trumbowyg,
			> .btn:not(.btn-symbol) {
				flex: 1 1;
			}

			&-mobile {
				@include br(#{$mobile-br-max}-max) {
					display:flex;
					width:100%;

					.btn:not(.btn-symbol) {
						flex: 1 1;
					}
				}
			}
		}
		

		&#{&}-large {
			border-radius: $input-border-radius-large;
		}

		&#{&}-small {
			border-radius: $input-border-radius-small;
		}

		&#{&}-horizontal {
			

			&:not(#{$prefix}-group-responsive) {

				> #{$prefix},.btn, .trumbowyg {
					&:nth-last-child(n+2) {
						border-top-right-radius: 0!important;
						border-bottom-right-radius: 0!important;
					}
				}

				> #{$prefix},.btn, .trumbowyg {
					&:nth-child(n+2) {
						border-top-left-radius: 0!important;
						border-bottom-left-radius: 0!important;

						&:not(:focus):not(.focus) {
							border-left-color: $input-group-separator-color;
						}
					}
				}
			}
		}

		&#{&}-vertical {
			flex-direction:column;
			
			> .btn-symbol {
				width:auto;
			}

			> #{$prefix},.btn, .trumbowyg {
				&:nth-last-child(n+2) {
					border-bottom-right-radius: 0!important;
					border-bottom-left-radius: 0!important;
				}
			}

			> #{$prefix},.btn, .trumbowyg {
				&:nth-child(n+2) {
					border-top-right-radius: 0!important;
					border-top-left-radius: 0!important;

					&:not(:focus):not(.focus) {
						border-top-color: $input-group-separator-color;
					}
				}
			}
		}

		&#{&}-responsive {

			@include br($mobile-br-max-polar){
				
				&#{$prefix}-group-horizontal {
					> .btn-symbol {
						width:auto;
					}

					> #{$prefix},.btn, .trumbowyg {
						&:nth-last-child(n+2) {
							border-top-right-radius: 0!important;
							border-bottom-right-radius: 0!important;
						}
					}

					> #{$prefix},.btn, .trumbowyg {
						&:nth-child(n+2) {
							border-top-left-radius: 0!important;
							border-bottom-left-radius: 0!important;

							&:not(:focus):not(.focus) {
								border-left-color: $input-group-separator-color;
							}
						}
					}
				}
				
			}

			@include br(#{$mobile-br-max}-max) {
				width:100%;
				
				flex-wrap:wrap;
				display:flex;
				flex-direction:column;

				> #{$prefix},.btn, .trumbowyg {
					&:nth-last-child(n+2) {
						border-bottom-right-radius: 0!important;
						border-bottom-left-radius: 0!important;
					}
				}
	
				> #{$prefix},.btn, .trumbowyg {
					&:nth-child(n+2) {
						border-top-right-radius: 0!important;
						border-top-left-radius: 0!important;
		
						&:not(:focus):not(.focus) {
							border-top-color: $input-group-separator-color;
						}
					}
				}
			}
		}
	}

	%for-form-input-ui-control {


		@extend %for-display-none !optional;
		//fallback
		height:0!important;
		width:0!important;
		overflow:hidden!important;

	}


	//components of component
	&-calendar {
		@extend %for-form-input-ui-control !optional;

		&-ui {
			vertical-align: top;
			text-align:center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
			
			&-block {
				padding:$calculated-input-calendar-block-gutter-y $calculated-input-calendar-block-gutter-x;
				display:block;
				white-space:nowrap;
				position:relative;
				color: inherit;

				&,&:after {
					border-radius: $input-calendar-block-border-radius;
				}

				&-adjacent {
					opacity: .125!important;
					pointer-events:none!important;

					// &:hover,&:focus,&.focus {
					// 	opacity:1!important;
					// }
				}

				// 	content:"";
				// 	padding-bottom:100%;
				// }

				// &-content {
				// 	position: absolute;
				// 	top:0;
				// 	bottom:0;
				// 	left:0;
				// 	right:0;
				// }
			}

			&-date {
				position:relative;
				z-index:1;
				overflow:hidden;

				&:after,span{
					pointer-events:none;
				}

				&:after{
					content:"";
					z-index:-1;
					background: currentColor;
					display:block;
					position:absolute;
					top:0;
					left:0;
					right:0;
					margin:auto;
					width:100%;
					max-width: 4em;
					height:100%;
					opacity:0;

				}

				&.disabled {
					&:after {
						opacity:0;
					}
				}

				&:hover,
				&:focus,
				&.focus {
					color:inherit;
					// background: $input-calendar-date-hover-background;

					&:after {
						opacity: .2;
					}

					span {
						color: $input-calendar-date-hover-color;
					}
				}
				&.active{
					&,&:hover {
						// background: $input-calendar-date-active-background;
						&:after {
							opacity: 1;
							@at-root #{$prefix +'-calendar-ui' + $calculated-calendar-exception} & {
								background: $input-calendar-date-active-background;
							}
						}

						span {
							color: $input-calendar-date-active-color;
						}
					}
				}
			}

			&-grid {
				padding-bottom:$calculated-input-calendar-block-gutter-y;
			}
			&-days,
			&-dates,
			&-heading {
				justify-content: space-evenly;
				display:grid;
				grid-template-columns: repeat(7, minmax(min-content,1fr));
				grid-gap: $input-calendar-gap;
			}

			&-input {
				margin-bottom: $calculated-input-calendar-block-gutter-y;
				padding-bottom: $calculated-input-calendar-block-gutter-y;
				margin-left:$calculated-input-gutter-x * -1;
				margin-right:$calculated-input-gutter-x * -1;
				margin-top: calc( ( (#{ $calculated-input-height } - (#{$calculated-input-single-line}) ) * .5) * -1 );
				position:relative;

				&:last-child {
				margin-bottom: calc( ( (#{ $calculated-input-height } - (#{$calculated-input-single-line}) ) * .5) * -1 );

					&:after {
						content:none;
					}
				}

				#{$prefix}-small & {
					margin-top: calc( ( (#{ $calculated-input-height-small } - (#{$calculated-input-single-line}) ) * .5) * -1 );
					position:relative;

					&:last-child {
						margin-bottom: calc( ( (#{ $calculated-input-height-small } - (#{$calculated-input-single-line}) ) * .5) * -1 );
					}
				}

				#{$prefix}-large & {
					margin-top: calc( ( (#{ $calculated-input-height-large } - (#{$calculated-input-single-line}) ) * .5) * -1 );
					position:relative;

					&:last-child {
						margin-bottom: calc( ( (#{ $calculated-input-height-large } - (#{$calculated-input-single-line}) ) * .5) * -1 );
					}
				}

				&:after {
					content:"";
					display:block;
					height:$input-border-width;
					width:100%;
					background: currentColor;
					opacity: .25;
				}
				
				input {
					box-shadow:none!important;
					border-bottom-left-radius:0!important;
					border-bottom-right-radius:0!important;
					border-width:0;
					width:100%;
				}
			}

			&-heading {
				padding-top:$calculated-input-calendar-block-gutter-y;
				padding-bottom:$calculated-input-calendar-block-gutter-y;
				position:relative;
			}

			&-button{
				color:inherit;


				&:hover {
					color: $input-calendar-date-heading-button-color-hover;
				}
			}
			&-block,
			&-button{


				&.disabled,
				.input-disabled & {
					&,
					&:hover,
					&:focus,
					&.focus {
						background: none!important;
						color:inherit!important;
					}
				}
				
			}

			&-navigation,&-title{
				grid-row: 1;
			}

			&-prev-year {
				grid-column: 1;
			}
			&-prev-month {
				grid-column: 2;
			}

			&-next-year {
				grid-column: 7;
			}
			&-next-month {
				grid-column: 6;
			}

			&-title {
				grid-column: 3 / span 3;
			}

			// &-prev-month {

			// 	margin-right: .25em;
			// }
			// &-prev-year {
			// 	margin-right: .75em;
			// }

			// &-next-month {

			// 	margin-left: .25em;
			// }
			// &-next-year {
			// 	margin-left: .75em;
			// }

			&-dropdown {
				max-height: 300px;
				overflow-x:auto;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					display:none;
				}
			}

			&-days,
			&-dates {
				grid-auto-rows: 1fr;
				
				&:nth-child(n+2) {
					margin-top: $input-calendar-gap;
				}
			}

			&-days {
				margin-bottom:$calculated-input-calendar-block-gutter-y;
				border-bottom: $input-calendar-days-border-width solid;
				opacity: .375;
				font-size: $calculated-input-calendar-days-font-size;
			}

			&-dates {
				// grid-template-rows: repeat(6, 1fr);
				margin-bottom:$calculated-input-calendar-block-gutter-y * .5;
			}
		}

		@include br(#{$mobile-br-max}-max) {
			&-ui {
				&-block {
					padding:$calculated-input-calendar-block-gutter-y-mobile $calculated-input-calendar-block-gutter-x-mobile;
				}
			}
		}
	}

	&-tags {
		@extend %for-form-input-ui-control !optional;

		&-ui {
			display:inline-flex;
			overflow-x: auto;
			overflow-y:hidden;
			max-width:100%!important;
			direction: ltr;
			position: relative;

			&::-webkit-scrollbar {
				display:none;
			}

			&-wrapper {
				flex: 1 1;
				display:flex;
				max-width:100%;
				min-height:100%;
				margin-top: $calculated-input-tags-padding-y * -1;
				margin-bottom: $calculated-input-tags-padding-y * -1;
			}

			&-tag,
			&-input {
				// @todo//ellipsis
				margin-bottom: $calculated-input-tags-gutter-y;
				margin-top: $calculated-input-tags-gutter-y;
				padding-top: $calculated-input-tags-padding-y;
				padding-bottom: $calculated-input-tags-padding-y;
				padding-left: $calculated-input-tags-padding-x;
				padding-right: $calculated-input-tags-padding-x;

				#{$prefix}-small & {

					padding-top: $calculated-input-tags-padding-y-small;
					padding-bottom: $calculated-input-tags-padding-y-small;
				}
				
				#{$prefix}-large & {

					padding-top: $calculated-input-tags-padding-y-large;
					padding-bottom: $calculated-input-tags-padding-y-large;
				}


			}


			&-tag {
				display:flex;
				align-items:center;
				max-width:100%;
				margin-right: $calculated-input-tags-gutter-x;
				background: rgba($input-tags-background,$input-tags-background-opacity);
				border-radius: $input-tags-border-radius;

				&-text,
				&-close {
					vertical-align: middle;
				}

				&-text {
					max-width: 10em;
					cursor:pointer;
					white-space: nowrap!important;
					overflow: hidden!important;
					text-overflow: ellipsis!important;
				}

				&-close {
					margin-left: .25em;
					line-height:1;
					font-size: .75em;

					@each $tag,$color in $calculated-brand-color-declarations {
						#{$prefix}-#{$tag} & {
							color: $color;
						}
					}
				}

				@each $tag,$color in $calculated-brand-color-declarations {
					#{$prefix}-#{$tag} & {
						background: rgba($color,$input-tags-background-opacity);
					}
				}
			}

			&-input {
				border:0;
				-webkit-appearance: none;
				background:none!important;
				appearance: none;
				outline:none;
				white-space: nowrap;
				padding-left:  $calculated-input-tags-padding-x;

				&:last-child {
					flex: 1 1 auto;
					padding-right:0;
					min-width: 4em;

					&:first-child {
						width: 12em;
					}
				}

				&,
				&:hover,
				&:focus,
				&.focus {
					box-shadow:none!important;
					background:transparent;
					font:inherit;
					color:inherit;
				}
			}
		}
	}




	

	//color
	@each $tag,$color in $calculated-brand-color-declarations {

		@at-root %for-form-label-color-#{$tag} {
			color: $color;
		}
			//label
			@at-root #{$prefix}-label#{$prefix}-#{$tag},
			#{$prefix}-#{$tag} #{$prefix}-label {
				@extend %for-form-label-color-#{$tag} !optional;
			}

		@at-root %for-form-input-color-#{$tag} {
			& {
		
				color: $color;
				box-shadow: $input-box-shadow-brand-basis $color;
				border-color: $color;
				
				@if type-of($color) == color && $color != transparent {
					background-color: rgba($color,$input-color-feedback-opacity);
				}
			}
		}
			//inputs
			@at-root &#{$prefix}-#{$tag},
			#{$prefix}-#{$tag} & {
				@extend %for-form-input-color-#{$tag} !optional;
			}
	}
}




.special-form,
fieldset {
	padding: $special-form-gutter-y $special-form-gutter-x;
	position:relative;
	margin-bottom: #{$special-form-gutter-y};
	// overflow:hidden;

	&,
	legend,
	.special-form-label {
		background: $special-form-background;
		border-radius: $special-form-border-radius;

		.theme-inverse & {
			background: $special-form-background-inverse;
		}
	}
	
	legend,
	.special-form-label {
		padding: ($special-form-gutter-y * .75) $special-form-gutter-x 0;
		margin-left: $special-form-gutter-x * -1;
		position:relative;
		top: -1em;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}


	#{$prefix}-wrapper {
		max-width: none;
		display:flex;
		flex-wrap:wrap;
		padding-right:0;

		&-horizontal {
			#{$prefix},
			#{$prefix}-single-line,
			#{$prefix}-multiple-line,
			#{$prefix}-calendar-ui,
			#{$prefix}-select,
			#{$prefix}-inline {
				margin-left:0;
				margin-right:0;
				padding-left:0;
				padding-right:0;
			}
		}

		&:nth-last-child(n+2) {
			border-bottom: 1px solid gray;
		}
	}

	#{$prefix},
	#{$prefix}-single-line,
	#{$prefix}-multiple-line,
	#{$prefix}-calendar-ui,
	#{$prefix}-select,
	#{$prefix}-inline,
	.fw-trumbowyg-editor,
	.fw-trumbowyg-textarea {
		background-color:transparent!important;
		outline: none!important;
		border-color: transparent!important;
		box-shadow: none !important;
	}

	#{$prefix}-single-line,
	#{$prefix}-multiple-line,
	#{$prefix}-calendar-ui,
	#{$prefix}-select,
	#{$prefix}-inline,
	.fw-trumbowyg-editor,
	.fw-trumbowyg-textarea {
		background-color:transparent;
		// width:calc(100% + (#{$special-form-gutter-x} * 2));
		max-width:none;
		padding-left: 0;
		padding-right:0;
		// margin-left: $special-form-gutter-x * -1;
		// margin-right:$special-form-gutter-x * -1;
		border-radius:0!important;
	}

	.btn:last-child {
		position:absolute;
		top:100%;
		right:0;
		margin-top:$special-form-gutter-y;
	}

	#{$prefix}-calendar-ui {
		max-width: 400px;
	}
}