
/*** HELPERS ***/

/* BACKGROUND CLASSES */


// extend for elements that needs backgrounds so we can extend with responsibility
	%for{

		&-background {
			@each $tag,$color in $calculated-brand-color-declarations-for-helpers {
				&-#{$tag} {
					background-color: $color ;
				}
	
				&-#{$tag}-important {
					background-color: $color !important;
				}
			}

			&-intensity {
				@for $i from 1 through length($calculated-color-brand-intensity) {
					&-#{$i} {
						background-color: nth($calculated-color-brand-intensity,$i);
	
						&-important {
							background-color: nth($calculated-color-brand-intensity,$i) !important;
						}
					}
				}
			}
	
			&-gradient {
	
				& {
					@include gradient((
						color1: $brand-gradient-start,
						color2: $brand-gradient-end,
						angle: 0deg,
						use-shorthand:false,
					));
	
					&-important {
						@include gradient((
							color1: $brand-gradient-start,
							color2: $brand-gradient-end,
							angle: 0deg,
							use-shorthand:false,
							add-important: true
						));
					}
				}
	
				@each $angle in $calculated-gradient-angles {
					&-#{$angle} {
						@include gradient((
							color1: $brand-gradient-start,
							color2: $brand-gradient-end,
							angle: to-unit($angle,deg),
							use-shorthand:false,
						));
					}
					
					&-#{$angle}-important {
						@include gradient((
							color1: $brand-gradient-start,
							color2: $brand-gradient-end,
							angle: to-unit($angle,deg),
							use-shorthand:false,
							add-important: true
						));
					}
				}
			}
		}
	}

	$prefix: '.background';
	#{$prefix} {
		// Theme
		@include create-palette-helper(
			#{&}-theme,
			background-color,
			$theme-background,
			$theme-background-inverse
		);


		// Theme Contrast
		@include create-palette-helper(
			#{&}-theme-contrast,
			background-color,
			$theme-background-contrast,
			$theme-background-contrast-inverse
		);


		// Theme Polar 
		@include create-palette-helper(
			#{&}-theme-polar,
			background-color,
			$theme-color,
			$theme-color-inverse
		);


		// Theme Contrast Polar 
		@include create-palette-helper(
			#{&}-theme-polar-contrast,
			background-color,
			$theme-color-contrast,
			$theme-color-contrast-inverse
		);

		//intensity
		&-intensity {
			@for $i from 1 through length($calculated-color-brand-intensity) {
				@include create-palette-helper(
					#{&}-#{$i}
				){
					@extend %for-background-intensity-#{$i}-important;
				};
			}
		}

		//gradient
		&-gradient {
			@extend %for-background-gradient-important;

			$calculated-gradient-selector: #{&};

			@each $angle in $calculated-gradient-angles {
				$calculated-gradient-selector:  #{ $calculated-gradient-selector ', '+ & +'-' + $angle };
			}

			@at-root #{$calculated-gradient-selector} {
				background-color: $brand-gradient-start!important;
			}

			@each $angle in $calculated-gradient-angles {

				@include create-palette-helper(
					#{&}-#{$angle}
				){
					@extend %for-background-gradient-#{$angle}-important;
				};

			}
		}

		//inherit
		@include create-palette-helper(
			#{&}-inherit,
			background-color,
			inherit
		);

		//transparent
		@include create-palette-helper(
			#{&}-transparent,
			background-color,
			transparent
		);

		//color tag
		@each $tag,$color in $calculated-brand-color-declarations-for-helpers {
			
			@include create-palette-helper(
				#{&}-#{$tag}
			){
				@extend %for-background-#{$tag}-important;
			};
		}
	}

/* COLOR CLASSES */
	%for{
		&-color {
			&-intensity {
				@for $i from 1 through length($calculated-color-brand-intensity) {
					&-#{$i} {
						color: nth($calculated-color-brand-intensity,$i);

						&-important {
							color: nth($calculated-color-brand-intensity,$i) !important;
						}
					}
				}
			}

			@each $tag,$color in $calculated-brand-color-declarations-for-helpers {
				&-#{$tag} {
					color: $color;

					&-important {
						color: $color !important;
					}
				}
			}
		}
	}
	
	$prefix: '.color';
	#{$prefix} {

		// Theme
		@include create-palette-helper(
			#{&}-theme,
			color,
			$theme-color,
			$theme-color-inverse
		);


		// Theme Contrast
		@include create-palette-helper(
			#{&}-theme-contrast,
			color,
			$theme-color-contrast,
			$theme-color-contrast-inverse
		);


		// Theme Polar 
		@include create-palette-helper(
			#{&}-theme-polar,
			color,
			$theme-background,
			$theme-background-inverse
		);


		// Theme Contrast Polar 
		@include create-palette-helper(
			#{&}-theme-polar-contrast,
			color,
			$theme-background-contrast,
			$theme-background-contrast-inverse
		);

		//intensity
		&-intensity {
			@for $i from 1 through length($calculated-color-brand-intensity) {
				@include create-palette-helper(
					#{&}-#{$i}
				){
					@extend %for-color-intensity-#{$i}-important;
				};
			}
		}

		//inherit
		@include create-palette-helper(
			#{&}-inherit,
			color,
			inherit
		);

		

		//color tag
		@each $tag,$color in $calculated-brand-color-declarations-for-helpers {
			
			@include create-palette-helper(
				#{&}-#{$tag}
			){
				@extend %for-color-#{$tag}-important;
			};
		}
	}




.font{

	&-family {
		&-primary {
			font-family: $brand-font-primary !important;
		}

		&-accent {
			font-family: $brand-font-accent !important;
		}

		&-inherit {
			font-family: inherit !important;
		}
	}

	&-size {
		&-large {
			font-size: $calculated-body-size-large!important;
		}
		&-small {
			font-size: $calculated-body-size-small!important;
		}
		&-normalize {
			font-size: 1rem!important;
		}
		&-inherit {
			font-size: inherit!important;
		}
	}

	&-weight {

		&-100 {
			font-weight: 100!important;
		}
		&-200 {
			font-weight: 200!important;
		}
		&-300 {
			font-weight: 300!important;
		}
		&-400 {
			font-weight: 400!important;
		}
		&-500 {
			font-weight: 500!important;
		}
		&-600 {
			font-weight: 600!important;
		}
		&-700 {
			font-weight: 700!important;
		}
		&-800 {
			font-weight: 800!important;
		}
		&-900 {
			font-weight: 900!important;
		}
		&-inherit {
			font-weight: inherit!important;
		}

	}

	&-style {
		&-italic {
			font-style: italic!important;
		}
		&-oblique {
			font-style: oblique!important;
		}
		&-normal {
			font-style: normal!important;
		}
		&-inherit {
			font-style: inherit!important;
		}
	}
}


	.display {
		&-block {
			display:block!important;
		}
		&-inline-block {
			display:inline-block!important;
		}
		&-inline {
			display:inline!important;
		}
	}



	/* TEXT CLASSES */
	$prefix: '.text';
	#{$prefix}{

		&-leading {
			
			&-compact {
				line-height: $calculated-body-line-height * $body-line-height-compact-factor!important;
			}
			
			&-expanded {
				line-height: $calculated-body-line-height * $body-line-height-expanded-factor!important;
			}
			
			&-normalize {
				line-height: $calculated-body-line-height!important;
			}
			
			&-inherit {
				line-height: inherit!important;
			}
		}
		

		&-align {
			&-center {
				text-align: center!important;
			}
			&-left {
				text-align: left!important;
			}
			&-right {
				text-align: right!important;
			}
			&-justify {
				text-align: justify!important;
			}
			&-inherit {
				text-align: inherit!important;
			}
		}

		&-transform {
			&-uppercase {
				text-transform: uppercase!important;
			}
			&-lowercase {
				text-transform: lowercase!important;
			}
			&-capitalize {
				text-transform: capitalize!important;
			}
			&-inherit {
				text-transform: inherit!important;
			}
		}

		&-vertical-align {
			&-middle {
				vertical-align:middle!important;
			}
			&-baseline {
				vertical-align:baseline!important;
			}
			&-top {
				vertical-align:top!important;
			}
			&-bottom {
				vertical-align:bottom!important;
			}
			&-text-top {
				vertical-align:text-top!important;
			}
			&-text-bottom {
				vertical-align:text-bottom!important;
			}
			&-sub {
				vertical-align:sub!important;
			}
			&-super {
				vertical-align:super!important;
			}
			&-inherit {
				vertical-align:inherit!important;
			}
		}

		&-nowrap {

			white-space: nowrap!important;
		}

		&-wrap {

			white-space: normal!important;

			&-break {
				word-break: break-word!important;
				overflow-wrap: break-word!important;
			}

			&-ellipsis {
				/* cut overflowing single line to ellipsis */
				white-space: nowrap!important;
				overflow: hidden!important;
				text-overflow: ellipsis!important;
				/* gotta be block otherwise shit wont happen */
				display:block;
				max-width:100%!important;

				&-multiple {
					white-space: normal!important;
					text-overflow: ellipsis!important;
					display: -webkit-box!important;
					-webkit-line-clamp: $body-ellipsis-multiple-factor!important;
					-webkit-box-orient: vertical!important;
					overflow: hidden!important;
					height: calc((#{$calculated-body-single-line}) * #{$body-ellipsis-multiple-factor});

					#{$prefix}-leading-compact &,
					&#{$prefix}-leading-compact {
						height: calc((#{$calculated-body-single-line} * #{$body-line-height-compact-factor}) * #{$body-ellipsis-multiple-factor});
					}
					#{$prefix}-leading-expanded &,
					&#{$prefix}-leading-expanded {
						height: calc((#{$calculated-body-single-line} * #{$body-line-height-expanded-factor}) * #{$body-ellipsis-multiple-factor});
					}
				}
			}
		}

		&-clip-background {
			@supports not (-webkit-background-clip: text) {
				background: transparent!important;
				color: color(p)!important;
			}

			@supports (-webkit-background-clip: text) {
				-webkit-background-clip: text!important;
				-webkit-text-fill-color: transparent!important;
			}
		}
	}



//gutters and paddings

	.no-margin {
		margin:0!important;

		&-x {
			margin-left:0!important;
			margin-right:0!important;
		}


		&-y {
			margin-top:0!important;
			margin-bottom:0!important;
		}

		&-top {
			margin-top:0!important;
		}

		&-bottom {
			margin-bottom:0!important;
		}

		&-left {
			margin-left:0!important;
		}

		&-right {
			margin-right:0!important;
		}
	}


	.no-padding {
		padding:0!important;

		&-x {
			padding-left:0!important;
			padding-right:0!important;
		}


		&-y {
			padding-top:0!important;
			padding-bottom:0!important;
		}

		&-top {
			padding-top:0!important;
		}

		&-bottom {
			padding-bottom:0!important;
		}

		&-left {
			padding-left:0!important;
		}

		&-right {
			padding-right:0!important;
		}
	}

.overflow {

	&{
		&-visible {
			overflow:visible!important;
		}
		&-hidden {
			overflow:hidden!important;
		}
		&-scroll {
			overflow:scroll!important;
		}
		&-overlay {
			overflow:scroll!important;
			overflow:overlay!important;
		}
		&-auto {
			overflow:auto!important;
		}
	}

	&-x {
		
		&-visible {
			overflow-x:visible!important;
		}
		&-hidden {
			overflow-x:hidden!important;
		}
		&-scroll {
			overflow-x:scroll!important;
		}
		&-overlay {
			overflow-x:scroll!important;
			overflow-x:overlay!important;
		}
		&-auto {
			overflow-x:auto!important;
		}
	}

	&-y {
		
		&-visible {
			overflow-y:visible!important;
		}
		&-hidden {
			overflow-y:hidden!important;
		}
		&-scroll {
			overflow-y:scroll!important;
		}
		&-overlay {
			overflow-y:scroll!important;
			overflow-y:overlay!important;
		}
		&-auto {
			overflow-y:auto!important;
		}
	}
}

//posesetyen
.position {
	&-relative {
		position:relative!important;
	}
	&-static {
		position:static!important;
	}
	&-absolute {
		position:absolute!important;
	}
	&-fixed {
		position:fixed!important;
	}
	&-sticky {
		position:sticky!important;
	}
}

.float {
	&-left {
		float: left!important;
	}
	&-right {
		float: right!important;
	}
	&-none {
		float: none!important;
	}
	&-inherit {
		float: inherit!important;
	}
}



.clear {
	&-left {
		clear: left!important;
	}
	&-right {
		clear: right!important;
	}
	&-both {
		clear: both!important;
	}
	&-none {
		clear: none!important;
	}
	&-inherit {
		clear: inherit!important;
	}
}


// align and justify shit

	.justify {
		&-content {
			&-flex-start {
				justify-content: flex-start!important;
			}
			&-flex-end {
				justify-content: flex-end!important;
			}
			&-center {
				justify-content: center!important;
			}
			&-space-between {
				justify-content: space-between!important;
			}
			&-space-around {
				justify-content: space-around!important;
			}
			&-space-evenly {
				justify-content: space-evenly!important;
			}
			&-start {
				justify-content: start!important;
			}
			&-end {
				justify-content: end!important;
			}
			&-left {
				justify-content: left!important;
			}
			&-right {
				justify-content: right!important;
			}
			&-normal {
				justify-content: normal!important;
			}
			&-stretch {
				justify-content: stretch!important;
			}
			&-inherit {
				justify-content: stretch!important;
			}
		}
	}

	.align {
		&-self {

			&-flex-start {
				align-self: flex-start!important;
			}
			&-flex-end {
				align-self: flex-end!important;
			}
			&-center {
				align-self: center!important;
			}
			&-baseline {
				align-self: baseline!important;
			}
			&-stretch {
				align-self: stretch!important;
			}
			&-inherit {
				align-self: inherit!important;
			}
		}
		&-items {
			&-flex-start {
				align-items: flex-start!important;
			}
			&-flex-end {
				align-items: flex-end!important;
			}
			&-stretch {
				align-items: stretch!important;
			}
			&-center {
				align-items: center!important;
			}
			&-baseline {
				align-items: baseline!important;
			}
			&-start {
				align-items: start!important;
			}
			&-end {
				align-items: end!important;
			}
			&-inherit {
				align-items: inherit!important;
			}
		}

		&-content {
			&-flex-start {
				align-content: flex-start!important;
			}
			&-flex-end {
				align-content: flex-end!important;
			}
			&-center {
				align-content: center!important;
			}
			&-space-between {
				align-content: space-between!important;
			}
			&-space-around {
				align-content: space-around!important;
			}
			&-space-evenly {
				align-content: space-evenly!important;
			}
			&-baseline {
				align-content: baseline!important;
			}
			&-stretch {
				align-content: stretch!important;
			}
			&-start {
				align-content: start!important;
			}
			&-end {
				align-content: end!important;
			}
			&-left {
				align-content: left!important;
			}
			&-right {
				align-content: right!important;
			}
			&-normal {
				align-content: normal!important;
			}
			&-inherit {
				align-content: inherit!important;
			}
		}
	}


/* FLEX */
.inline-flex {
	display:inline-flex!important;


	&-xs {
		@include br(xs) {
			display:inline-flex!important;
		}
	}
	
	&-sm {
		@include br(sm) {
			display:inline-flex!important;
		}
	}
	
	&-md {
		@include br(md) {
			display:inline-flex!important;
		}
	}
	
	&-lg {
		@include br(lg) {
			display:inline-flex!important;
		} 
	}
}

.flex {
	display:flex!important;

	&-xs {
		@extend %flex-xs;
	}
	
	&-sm {
		@extend %flex-sm;
	}
	
	&-md {
		@extend %flex-md;
	}
	
	&-lg {
		@extend %flex-lg;
	}

	&-direction {
		&-row {
			flex-direction: row!important;
		}
		&-row-reverse {
			flex-direction: row-reverse!important;
		}
		&-column {
			flex-direction: column!important;
		}
		&-column-reverse {
			flex-direction: column-reverse!important;
		}
		&-inherit {
			flex-direction: inherit!important;
		}
	}

	

	&-wrap {
		flex-wrap:wrap!important;
	}

	&-nowrap {
		flex-wrap:nowrap!important;
	}

	&-wrap-reverse {
		flex-wrap:wrap-reverse!important;
	}

	&-wrap-inherit {
		flex-wrap:inherit!important;
	}

	&-1-1,
	&-1-0 {
		flex-grow: 1!important;
	}

	&-1-1,
	&-0-1 {
		flex-shrink: 1!important;
	}

	&-0-1,
	&-0-0 {
		flex-grow: 0!important;
	}

	&-1-0,
	&-1-0 {
		flex-shrink: 0!important;
	}

}





/* HIDEY CLASSES */
.only-lg {
	display: none !important;
}

.only-md {
	display: none !important;
}

.only-sm {
	display: none !important;
}

.only-xs {
	display: none !important;
}

@include breakpoint(lg) {
	.only-lg {
		display: block !important;
	}
	
	.hide-lg {
		display:none!important;
	}
}

@include breakpoint((md,md-max)) {
	.only-md {
		display: block !important;
	}
	
	.hide-md {
		display:none!important;
	}
}

@include breakpoint((sm,sm-max)) {

	.only-sm {
		display: block !important;
	}
	
	.hide-sm {
		display:none!important;
	}
}

@include breakpoint(xs-max) {
	.only-xs {
		display: block !important;
	}
	
	.hide-xs {
		display:none!important;
	}
}



.only-mobile {
	display: none !important;
}


.only-nonmobile {
	display: none !important;
}


@include breakpoint(#{$mobile-br-max}-max) {

	.only-mobile {
		display: block !important;
	}
	
	.hide-mobile {
		display:none!important;
	}
}


@include breakpoint(#{$mobile-br-max-polar}) {

	.only-nonmobile {
		display: block !important;
	}
	
	.hide-nonmobile {
		display:none!important;
	}
}

.sr-only {
	display:none!important;
}

.cf {
	@extend %for-cf;
}