
$calculated-board-close-width: $board-resize-width;
@if internal-is-convertable($board-resize-width){
	$calculated-board-resize-width: rem($board-resize-width/$body-font-size);
}


$calculated-board-resize-height: $board-resize-height;
@if internal-is-convertable($board-resize-height){
	$calculated-board-resize-height: rem($board-resize-height/$body-font-size);
}

$calculated-board-close-size: $board-close-size;
@if internal-is-convertable($board-close-size){
	$calculated-board-close-size: rem($board-close-size/$body-font-size);
}

/*** MODAL BOARD***/


$prefix: '.board';


//also used by module


#{$prefix} {
	display:none!important;


	&-wrapper {
		@extend %for-modal-wrapper;
		z-index: 99998;

		&#{$prefix}-left {
			padding-left: $board-padding-spacer;
		}
		&#{$prefix}-right {
			padding-right: $board-padding-spacer;
		}




		@include br(#{$mobile-br-max}-max) {
			&#{$prefix}-left {
				padding-left: $board-padding-spacer-mobile;
			}
			&#{$prefix}-right {
				padding-right: $board-padding-spacer-mobile;
			}
		}
	}

	&-title {
		margin-top:0;
	}



	&-button {

		&-wrapper {
			position:fixed;
			z-index:3;
			justify-content:flex-start;
			display: flex;
			height: 0;
			flex-wrap: nowrap;
			overflow: visible;
			top: 0;
			max-width: calc(100% -  #{$board-padding-spacer});
			flex-direction: column;

			&:before {
				content:"";
				display:inline-block;
				pointer-events:none;
				flex: 0 0 auto;
				height: $board-close-offset-y;
				width:0;
			}
	
			@include br(#{$mobile-br-max}-max) {					
				max-width: calc(100% -  #{$board-padding-spacer-mobile});

				&:before {
					height: $board-close-offset-y-mobile;
				}
			}
			
			#{$prefix}-left & {
				right: 0;
				align-items: flex-start;
			}
	
	
			#{$prefix}-right & {
				left: 0;
				align-items: flex-end;
			}
		}

		& {

			position:relative;
			z-index:9;

			&-default {
				border:none;
				outline:none;
				font-size: $board-close-button-font-size;
				display:flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				flex-direction:column;
				background: $modal-background;
				box-shadow: $board-close-box-shadow;
				// width: $calculated-board-close-width;
				// height: $calculated-board-close-height;
				padding: calc((#{$calculated-board-close-size} - 1em) * .5);
				flex: 0 0 auto;
				margin-bottom: .5em;
				
				.symbol {
					margin: auto;
				}
	
	
				.theme-inverse & {
					background: $modal-background-inverse;
				}
	
				#{$prefix}-left & {
					left: 0;
					transform: translateX(-50%);
				}
		
		
				#{$prefix}-right & {
					right: 0;
					transform: translateX(50%);
				}
			}
		}

		// &:first-child {
	
		// 	#{$prefix}-left &,
		// 	#{$prefix}-right & {
		// 		top: $board-close-offset-y;
	
	
		// 		@include br(#{$mobile-br-max}-max) {
		// 			top: $board-close-offset-y-mobile;
		// 		}
		// 	}
	
		// 	#{$prefix}-top &,
		// 	#{$prefix}-bottom & {
		// 		right: $board-close-offset-x;
	
	
		// 		@include br(#{$mobile-br-max}-max) {
		// 			right: $board-close-offset-x-mobile;
		// 		}
		// 	}
		// }
	}

	&-resize {
		&:hover {
			cursor: grab;
		}
	}

	&-close {
		
		&-overlay {
			@extend %for-modal-overlay;


			&:not([data-toggle="board-close"]) {
				@extend %for-modal-overlay-not-closeable;
			}
		}
	}


	&-popup {
		@extend %for-modal-popup;
		@extend %for-modal-scroller;
		height: 100%;

		padding: $board-padding-y $board-padding-x;

		@include br(#{$mobile-br-max}-max) {
			padding: $board-padding-y-mobile $board-padding-x-mobile;
		}

		&-content {
			// flex: 1 1;
			position:relative;
		}
	}

	&-popup,
	&-button-wrapper {
		#{$prefix}-left & {
			margin-left: auto;
		}
		
		#{$prefix}-right & {
			margin-right: auto;
		}
	}
}