/*** MODAL ***/


$prefix: '.modal';


//also used by module

.body-modal-active {
	overflow-y:hidden;
}

#{$prefix} {
	display:none!important;


	@at-root %for-modal {



		&-wrapper { 
			position: fixed;
			top: 0!important;
			left: 0!important;
			right: 0!important;
			bottom: 0!important;
			margin: 0;
			overflow-y: scroll;
			background: $modal-overlay-bg;
			z-index: 99999;
			display:none!important;


			&::-webkit-scrollbar {
				display:none;
			}

			&.active {
				display:block!important;
			} 

		}
	}

		&-wrapper {
			@extend %for-modal-wrapper;

			padding: $modal-gutter;

			@include br(#{$mobile-br-max}-max) {
				padding: $modal-gutter-mobile;
			}
		}
		&-title {
			margin-top:0;
		}


	@at-root %for-modal {

		&-overlay {
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;

			&:not([data-toggle="modal-close"]) {
				pointer-events:none;
			}
		}
	}

		&-close {
			& {
				position:absolute;
				right: $modal-close-offset;
				top: $modal-close-offset;
				z-index:9;

				&-default {
					font-size: $modal-close-button-font-size;
				}
			}
			&-overlay {
				@extend %for-modal-overlay;
			}
		}



	@at-root %for-modal {

		&-popup {
			backface-visibility: hidden;
			position:relative;
			z-index:2;
			box-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
			width: 100%;
			background: $modal-background;
			
			.theme-inverse & {
				background: $modal-background-inverse;
			}
		}
	}

	&-popup {
		@extend %for-modal-popup;
		padding: $modal-gutter-y $modal-gutter-x;
		border-radius: $modal-border-radius;
		margin: auto;
	}
}