/*** MODAL ***/


$prefix: '.modal';



#{$prefix} {
	display:none!important;


	@at-root %for-modal {

		&-scroller {
			overflow-y: scroll;

			&-no-scrollbar {
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display:none;
				}
			}

		}

		&-wrapper { 
			position: fixed;
			top: 0!important;
			left: 0!important;
			right: 0!important;
			bottom: 0!important;
			margin: 0;
			background: $modal-overlay-bg;
			display:none!important;

			&.active {
				display:block!important;
			} 

		}
	}

		&-wrapper {
			@extend %for-modal-wrapper;
			@extend %for-modal-scroller;
			@extend %for-modal-scroller-no-scrollbar;
			z-index: 99999;

			padding: $modal-gutter;

			@include br(#{$mobile-br-max}-max) {
				padding: $modal-gutter-mobile;
			}
		}
		&-title {
			margin-top:0;
		}


	@at-root %for-modal {

		&-overlay {
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;

			&-not-closeable {
				pointer-events:none;
			}
		}
	}

		&-close {
			& {
				position:absolute;
				right: $modal-close-offset;
				top: $modal-close-offset;
				z-index:9;

				&-default {
					font-size: $modal-close-button-font-size;
				}

				
				@include br(#{$mobile-br-max}-max) {
					right: $modal-close-offset-mobile;
					top: $modal-close-offset-mobile;
				}
			}
			&-overlay {
				@extend %for-modal-overlay;


				&:not([data-toggle="modal-close"]) {
					@extend %for-modal-overlay-not-closeable;
				}
			}
		}



	@at-root %for-modal {

		&-popup {
			backface-visibility: hidden;
			position:relative;
			z-index:2;
			box-shadow: rgba(0, 0, 0, .2) 0 2px 3px;
			max-width: 100%;
			background: $modal-background;
			
			.theme-inverse & {
				background: $modal-background-inverse;
			}
		}
	}

	&-popup {
		@extend %for-modal-popup;
		border-radius: $modal-border-radius;
		margin: auto;

		padding: $modal-padding-y $modal-padding-x;

		@include br(#{$mobile-br-max}-max) {
			padding: $modal-padding-y-mobile $modal-padding-x-mobile;
		}
	}
}