
$calculated-board-close-width: $board-close-width;
@if internal-is-convertable($board-close-width){
	$calculated-board-close-width: rem($board-close-width/$body-font-size);
}


$calculated-board-close-height: $board-close-height;
@if internal-is-convertable($board-close-height){
	$calculated-board-close-height: rem($board-close-height/$body-font-size);
}

$calculated-board-close-size: $board-close-size;
@if internal-is-convertable($board-close-size){
	$calculated-board-close-size: rem($board-close-size/$body-font-size);
}

/*** MODAL BOARD***/


$prefix: '.board';


//also used by module

.body-board-active {
	overflow-y:hidden;
}

#{$prefix} {
	display:none!important;


		&-wrapper {
			@extend %for-modal-wrapper;

			&#{$prefix}-left {
				padding-left: $board-padding-spacer;
			}
			&#{$prefix}-right {
				padding-right: $board-padding-spacer;
			}
			&#{$prefix}-top {
				padding-top: $board-padding-spacer;
			}
			&#{$prefix}-bottom {
				padding-bottom: $board-padding-spacer;
			}
		}
		&-title {
			margin-top:0;
		}

	&-close {
		& {
			font-size: $board-close-button-font-size;
			position:absolute;
			z-index:9;
			display:flex;
			align-items: center;
			justify-content: center;
			background: $modal-background;
			box-shadow: $board-close-box-shadow;
			// width: $calculated-board-close-width;
			// height: $calculated-board-close-height;
			width: $calculated-board-close-size;
			height: $calculated-board-close-size;


			.theme-inverse & {
				background: $modal-background-inverse;
			}

			#{$prefix}-left &,
			#{$prefix}-right & {
				top: $board-close-offset-y;
			}

			#{$prefix}-left & {
				left: $board-close-offset-x * -1;
			}


			#{$prefix}-right & {
				right: $board-close-offset-x * -1;
			}

			#{$prefix}-top &,
			#{$prefix}-bottom & {
				left: $board-close-offset-x;
			}

			#{$prefix}-top & {
				top: $board-close-offset-y * -1;
			}


			#{$prefix}-bottom & {
				bottom: $board-close-offset-y * -1;
			}
		}
		&-overlay {
			@extend %for-modal-overlay;
		}
	}


	&-popup {
		@extend %for-modal-popup;
		min-height: 100%;
		

		#{$prefix}-left & {
			margin-left: auto;
		}
		#{$prefix}-right & {
			margin-right: auto;
		}
		#{$prefix}-top & {
			margin-top: auto;
		}
		#{$prefix}-bottom & {
			margin-bottom: auto;
		}
	}
}