/*** POPPER, USED BY DROPDOWNS AND TOOLTIPS TOO ***/
$tooltip-point: 20px;
$calculated-tooltip-point: rem(20px / $body-font-size);
$calculated-gutter-hypotenus: to-unit( sqrt((strip-unit($tooltip-point) * strip-unit($tooltip-point)) * 2),unit($tooltip-point) );

%for-pop {
	position:absolute;
	background: $popper-background;
	border-radius: $popper-border-radius;
	padding: $popper-gutter-x $popper-gutter-y;
	box-shadow: $popper-box-shadow;
	z-index:2;

	.theme-inverse & {

		background: $popper-background-inverse;
	}
}


$prefix: '.tooltip';

#{$prefix} {
	@extend %for-pop;
	pointer-events:none;
	display: none;
	z-index:99999;

	&:not(#{$prefix}-has-custom-width){
		max-width: $tooltip-max-width;
	}

	&#{&}-allow-interaction {
		pointer-events: auto;
	}

	&.active {
		display: block;
	}

	&:before,&:after {
		content:"";
		background: $popper-background;
		position: absolute;
		z-index:-1;

		.theme-inverse & {
			background: $popper-background-inverse;

		}
	}

	&:after {
		// background: red;
		left:0;
		right:0;
		top:0;
		bottom:0;
		border-radius: inherit;
	}

	&:before {
		// background: blue;
		margin:auto;
		box-shadow: $popper-arrow-box-shadow;
		width: $popper-gutter-x;
		height: $popper-gutter-x;
		transform-origin: center center;
		transform: rotate(45deg);
	}

	&-badge {
		position:absolute;
		margin: auto;
	}

	&#{&}-top {

		&:before,
		#{$prefix}-badge {
			left:0;
			right:0;
		}

		&:before{
			bottom: $popper-gutter-x * -.5;
		}

		#{$prefix}-badge {
			top: calc(100% + #{ $calculated-gutter-hypotenus } * .5);
		}
	}
	&#{&}-bottom {

		&:before,
		#{$prefix}-badge {
			left:0;
			right:0;
		}

		&:before{
			top: $popper-gutter-x * -.5;
		}

		#{$prefix}-badge {
			bottom: calc(100% + #{ $calculated-gutter-hypotenus } * .5);
		}
	}

	&#{&}-right {
		&:before,
		#{$prefix}-badge {
			bottom:0;
			top: 0;
		}

		&:before{
			left: $popper-gutter-x * -.5;
		}

		#{$prefix}-badge {
			right: calc(100% + #{ $calculated-gutter-hypotenus } * .5);
		}
	}



	&#{&}-left {
		&:before,
		#{$prefix}-badge {
			bottom:0;
			top: 0;
		}

		&:before{
			right: $popper-gutter-x * -.5;
		}

		#{$prefix}-badge {
			left: calc(100% + #{ $calculated-gutter-hypotenus } * .5);
		}
	}
}




$prefix: '.dropdown';
#{$prefix} {
	@extend %for-pop;
	width: $dropdown-width;
	display:none;
	color: $nav-color;
	transform-origin: center center;
	transform-style: preserve-3d;

	&[data-dropdown-max-height]{
		overflow-y:auto;
	}

	.theme-inverse & {
		color: $nav-color-inverse;
	}
	
	&.open {
		display: block;
	}

	&,ul,li {
		margin-bottom:0;
		margin-top:0;
	}

	li.active {
		color: $dropdown-active-color;
	}

	@at-root hr#{&}-separator {
		margin: .5em 0;
	}

	a,
	[data-toggle="dropdown"] {
		color:inherit;
	}

	&#{&}-bottom {
		bottom:0;
		&-flush {
			bottom: 100%;
		}
	}

	&#{&}-top {
		top:0;
		
		&-flush {
			top: 100%;
		}
	}

	&#{&}-left {
		left:0;
		&-flush {
			left:100%;
		}
	}

	&#{&}-right {
		right:0;
		&-flush {
			right: 100%;
		}
	}

	&#{&}-center {
		&-x {
			left: 50%;
			transform: translateX(-50%);
		}

		&-y {

			top: 50%;
			transform: translateY(-50%);
		}
	}

	&#{$prefix}-static {
		position:static;
		box-shadow:none;
		transform: none;
	}

	li {
		&:before {
			content: none;
		}
	}

	// @include br(#{$mobile-br-max}-max) {
	// 	max-width:100%;
	// }
}