/*** SCAFFOLDING ***/
	$prefix:'.body';

	html,body {
		width:100%;
		min-width:320px;
		@include type-set((
			size: $body-font-size,
			font: $body-font-family,
			weight: $body-font-weight,
			leading: $body-line-height,
		));
		min-height: 100vh;
	}

	#{$prefix}-no-scroll {
		overflow:hidden !important;
	}

	#{$prefix}-on-drag {

		&, * {
			cursor:grabbing!important;
			-webkit-user-select: none!important; /* Safari 3.1+ */
			-moz-user-select: none!important; /* Firefox 2+ */
			-ms-user-select: none!important; /* IE 10+ */
			user-select: none!important; /* Standard syntax */
		}
	}

	html {

		word-wrap: break-word;
		color: var(--theme-color);
		background-color: var(--theme-background);
	}



	body {
		scrollbar-width: thin;
		scrollbar-color: $brand-color-neutral transparent;
	}



	/* width */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		background: transparent; 
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: $brand-color-neutral;
		border: 2px solid transparent;
		background-clip: padding-box;
		border-radius: 8px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: $brand-color-neutral; 
		border: 2px solid transparent;
		background-clip: padding-box;
		border-radius: 8px;
	}


	*.theme-inverse,
	.module.theme-inverse,
	html.theme-inverse, 
	.theme-inverse body {
		--theme-color: #{$theme-color-inverse};
		--theme-color-contrast: #{$theme-color-contrast-inverse};
		--theme-background: #{$theme-background-inverse};
		--theme-background-contrast: #{$theme-background-contrast-inverse};
		color: var(--theme-color);
		background-color: var(--theme-background);
	}

	::-moz-selection{
		background-color: $body-selection-background;
		color: $body-selection-color;
	}
	::selection{
		background-color: $body-selection-background;
		color: $body-selection-color;
	}

	body {
		text-align:left;

		&#{$prefix}-nav-sticky-offset {
			padding-top: $calculated-nav-height;
		}

		&:not(.body-loaded) {
			*,*:before,*:after {
				transition:none!important;
			}
		}
	}


	/* SUPER GLOBAL STYLE FIXES */

	img,svg {
		max-width:100%;
		height:auto;
	}

	iframe,
	object,
	embed {
		max-width:100%!important;
	}
	
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: '';
		clear: both;
		height: 0;
	}
	
	* html .clearfix {
		zoom: 1;
	}
	
	/* IE6 */
	
	*:first-child+html .clearfix {
		zoom: 1;
	}
	
	/* IE7 */
	
	*,
	*:before,
	*:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* Firefox 25*/
	}
	
	input,
	textarea,
	fieldset,
	legend,
	select,
	option,
	button {
		// background:none;
		// -webkit-border-radius: 0;
		// border-radius: 0;
		// border: none;
		margin: 0;
		// font: inherit;
		// line-height: inherit;
		// color: inherit;
	}

	input,
	textarea,
	fieldset,
	legend,
	select,
	button {
		max-width:100%;
	}

	fieldset {

		min-width: 0;
		resize: none;
	}
	
	button {
		// margin:0;
		// padding:0;
		outline:0;
		// border: none;
		cursor: pointer;
	}
	
	a {
		text-decoration: none;
	}