/*** Tables ***/
//internal vars

//table
$calculated-table-heading-height: $table-heading-height;
@if internal-is-convertable($table-heading-height) {
	$calculated-table-heading-height: rem( $table-heading-height / $body-font-size);
}


$calculated-table-cell-height: $table-cell-height;
@if internal-is-convertable($table-cell-height) {
	$calculated-table-cell-height: rem( $table-cell-height / $body-font-size);
}

$calculated-table-cell-height-large: $table-cell-height-large;
@if internal-is-convertable($table-cell-height-large) {
	$calculated-table-cell-height-large: rem( $table-cell-height-large / $body-font-size);
}
$calculated-table-cell-height-small: $table-cell-height-small;
@if internal-is-convertable($table-cell-height-small) {
	$calculated-table-cell-height-small: rem( $table-cell-height-small / $body-font-size);
}


$prefix: '.table';
#{$prefix} {

	&-wrapper {
		width:100%;
		display:block;
		overflow-x: auto;

		@at-root & .table,
		& table {
			// white-space: nowrap;
			width: auto;
			min-width:100%;
			margin-bottom:0;

			.tag,.btn {
				white-space:nowrap;
			}

		}
	}
	@at-root &,
	table {
		white-space: normal;
		display:table;
		width: 100%;
		max-width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		text-align: inherit;
		background:transparent;
		text-align: inherit;
		// table-layout: fixed;

		// &#{$prefix}-wrap {
		// 	white-space: normal;
		// }


		@at-root thead,
		tbody,
		tfoot,
		tr,
		#{$prefix}-row {
			min-width:100%;
		}

		@at-root thead,
		tbody,
		tfoot {
			vertical-align: inherit;
			text-align: inherit;
		}
		
		

		@at-root tr,
		#{$prefix}-row {
			height:100%;
			display:table-row;
			vertical-align: inherit;
			text-align: inherit;
			border-color: $table-cell-border-color;
			border-style: solid;
			border-top-width: $table-cell-border-width;

			.theme-inverse & {
				border-color: $table-cell-border-color-inverse;
			}

			&:last-child {
				border-bottom-width: $table-cell-border-width;
			}
			

			.alert &,
			.theme-inverse .alert & {
				border-color: currentColor;
			}
		}
		@at-root th,td,
		#{$prefix}-cell,
		#{$prefix}-cell#{$prefix}-cell-heading {
			vertical-align: inherit;
			text-align: inherit;
			padding-left: $table-cell-gutter;
			padding-right: $table-cell-gutter;
			// vertical-align:middle;
			height:100%;
			display: table-cell;
			position:relative;



			&#{$prefix}-bordered,
			#{$prefix}-bordered & {
				border-color: $table-cell-border-color;
				border-style: solid;
				border-left-width: $table-cell-border-width;

				.theme-inverse & {
					border-color: $table-cell-border-color-inverse;
				}

				&:last-child {
					border-right-width: $table-cell-border-width;
				}
			}

		}




		#{$prefix}-cell-no-gutter {
			padding:0!important;
		}

		@at-root th,
		#{$prefix}-cell#{$prefix}-cell-heading {
			padding-top: calc((#{$calculated-table-heading-height} - (#{ $calculated-body-single-line } )) * .5);
			padding-bottom: calc((#{$calculated-table-heading-height} - (#{ $calculated-body-single-line } )) * .5);
			background:$table-heading-background;
			// vertical-align:middle;

			@include type-set((
				color: $table-heading-color,
				weight:$table-heading-font-weight,
				style: $table-heading-font-style,
				case: $table-heading-text-transform,
			));

			.theme-inverse & {
				background:$table-heading-background-inverse;
				color: $table-heading-color-inverse
			}

			.alert &,
			.theme-inverse .alert & {
				background: none;
				color:inherit;
			}
		}

		@at-root td,
		#{$prefix}-cell {
			padding-top: calc((#{ $calculated-table-cell-height } - ( #{ $calculated-body-single-line } )) * .5);
			padding-bottom: calc((#{ $calculated-table-cell-height } - ( #{ $calculated-body-single-line } )) * .5);
		}

		@at-root #{$prefix}-col-separation {
			td,
			#{$prefix}-cell {
				&:nth-child(n+2) {
					border-left: $table-cell-border-width solid $table-cell-border-color;

					.theme-inverse & {
						border-left: $table-cell-border-width solid $table-cell-border-color-inverse;
					}
				}
			}
		}


		@at-root #{$prefix}-small {
			td,
			#{$prefix}-cell {
				padding-top: calc((#{ $calculated-table-cell-height-small } - ( #{ $calculated-body-single-line-compact } )) * .5);
				padding-bottom: calc((#{ $calculated-table-cell-height-small } - ( #{ $calculated-body-single-line-compact } )) * .5);
				line-height: $calculated-body-line-height * $body-line-height-compact-factor;
			}
		}

		@at-root #{$prefix}-large {
			td,
			#{$prefix}-cell {
				padding-top: calc((#{ $calculated-table-cell-height-large } - ( #{ $calculated-body-single-line-expanded } )) * .5);
				padding-bottom: calc((#{ $calculated-table-cell-height-large } - ( #{ $calculated-body-single-line-expanded } )) * .5);
				line-height: $calculated-body-line-height * $body-line-height-expanded-factor;
			}
		}


		@at-root #{$prefix}-label {
			width: $table-label-width;
			height: calc(#{ $calculated-table-cell-height } - (#{$table-label-offset} * 2));
			border-radius: $table-label-border-radius;
			display:inline-block;
			vertical-align:middle;
			margin: #{$table-label-offset} 0;

			#{$prefix}-large & {
				height: calc(#{ $calculated-table-cell-height-large } - (#{$table-label-offset} * 2));
			}

			#{$prefix}-small & {
				height: calc(#{ $calculated-table-cell-height-small } - (#{$table-label-offset} * 2));
			}
			
			@each $tag,$color in $calculated-brand-color-declarations {
				&-#{$tag} {
					@extend %for-background-#{$tag};
				}
			}

			&-intensity {
				@for $i from 1 through length($calculated-color-brand-intensity) {
					&-#{$i} {
						@extend %for-background-intensity-#{$i};
					}
				}
			}
		}

		@at-root #{$prefix}-row,
		#{$prefix}-cell {
			&-disabled {
				td,
				#{$prefix}-cell {
					@extend %for-disabled;
				}
			}
		}

		@at-root #{$prefix}-row {
			
			@each $tag,$colors in $calculated-table-row-background {
				&-#{$tag} {
					background-color: map-get($colors,normal);

					.theme-inverse & {
						background-color: map-get($colors,inverse);
					}
				}
			}

		}



		@at-root #{$prefix}-cell {
			
			@each $tag,$colors in $calculated-table-cell-background {
				@at-root td#{&}-#{$tag},
				&#{&}-#{$tag} {
					background-color: map-get($colors,normal);

					.theme-inverse & {
						background-color: map-get($colors,inverse);
					}
				}
			}

		}


	}


}