
/*** TOGGLES ***/

/* to fix children that dont like their parents events. kinda like neutering them idk */
[data-toggle]{
    cursor: pointer!important;
    *{
        pointer-events: none!important;
    }
}

.accordion {
    &:not(.accordion-mobile) {
        // max-height:0;
        // overflow:hidden;
        min-width:100%;
        display:none!important;
        // transition: $transition-duration-long max-height $transition-timing;
        // overflow:hidden;

        &.open {
            // max-height:none;
            // overflow:visible;
            display:block!important;
        }
    }

    &#{&}-mobile {

        @include br(#{$mobile-br-max}-max) {
            // max-height:0;
            // overflow:hidden;
            min-width:100%;
            display:none!important;
            // transition: $transition-duration-long max-height $transition-timing;
            // overflow:hidden;

            &.open {
                // max-height:none;
                // overflow:visible;
                display:block!important;
            }
        }

        @include br(#{$mobile-br-max-polar}) {
            // max-height:none;
            // overflow:visible;
            display:block!important;
        }
    }
}