
/*** Toolbar ***/


$prefix: '.toolbar';



#{$prefix} {
	display: inline-flex;
	align-items: center;
	border-radius: $toolbar-border-radius;
	box-shadow: $toolbar-box-shadow;
	background-color: $toolbar-background-color;
	border: $toolbar-border-width solid $toolbar-border-color;

	.theme-inverse & {
		background-color: $toolbar-background-color-inverse;
		border: $toolbar-border-width solid $toolbar-border-color-inverse;
	}

	&#{&}-horizontal {
		flex-direction: row;
		min-height: $toolbar-cross-min-height;
		padding: $toolbar-cross-gutter $toolbar-main-gutter;

	}
	
	&#{&}-vertical {
		flex-direction: column;
		min-width: $toolbar-cross-min-height;
		padding: $toolbar-main-gutter $toolbar-cross-gutter;

	}

	&-tile {

		#{$prefix}-horizontal & {
			&:nth-child(n+2) {
				margin-left: $toolbar-tile-gutter;
			}
		}

		
		#{$prefix}-vertical & {
			writing-mode: vertical-rl;
			text-orientation: mixed;
			&:nth-child(n+2) {
				margin-top: $toolbar-tile-gutter;
			}


		}
	}
}