
/* 
CUSTOM STYLES FOR TRUMBOWYG
****************************************************************************/

 $prefix: '.fw-trumbowyg';
 
 #fw-trumbowyg-icons,
 #trumbowyg-icons {
	 overflow: hidden;
	 visibility: hidden;
	 height: 0;
	 width: 0;
 
	 svg {
		 height: 0;
		 width: 0;
	 }
 }
 

 #{$prefix} {

	 &-msg-error {
		display:none;
	 }
	&-box,
	&-modal {
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	
		svg {
			width: 20px;
			height: 100%;
			fill: currentColor;
		}
	}

	&-box,
	&-editor {
		display: block;
		position: relative;
		margin: 0;
	}
	
	&-editor,
	&-textarea {
		@extend %for-form-global;
		@extend %for-form-shadow-and-border;
		@extend %for-form-input;
		min-height: 140px;
		min-width:100%;
	}
	
	&-box#{$prefix}-fullscreen {
		border-radius:0;
		box-shadow:none !important;

	}
	
	&-editor,
	&-textarea {
		position: relative;
		box-sizing: border-box;
		// padding: $wysiwyg-gutter-x $wysiwyg-gutter-y;
		border-style: none;
		resize: none;
		outline: none;
		overflow: auto;
		user-select: text; // Avoid issues on iOS
		font-size: 1rem;
		line-height: $calculated-body-line-height;
		// min-height: rem()
	
		&#{$prefix}-autogrow-on-enter {
			transition: height $wysiwyg-transition-duration-slow ease-out;
		}

		#{$prefix}-box#{$prefix}-fullscreen & {
			border-radius:0;
			box-shadow:none !important;
			margin:0;
	
		}
	}
	
	// &-box-blur #{$prefix}-editor {
	// 	*,
	// 	&::before {
	// 		opacity: .2;
	// 	}
	// 	img,
	// 	hr {
	// 		opacity: 0.2;
	// 	}
	// }
	
	&-textarea {
		position: relative;
		overflow: auto;
		border: none;
		font-family: $font-monospace;
	}
	
	&-box#{$prefix}-editor-visible {
		#{$prefix}-textarea {
			display:none!important;
		}
	}
	
	&-box#{$prefix}-editor-hidden {
		#{$prefix}-textarea {
			display: block;
		}
		#{$prefix}-editor {
			display: none;
		}
	}
	
	&-box#{$prefix}-disabled {
		#{$prefix}-textarea {
			opacity: 0.8;
			background: none;
		}
	}

	&#{$prefix}-disable button:not(#{$prefix}-not-disable):not(#{$prefix}-active),
	button#{$prefix}-disable,
	#{$prefix}-disabled & button:not(#{$prefix}-not-disable):not(#{$prefix}-viewHTML-button) {
		opacity: 0.2;
		cursor: default;
	}
	&#{$prefix}-disable,
	#{$prefix}-disabled & {
		#{$prefix}-button-group::before {
			// background: darken($light-color, 3%);
			opacity: $global-disabled-opacity;
		}
	}

	button:not(#{$prefix}-disable):hover,
	button:not(#{$prefix}-disable):focus,
	button#{$prefix}-active {
		color: $wysiwyg-icon-color-hover;
		outline: none;
	}
	
	&-button-pane {
		width: 100%;
		min-height: $wysiwyg-button-pane-height;
		margin: 0;
		padding: 0;
		position: relative;
		list-style-type: none;
		// line-height: 10px;
		backface-visibility: hidden;
		z-index: 11;

		#{$prefix}-fullscreen & {
			box-shadow: 0 1px 0 0 rgba($brand-color-neutral,.5);
		}

		button {
			margin-right: 1em;
			display: inline-block;
			position: relative;
			width: auto;
			height: $wysiwyg-button-pane-height;
			color:$wysiwyg-icon-color;
			overflow: hidden;
			border: none;
			cursor: pointer;
			background: none;
			vertical-align: middle;
			transition: background-color $wysiwyg-transition-duration, opacity $wysiwyg-transition-duration;
	
			&#{$prefix}-textual-button {
				width: auto;
				line-height: $wysiwyg-button-pane-height;
				user-select: none;
			}
		}

		#{$prefix}-right button {
			margin-right: 0;
			margin-left: 1em;
		}
	
	
		#{$prefix}-button-group {
			display: inline-block;
		}
	
		#{$prefix}-open-dropdown {
			&::after {
				display: block;
				content: " ";
				position: absolute;
				top: 25px;
				right: 3px;
				height: 0;
				width: 0;
				border: 3px solid transparent;
				border-top-color: #555;
			}
	
			&#{$prefix}-textual-button {
				padding-left: 10px !important;
				padding-right: 18px !important;
	
				&::after {
					top: 17px;
					right: 7px;
				}
			}
		}
	
		#{$prefix}-right {
			float: right;
		}
	}
	
	&-dropdown {
		max-width: 300px;
		max-height: 250px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
		padding: 5px 0;
		border-top: none;
		background: #FFF;
		margin-left: -1px;
		box-shadow: rgba(0, 0, 0, .1) 0 2px 3px;
		z-index: 12;
	
		button {
			display: block;
			width: 100%;
			height: 35px;
			line-height: 35px;
			text-decoration: none;
			background: #FFF;
			padding: 0 20px 0 10px;
			color: inherit;
			border: none;
			cursor: pointer;
			text-align: left;
			font-size: 15px;
			transition: all $wysiwyg-transition-duration;
	
			svg {
				float: left;
				margin-right: 14px;
			}
		}
	}
	
	&-modal {
		@extend %for-modal-wrapper;
	}
	
	&-modal-box {
		@extend %for-modal-popup;
		max-width: $wysiwyg-modal-max-width;
		// background-color: $theme-background;
	
		#{$prefix}-modal-title {
			@extend .module-title;
		}
		label {
			@extend %for-form-wrapper;
			@extend %for-form-wrapper-block;
			@extend %for-form-wrapper-horizontal;
			@extend %for-p;
	
			#{$prefix}-input-infos {
				@extend %for-form-label;
				margin-right: 0;
				@include br($mobile-br-max-polar) {
					//@COPIEDOVER
					flex: 0 0 $input-label-horizontal-width;
					order: -1;
				}
			}
	
			input:not([type="checkbox"]):not([type="radio"]) {
				@extend %for-form-global;
				@extend %for-form-input;
				@extend %for-form-input-itself;
				@extend %for-form-shadow-and-border;
				@extend %for-form-input-single-line;
				//@COPIEDOVER
				@include br($mobile-br-max-polar){
					width: calc(100% - #{$input-label-horizontal-width});
				}
				
			}
	
			input[type="checkbox"]{
				left: 6px;
				top: 6px;
				right: auto;
				height: 16px;
				width: 16px;
	
				+ #{$prefix}-input-infos span{
					width: auto;
					padding-left: 25px;
				}
			}

			&#{$prefix}-input-error {

				input:not([type="checkbox"]):not([type="radio"]) {
					@extend %for-form-input-color-error;
				}

				#{$prefix}-input-infos {
					@extend %for-form-label-color-error;
				}
			}
		}
	
		.error {
			margin-top: 25px;
			display: block;
			color: $brand-color-error;
		}
	}
	
	&-modal-button {
		@extend %for-btn;
		@extend %for-btn-itself-and-group;
		@extend %for-btn-on-mobile;
		margin: 0 .125em;
	}


	&-modal-submit {
		@extend %for-btn-primary;
	}

	&-modal-reset {
		@extend %for-btn-default;
	}
	
	&-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		display: none;
		top: 0;
		z-index: 10;
	}
	
	&-body-fullscreen {
		/* Fullscreen */
		overflow: hidden;
	}
	
	&-fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 99999;
		background: $theme-background;

		@at-root #{$prefix}-dark,
		.theme-inverse & {
			background: $theme-background-inverse;
		}
	
		&#{$prefix}-box,
		#{$prefix}-editor {
			border: none;
		}

		#{$prefix}-editor,
		#{$prefix}-textarea,
		#{$prefix}-button-pane {

			padding-left: $gutter-small;
			padding-right: $gutter-small;
		}

		#{$prefix}-editor,
		#{$prefix}-textarea {
			height: calc(100% - 37px) !important;
			overflow: auto;
		}
		#{$prefix}-overlay {
			height: 100% !important;
		}

	
		&-button svg  {
			fill: $wysiwyg-icon-color;
			color: transparent;
		}

		#{$prefix}-fullscreen-button svg  {
			fill: transparent;
			color: currentColor;
		}
	}
	
	&-editor {
		object,
		embed,
		video,
		img {
			max-width: 100%;
		}
		video,
		img {
			height: auto;
		}
		img {
			cursor: move;
		}
	}

	&-progress {
			@extend %for-progress;

		&,
		&-bar {
			@extend %for-progress-and-bar;
		}
		&-bar {
			@extend %for-progress-bar;
			@extend %for-progress-bar-default;
		}
	}
 }
