
/*** TYPOGRAPHY ***/
//speshal
	$calculated-special-primary-font-size: $special-primary-font-size;
	@if internal-is-convertable($special-primary-font-size) {
		$calculated-special-primary-font-size: em($special-primary-font-size / $body-font-size)
	}

	$calculated-special-primary-font-size-mobile: $special-primary-font-size-mobile;
	@if internal-is-convertable($special-primary-font-size-mobile) {
		$calculated-special-primary-font-size-mobile: em($special-primary-font-size-mobile / $body-font-size)
	}

	$calculated-special-primary-line-height: type-lead( $special-primary-font-size,$special-primary-line-height );

	$calculated-special-primary-gutter-y: $special-primary-gutter-y;
	@if internal-is-convertable($special-primary-gutter-y) {
		$calculated-special-primary-gutter-y: em($special-primary-gutter-y / $special-primary-font-size)
	}

//secondary

	$calculated-special-secondary-font-size: $special-secondary-font-size;
	@if internal-is-convertable($special-secondary-font-size) {
		$calculated-special-secondary-font-size: em($special-secondary-font-size / $body-font-size)
	}

	$calculated-special-secondary-font-size-mobile: $special-secondary-font-size-mobile;
	@if internal-is-convertable($special-secondary-font-size-mobile) {
		$calculated-special-secondary-font-size-mobile: em($special-secondary-font-size-mobile / $body-font-size)
	}


	$calculated-special-secondary-line-height: type-lead( $special-secondary-font-size,$special-secondary-line-height );

	$calculated-special-secondary-gutter-y: $special-secondary-gutter-y;
	@if internal-is-convertable($special-secondary-gutter-y) {
		$calculated-special-secondary-gutter-y: em($special-secondary-gutter-y / $special-secondary-font-size)
	}


// lead
	$calculated-lead-font-size: $lead-font-size;
	@if internal-is-convertable($lead-font-size) {
		$calculated-lead-font-size: em($lead-font-size / $body-font-size)
	}

	$calculated-lead-font-size-mobile: $lead-font-size-mobile;
	@if internal-is-convertable($lead-font-size-mobile) {
		$calculated-lead-font-size-mobile: em($lead-font-size-mobile / $body-font-size)
	}

	$calculated-lead-line-height: type-lead( $lead-font-size,$lead-line-height );

	$calculated-lead-gutter-y: $lead-gutter-y;
	@if internal-is-convertable($lead-gutter-y) {
		$calculated-lead-gutter-y: em($lead-gutter-y / $lead-font-size)
	}


//headings
	$calculated-body-size-h1: $body-size-h1;
	@if internal-is-convertable($body-size-h1) {
		$calculated-body-size-h1: em($body-size-h1 / $body-font-size);
	}

	$calculated-body-size-h2: $body-size-h2;
	@if internal-is-convertable($body-size-h2) {
		$calculated-body-size-h2: em($body-size-h2 / $body-font-size);
	}

	$calculated-body-size-h3: $body-size-h3;
	@if internal-is-convertable($body-size-h3) {
		$calculated-body-size-h3: em($body-size-h3 / $body-font-size);
	}

	$calculated-body-size-h4: $body-size-h4;
	@if internal-is-convertable($body-size-h4) {
		$calculated-body-size-h4: em($body-size-h4 / $body-font-size);
	}

	$calculated-body-size-h5: $body-size-h5;
	@if internal-is-convertable($body-size-h5) {
		$calculated-body-size-h5: em($body-size-h5 / $body-font-size);
	}

	$calculated-body-size-h6: $body-size-h6;
	@if internal-is-convertable($body-size-h6) {
		$calculated-body-size-h6: em($body-size-h6 / $body-font-size);
	}


	$calculated-body-size-small: $body-font-size-small;
	@if internal-is-convertable($body-font-size-small) {
		$calculated-body-size-small: em($body-font-size-small / $body-font-size);
	}
	$calculated-body-size-large: $body-font-size-large;
	@if internal-is-convertable($body-font-size-large) {
		$calculated-body-size-large: em($body-font-size-large / $body-font-size);
	}

	$calculated-body-heading-gutter-bottom: $body-heading-gutter-bottom;
	@if internal-is-convertable($body-heading-gutter-bottom) {
		$calculated-body-heading-gutter-bottom: rem($body-heading-gutter-bottom / $body-font-size);
	}

	$calculated-body-heading-gutter-top: $body-heading-gutter-top;
	@if internal-is-convertable($body-heading-gutter-top) {
		$calculated-body-heading-gutter-top: rem($body-heading-gutter-top / $body-font-size);
	}

$calculated-body-heading-size: (
	$calculated-body-size-h1,
	$calculated-body-size-h2,
	$calculated-body-size-h3,
	$calculated-body-size-h4,
	$calculated-body-size-h5,
	$calculated-body-size-h6
);

//list
	$calculated-body-list-offset: $body-list-offset;
	@if internal-is-convertable($body-list-offset){
		$calculated-body-list-offset: em($body-list-offset / $body-font-size)
	}


	$calculated-body-list-offset-inline: $body-list-offset-inline;
	@if internal-is-convertable($body-list-offset-inline){
		$calculated-body-list-offset-inline: em($body-list-offset-inline / $body-font-size)
	}


	$calculated-body-list-bullet-size: $body-list-bullet-size;
	@if internal-is-convertable($body-list-bullet-size){
		$calculated-body-list-bullet-size: em($body-list-bullet-size / $body-font-size)
	}

	$calculated-body-list-margin-right: calc(#{$body-list-offset} - #{$body-list-bullet-size});
	@if internal-is-convertable($body-list-bullet-size) and internal-is-convertable($body-list-offset){
		$calculated-body-list-margin-right: em( ($body-list-offset - $body-list-bullet-size) / $body-font-size);
	}

	$calculated-body-list-top: calc((#{$body-line-height} - #{$body-list-bullet-size} ) * .5);
	@if internal-is-convertable($body-list-bullet-size) and internal-is-convertable($body-list-offset)  and internal-is-convertable($body-line-height) {
		$calculated-body-list-top: em((($body-line-height - $body-list-bullet-size ) * .5) / $body-font-size);
	}

//blockquote
	$calculated-body-blockquote-font-size: $body-blockquote-font-size;
	@if internal-is-convertable($body-blockquote-font-size) {
		$calculated-body-blockquote-font-size: em($body-blockquote-font-size / $body-font-size)
	}

	$calculated-body-blockquote-line-height: type-lead( $body-blockquote-font-size,$body-blockquote-line-height );

	$calculated-body-blockquote-gutter-x: $body-blockquote-gutter-x;
	@if internal-is-convertable($body-blockquote-gutter-x) and internal-is-convertable($body-blockquote-font-size) {
		$calculated-body-blockquote-gutter-x: em($body-blockquote-gutter-x / $body-blockquote-font-size)
	}@else if internal-is-convertable($body-blockquote-gutter-x) {
		$calculated-body-blockquote-gutter-x: em($body-blockquote-gutter-x / $body-font-size)
	}

	$calculated-body-blockquote-margin-y: $body-blockquote-margin-y;
	@if internal-is-convertable($body-blockquote-margin-y) and internal-is-convertable($body-blockquote-font-size) {
		$calculated-body-blockquote-margin-y: em($body-blockquote-margin-y / $body-blockquote-font-size)
	}@else if internal-is-convertable($body-blockquote-margin-y) {
		$calculated-body-blockquote-margin-y: em($body-blockquote-margin-y / $body-font-size)
	}
	$calculated-body-blockquote-padding-y: $body-blockquote-padding-y;
	@if internal-is-convertable($body-blockquote-padding-y) and internal-is-convertable($body-blockquote-font-size) {
		$calculated-body-blockquote-padding-y: em($body-blockquote-padding-y / $body-blockquote-font-size)
	}@else if internal-is-convertable($body-blockquote-padding-y) {
		$calculated-body-blockquote-padding-y: em($body-blockquote-padding-y / $body-font-size)
	}

//pre
	$calculated-body-pre-padding: $body-pre-padding;
	@if internal-is-convertable($body-pre-padding) {
		$calculated-body-pre-padding: em($body-pre-padding / $body-font-size)
	}
	
//cite
	$calculated-body-cite-font-size: $body-cite-font-size;
	@if internal-is-convertable($body-cite-font-size) {
		$calculated-body-cite-font-size: em($body-cite-font-size / $body-font-size);
	}



/* special */
$prefix: '.special';
    #{$prefix} {
		&-primary {
            @include type-set((
                size: $calculated-special-primary-font-size!important,
                leading: $calculated-special-primary-line-height!important,
                color: $special-primary-color!important,
                weight:$special-primary-font-weight!important,
                style: $special-primary-font-style!important,
                case: $special-primary-text-transform!important,
            ));
			margin-bottom: $calculated-special-primary-gutter-y;
			margin-top: $calculated-special-primary-gutter-y;
			display:block;

			@include br(#{$mobile-br-max}-max) {
				font-size: $calculated-special-primary-font-size-mobile!important
			}
		}
		&-secondary {
            @include type-set((
                size: $calculated-special-secondary-font-size!important,
                leading: $calculated-special-secondary-line-height!important,
                color: $special-secondary-color!important,
                weight:$special-secondary-font-weight!important,
                style: $special-secondary-font-style!important,
                case: $special-secondary-text-transform!important,
            ));
			margin-bottom: $calculated-special-secondary-gutter-y;
			margin-top: $calculated-special-secondary-gutter-y;
			display:block;

			@include br(#{$mobile-br-max}-max) {
				font-size: $calculated-special-secondary-font-size-mobile!important;
			}
		}
	}
	

	.lead {
		@include type-set((
			size: $calculated-lead-font-size!important,
			leading: $calculated-lead-line-height!important,
			color: $lead-color!important,
			weight:$lead-font-weight!important,
			style: $lead-font-style!important,
			case: $lead-text-transform!important,
		));
		margin-bottom: $calculated-lead-gutter-y;
		margin-top: $calculated-lead-gutter-y;
		display:block;

		@include br(#{$mobile-br-max}-max) {
			font-size: $calculated-lead-font-size-mobile!important;
		}
	}

/* heading */
	h1,.h1,
	h2,.h2,
	h3,.h3,
	h4,.h4,
	h5,.h5,
	h6,.h6 {
		@include type-set((
			font: $body-heading-font-family,
			color: $body-heading-color,
			leading: $body-heading-line-height,
			weight: $body-font-weight-bold,
			style: $body-heading-font-style,
			case: $body-heading-text-transform,
		));
		display:block;
		margin-bottom: $calculated-body-heading-gutter-bottom;
		margin-top: $calculated-body-heading-gutter-top;

		&:first-child {
			margin-top:0;
		}

		.theme-inverse & {
			color:$body-heading-color-inverse;
		}

		.alert &,
		.theme-inverse .alert & {
			color:inherit;
		}
		
	}


	@for $i from 1 through length($calculated-body-heading-size) {
		h#{$i},.h#{$i} {
			font-size: nth($calculated-body-heading-size,$i);
		}
	}


/* OTHER SHIT */

strong,b{
	// font-family: '';
	font-weight:$body-font-weight-bold;
}
em,i{
	font-style:italic;
}

a {
	color: $body-anchor-color;
	text-decoration: none;
	transition: $transition-duration-base all $transition-timing;

	&:hover {
		color: $body-anchor-color-hover;

	}
}
// margined shit


%for {
	&-p {
		margin-bottom: $calculated-body-text-gutter-y;
	}
}

	p,
	.p,
	ul,
	ol,
	address,
	pre,
	dl,
	hr {
		@extend %for-p;
		display:block;
	}

// li {
// 	&,
// 	ul,
// 	ol,
// 	dl {
// 		@extend %for-micro-p;
// 	}
// }

ol,ul,dd{
	padding-left: $calculated-body-list-offset;
}
ol,ul{

	&.unstyled,
	&.inline {

		&,li {
			padding-left:0;
		}
	}

	&.unstyled,
	&.inline,
	&.style-none {

		li:before {
			content: none!important;
		}
	}

	&.inline {
		li {
			display: inline-block;
			margin: 0 $calculated-body-list-offset-inline;
		}
	}

	li {
		list-style: none;
		position: relative;
		// margin-bottom: em(20px / $content-font-size);
		
		&:before{
			position: absolute;
			right: 100%;

			.alert & {
				color:inherit;
				opacity: .5;
			}
		}
	}

	li & {
		margin-bottom:0;
	}
}

ul{
	&.style-disc li,
	& > li {
		&:before {
			content:"";
			display:inline-block;
			vertical-align: middle;
			line-height: inherit;
			width: $calculated-body-list-bullet-size;
			height: $calculated-body-list-bullet-size;
			color: $body-list-bullet-color;
			background: currentColor;
			margin-right: $calculated-body-list-margin-right;
			position:absolute;
			top: $calculated-body-list-top;
			border-radius: $body-list-bullet-border-radius;
		};
	}

	&.style {
		&-circle {
			li:before {
				background:none!important;
				border: .05em solid $body-list-bullet-color!important;
			}
		}
		&-square {
			li:before {
				border-radius: 0!important;
			}
		}
	}
}

ol {
	counter-reset: fwList;

	& > li {
		counter-increment: fwList;
		// padding-left: em(15px / $content-font-size);

		&:before {
			@include type-set((
				color: $body-list-bullet-color,
				// family: font(a)
			));
			font-weight: 800;
			top: 0;
			margin-right: 1em;
		}
	}
	&.style-decimal li,
	& > li:before {
		content: counter(fwList,decimal)!important;
	}

	&.style {
		&-decimal-leading-zero {
			li:before {
				content: counter(fwList,decimal-leading-zero)!important;
			}
		}
		&-lower-alpha {
			li:before {
				content: counter(fwList,lower-alpha)!important;
			}
		}
		&-lower-roman {
			li:before {
				content: counter(fwList,lower-roman)!important;
			}
		}
		&-upper-alpha {
			li:before {
				content: counter(fwList,upper-alpha)!important;
			}
		}
		&-upper-roman {
			li:before {
				content: counter(fwList,upper-roman)!important;
			}
		}
	}
}

blockquote {
	@include type-set((
		size: $calculated-body-blockquote-font-size,
		leading: $calculated-body-blockquote-line-height,
		weight: $body-blockquote-font-weight,
		style: $body-blockquote-font-style,
		case: $body-blockquote-text-transform
	));

	padding-left: $calculated-body-blockquote-gutter-x;
	
	margin-bottom: $calculated-body-blockquote-margin-y;
	margin-top: $calculated-body-blockquote-margin-y;
	padding-bottom: $calculated-body-blockquote-padding-y;
	padding-top: $calculated-body-blockquote-padding-y;
	border-left: $body-blockquote-border-width solid $brand-color-primary;

	& > * {
		font-size: inherit;
		line-height: inherit;
	}

	p:last-child{
		margin-bottom:0;
	}

	.alert & {
		border-left-color: currentColor;
	}
}

%code-styles {

	@include type-set((
		font: $font-monospace
	));
	word-wrap: break-word;
	white-space: pre-wrap;
	background: $body-mono-background;
}

pre,code,kbd,tt{
	@extend %code-styles;
}


code,kbd,tt {
	padding: $calculated-body-pre-padding * .125;
}

pre {
	padding: $calculated-body-pre-padding;


	*{
		border:0;
		margin:0;
		padding:1em;
	}
}

cite {
	@include type-set((
		size: $calculated-body-cite-font-size,
		weight: $body-cite-font-weight,
		style: $body-cite-font-style
	));

	blockquote & {
		display:block;
		margin-top: $calculated-body-text-gutter-y;
	}
}


/* obscure fucks I can fuck with myself */
q {
	font-style: italic;
}
del,strike {
	text-decoration: line-through;
}

ins {
	text-decoration: underline;
}
sup,sub {
	font-size: .75em;
}
sup {
	vertical-align: top;
}
sub {
	vertical-align: bottom;
}
var {
	font-style:italic;
	font-family: font(a);
}


hr {
	display: block;
	border:0;
	border-top: 1px solid;
	height: 1px;
	opacity: .2;
	width:100%;
	flex: 0 0;
	margin-top: $calculated-body-text-gutter-y;
}

small {
	font-size: $calculated-body-size-small;
}
big {
	font-size: $calculated-body-size-large;
}
