
//VARS
// $debug: true !default;

	//breakpiont
	$br-xs-max: 600px !default;
	$br-sm-max: 1200px !default;
	$br-md-max: 1600px !default;

	//extra breakpoints
	$br-xxs-max: 400px !default;

	$mobile-br-max: 'sm' !default;

	// COLOR SCHEMES
		$brand-color-base: #000000 !default;
			$brand-color-base-alt: lighten($brand-color-base,10) !default;

		$brand-color-background: #FFFFFF !default;
			$brand-color-background-alt: darken($brand-color-background,10) !default;

		$brand-color-neutral: #8d8d8d !default;
			$brand-color-neutral-light:lighten($brand-color-neutral,10) !default;
			$brand-color-neutral-dark: darken($brand-color-neutral,10) !default;
		
		$brand-color-primary: #235789 !default;
			$brand-color-primary-light:lighten($brand-color-primary,10) !default;
			$brand-color-primary-dark: darken($brand-color-primary,10) !default;
		
		$brand-color-accent: #17BEBB !default;
			$brand-color-accent-light: lighten($brand-color-accent,10) !default;
			$brand-color-accent-dark: darken($brand-color-accent,10) !default;

		$brand-color-success: #15b800 !default;
			$brand-color-success-light:lighten($brand-color-success,10) !default;
			$brand-color-success-dark: darken($brand-color-success,10) !default;

		$brand-color-caution: #fd7f03 !default;
			$brand-color-caution-light:lighten($brand-color-caution,10) !default;
			$brand-color-caution-dark: darken($brand-color-caution,10) !default;

		$brand-color-error: #fd0303 !default;
			$brand-color-error-light:lighten($brand-color-error,10) !default;
			$brand-color-error-dark: darken($brand-color-error,10) !default;


		$brand-color-intensity-1: $brand-color-primary !default;
		$brand-color-intensity-5: $brand-color-accent !default;

			$brand-color-intensity-2: mix($brand-color-intensity-1,$brand-color-intensity-5,75%) !default;
			$brand-color-intensity-3: mix($brand-color-intensity-1,$brand-color-intensity-5,50%) !default;
			$brand-color-intensity-4: mix($brand-color-intensity-1,$brand-color-intensity-5,25%) !default;

		$brand-gradient-start: $brand-color-primary !default;
		$brand-gradient-end: $brand-color-accent !default;

	// FONT
		$brand-font-primary: "Roboto",Helvetica,Arial,sans-serif !default;
		$brand-font-accent: "Georgia",Times,serif !default;
		$brand-font-monospace: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace !default;
		
	// GLOBAL html + body coloring..

		$theme-color: $brand-color-base !default;
			$theme-color-inverse: $brand-color-background !default; //.dark mode version of boi

			$theme-color-contrast: $brand-color-base-alt !default;
				$theme-color-contrast-inverse: $brand-color-background-alt !default; //.dark mode version of boi

		$theme-background: $brand-color-background !default;
			$theme-background-inverse: $brand-color-base-alt !default; //.dark mode version of boi

			$theme-background-contrast: $brand-color-background-alt !default;
				$theme-background-contrast-inverse: $brand-color-base !default; //.dark mode version of boi

	// PADDING globals
		$gutter-base: 40px !default;
			$gutter-large: 70px !default;
			$gutter-small: 20px !default;
			$gutter-micro: 10px !default;

	// Border radius globals
		$border-radius-base: 10px !default;
			$border-radius-small: $border-radius-base * .5 !default;
			$border-radius-large: $border-radius-base * 2 !default;
	

	// ANIMATION glbals
		$transition-duration-base: .25s !default;
			$transition-duration-short: .125s !default;
			$transition-duration-long: .5s !default;
		$transition-timing: ease-in-out !default;

	//BOX SHADOW globals
		$box-shadow-base: 0px 5px 15px -8px!default;
			$box-shadow-mild: 0px 2px 20px -5px!default;
			$box-shadow-spicy: 0px 8px 20px -10px!default;
// CONTENT

	// SCAFFOLD typography
		$body-font-family: $brand-font-primary !default;
		$body-font-weight: 400 !default;
			$body-font-weight-bold: 700 !default;
		$body-font-size: 16px !default;
			$body-font-size-small: 14px !default;
			$body-font-size-large: 24px !default;
		$body-line-height: 24px !default;
		$body-text-gutter-y: 30px !default;


		$body-line-height-compact-factor: .875 !default;
		$body-line-height-expanded-factor: 1.5 !default;

//////////////////////////////// THIS SOME ADVANCED SHIT

		$body-heading-gutter-top: 1.5em !default;
		$body-heading-gutter-bottom: .75em !default;
		$body-heading-line-height: calc(1em + 10px) !default;
		$body-heading-font-weight: $body-font-weight-bold !default;
		$body-heading-font-style: inherit !default;
		$body-heading-text-transform: none !default;
		$body-heading-font-family: $brand-font-accent !default;
		$body-heading-color: $theme-color-contrast !default;
			$body-heading-color-inverse: $theme-color-contrast-inverse !default;

		$body-size-h1: 32px !default;
		$body-size-h2: 28px !default;
		$body-size-h3: 24px !default;
		$body-size-h4: 20px !default;
		$body-size-h5: $body-font-size !default;
		$body-size-h6: 12px !default;

		$body-anchor-color: $brand-color-primary !default;
		$body-anchor-color-hover: $brand-color-accent !default;

		$body-list-bullet-size: 6px !default;
		$body-list-bullet-color: $brand-color-primary !default;
		$body-list-bullet-border-radius:50% !default;
		$body-list-offset: 25px !default;
		$body-list-offset-inline: 1em !default;

		$body-blockquote-font-size: inherit !default;
		$body-blockquote-font-weight: 300 !default;
		$body-blockquote-line-height: inherit !default;
		$body-blockquote-text-transform: normal !default;
		$body-blockquote-font-style: normal !default;
		$body-blockquote-color: $brand-color-neutral !default;
		$body-blockquote-gutter-x: $gutter-small !default;
		$body-blockquote-border-width: 4px !default;
		$body-blockquote-border-color: $brand-color-neutral !default;
		$body-blockquote-margin-y: $body-text-gutter-y !default;
		$body-blockquote-padding-y: $body-text-gutter-y * .5 !default;

		$body-cite-font-size: $body-font-size !default;
		$body-cite-font-weight: 300 !default;
		$body-cite-font-style: italic !default;
		$body-cite-gutter-y: 30px !default;

		$body-mono-background: $theme-background-contrast!default;
		$body-mono-background-inverse: $theme-background-contrast-inverse!default;
			$body-pre-padding: $gutter-micro!default;

		$global-disabled-opacity: .5 !default;

		$body-ellipsis-multiple-factor: 2 !default;

	// SVG
		$svg-gradient-color-start: $brand-gradient-start !default;
		$svg-gradient-color-end: $brand-gradient-end !default;


	// TABLE
		$table-cell-height: 70px !default;
			$table-cell-height-large: 105px !default;
			$table-cell-height-small: 50px !default;
		$table-cell-border-color: $theme-background-contrast !default;
			$table-cell-border-color-inverse: $theme-background-contrast-inverse !default;
		$table-cell-border-width: 1px !default;
		$table-cell-gutter-y-compact: 5px !default;
		$table-cell-gutter: 20px !default;

		$table-heading-font-size: 14px !default;
		$table-heading-height: 45px !default;
		$table-heading-font-weight: $body-font-weight-bold !default;
		$table-heading-font-style: normal !default;
		$table-heading-color: $theme-color-contrast !default;
			$table-heading-color-inverse: $theme-color-contrast-inverse !default;
		$table-heading-text-transform: uppercase !default;
		$table-heading-background: $theme-background-contrast !default;
			$table-heading-background-inverse: $theme-background-contrast-inverse !default;
		$table-label-width: 12px !default;
		$table-label-offset: 5px !default;
		$table-label-border-radius: 2px !default;
		$table-row-background-opacity: .2 !default;


// LAYOUT

	// CONTAINERS
		$container-gutter: $gutter-base !default;
			$container-gutter-wide: $gutter-small !default;
			$container-gutter-slim: $gutter-large !default;
			$container-gutter-mobile: $gutter-micro !default;
		$container-max-width: 1600px !default;
			$container-max-width-mobile: 750px !default;

	//GRIDING AND SHIT
		$grid-units: 12 !default;
		$grid-gap: $gutter-base !default;
			$grid-gap-compact: $gutter-small !default;
			$grid-gap-expanded: $gutter-large !default;
	
	// speshal bois
		$special-primary-font-size: 65px !default;
			$special-primary-font-size-mobile: 54px !default;
		$special-primary-font-weight: 300 !default;
		$special-primary-line-height: 1 !default;
		$special-primary-font-style: normal !default;
		$special-primary-color: inherit !default;
		$special-primary-text-transform: none !default;
		$special-primary-gutter-y: $gutter-small !default;

		$special-secondary-font-size: 38px !default;
			$special-secondary-font-size-mobile: 32px !default;
		$special-secondary-font-weight: 300 !default;
		$special-secondary-line-height: 1.25 !default;
		$special-secondary-font-style: normal !default;
		$special-secondary-color: inherit !default;
		$special-secondary-text-transform: none !default;
		$special-secondary-gutter-y: .75em !default;

		$lead-font-size: 24px !default;
			$lead-font-size-mobile: 20px !default;
		$lead-font-weight: 300 !default;
		$lead-line-height: 1.25 !default;
		$lead-font-style: normal !default;
		$lead-color: inherit !default;
		$lead-text-transform: none !default;
		$lead-gutter-y: $gutter-base !default;

// UI ELEMENTS

	// ICONS
		$icon-size: 30px !default;

	// legend
		$legend-width: 30px !default;
		$legend-height: 8px !default;
		$legend-border-radius: 0 !default;

	//symbol 
		$symbol-caret-width: 8px !default;
		$symbol-caret-height: 5px !default;

	// NAV
		$nav-height: 75px !default;
		$nav-gutter-x: $gutter-small !default;
		$nav-drop-shadow: $box-shadow-spicy $theme-background-contrast !default;
			$nav-drop-shadow-inverse: $box-shadow-spicy $theme-background-contrast-inverse !default;
		$nav-background: $theme-background !default;
			$nav-dropdown-background: $nav-background !default;
			$nav-background-inverse: $theme-background-inverse !default;
		$nav-icon-width: $icon-size !default;
		$nav-icon-height: $icon-size !default;
		$nav-current-size: 5px !default;
			$nav-item-height: 35px !default;
		$nav-font-size: $body-font-size !default;
		$nav-line-height: 1.5 !default;
		$nav-color: inherit !default;
			$nav-color-hover: $brand-color-primary !default;
		$nav-font-weight: 400 !default;
		$nav-font-style: normal !default;
		$nav-text-transform: none !default;
		

		$nav-top-font-size: 19px !default;
		$nav-top-font-style: normal !default;
		$nav-top-font-weight: $body-font-weight-bold !default;
		$nav-top-font-color: inherit !default;
		$nav-top-text-transform: none !default;

	//pagination
		$pagination-font-size: 65px !default;
		$pagination-font-weight: 300 !default;
		$pagination-line-height: 1.25 !default;
		$pagination-font-style: normal !default;
		$pagination-color: inherit !default;
		$pagination-text-transform: none !default;
		$pagination-gutter-y: 0 !default;
	
	// MODULE
		$module-background-color: $theme-background !default;
			$module-background-color-inverse: $theme-background-inverse !default;
		$module-border-color: $theme-background-contrast !default;
			$module-border-color-inverse: $theme-background-contrast-inverse !default;
		$module-border-width: 1px !default;
		$module-gutter-x: $gutter-base !default;
			$module-gutter-x-mobile: $gutter-small !default;
		$module-box-shadow-hover: $box-shadow-spicy $brand-color-base !default; 
		
		$module-gutter-y: 40px !default;
		$module-gutter-y: $gutter-small !default;
			$module-gutter-y-mobile: $gutter-small !default;
		
		$module-gutter-between: 20px !default;

		$module-gutter-grid-gap: 15px !default;
		$module-grid-gutter: 30px !default;
		
		$module-border-radius: $border-radius-base !default;

		$module-title-font-size: $body-font-size !default;
		$module-title-font-weight: $body-font-weight-bold !default;
		$module-title-font-style: normal !default;
		$module-title-color: $brand-color-primary !default;
		$module-title-text-transform: none !default;

		$module-grid-title-font-size: 19px !default;
		$module-grid-title-font-weight: $body-font-weight-bold !default;
		$module-grid-title-font-style: normal !default;
		$module-grid-title-color: $brand-color-primary !default;
		$module-grid-title-text-transform: none !default;
		$module-grid-title-rule-height: 1px !default;
		$module-grid-title-rule-color: $brand-color-neutral !default;
			$module-grid-title-rule-inverse: $brand-color-neutral !default;

		$module-grid-title-margin-bottom:1em !default;
		$module-grid-title-margin-top:100px !default;
	
	// modal
		$modal-gutter-x: $gutter-small !default;
		$modal-gutter-y: $gutter-base * .75 !default;
		$modal-background: $theme-background !default;
		$modal-close-offset: $gutter-small !default;
		$modal-background-inverse: $theme-background-inverse !default;
		$modal-border-radius: $border-radius-base !default;
		$modal-box-shadow: $box-shadow-spicy $brand-color-base !default !default;
		$modal-overlay-bg: rgba($brand-color-base,.5) !default;
		$modal-close-button-font-size: 2rem !default;

	// POPPER = DROPDOWN || TOOLTIP
		$popper-gutter-x: $gutter-small !default;
		$popper-gutter-y: $gutter-small !default;
		$popper-border-radius: $border-radius-base !default;
		$popper-box-shadow: $box-shadow-base $brand-color-base !default;
		$popper-arrow-box-shadow: $box-shadow-mild $brand-color-base !default;
		$popper-background: $theme-background !default;
		$popper-background-inverse: $theme-background-inverse !default;

		$dropdown-width: 300px !default;

		$tooltip-max-width: 300px !default;

	// progress
		$progress-height: 20px !default;
		$progress-background-color: transparent !default;
			$progress-background-color-inverse: transparent !default;
		$progress-border-radius: 20px !default;
		$progress-background-stripe-color: rgba($brand-color-base,.2) !default;
			$progress-background-stripe-color-inverse: rgba($brand-color-base,.4) !default;
		$progress-transition-duration: $transition-duration-long * 4 !default;


		$progress-bar-background-color: rgba($brand-color-neutral,.75) !default;


		$progress-title-font-size: 14px !default;
		$progress-title-font-weight: $body-font-weight-bold !default;
		$progress-title-line-height: 20px !default;
		$progress-title-font-style: normal !default;
		$progress-title-color: $brand-color-base-alt !default;
			$progress-title-color-inverse: $brand-color-background-alt !default;
		$progress-title-text-transform: uppercase !default;
		$progress-title-margin-bottom: 10px !default;
		$progress-title-margin-top: 30px !default;
	

	// THUMBNAIL
		$thumbnail-font-size: 65px !default;
			$thumbnail-font-size-small: 18px !default;
		$thumbnail-text-transform: uppercase !default;

		$thumbnail-size: 200px !default;
			$thumbnail-size-small: 45px !default;

		$thumbnail-border-radius: 50% !default;
		$thumbnail-line-height: 1.25 !default;
		$thumbnail-color: $brand-color-background !default;
		$thumbnail-font-weight: $body-font-weight-bold !default;
		$thumbnail-font-style: normal !default;
		
	//list groups
		$list-group-border-color: $theme-background-contrast !default;
			$list-group-border-color-inverse: $theme-background-contrast-inverse !default;
		$list-group-border-width: 1px !default;
		$list-group-height: 50px !default;
		
	// badge
		$badge-size: 25px !default;
		$badge-size-large: 30px !default;
		$badge-size-small: 20px !default;
		$badge-border-color: $theme-background !default;
			$badge-border-color-inverse: $theme-background !default;
		$badge-border-width: 7px !default;
		$badge-box-shadow: $box-shadow-base $brand-color-base !default;

	// legend
		$badge-size: 25px !default;
		$badge-size-large: 30px !default;
		$badge-size-small: 20px !default;
		$badge-border-color: $brand-color-background !default;
		$badge-border-width: 7px !default;
		$badge-box-shadow: $box-shadow-mild $brand-color-base !default;
	
	// tag
		$tag-height: 25px !default;
		$tag-gutter-x: 15px !default;
		$tag-font-size: 13px !default;
		$tag-font-weight: $body-font-weight-bold !default;
		$tag-line-height: 1.25 !default;
		$tag-font-style: normal !default;
		$tag-color: $brand-color-background !default;
		$tag-text-transform: uppercase !default;
		$tag-gutter-x: 20px !default;
		$tag-border-radius: $border-radius-small !default;


	// input

		$input-height: 45px !default;
			$input-height-large: 75px !default;
			$input-height-small: 30px !default;
		$input-height-multiple-factor: 3 !default;
		$input-placeholder-opacity: .5 !default;
		$input-background: $theme-background !default;
			$input-background-inverse: $theme-background-inverse !default;
			// $input-background-disabled: rgba($brand-color-neutral,.2) !default;
			// 	$input-background-disabled-inverse: transparent !default;

		$input-font-size: 16px !default;
			$input-font-size-large: 25px !default;
			$input-font-size-small: 14px !default;

		$input-select-dropdown-color: $brand-color-primary !default;
		
		$input-color: inherit !default;
			$input-color-inverse: inherit !default;
		$input-placeholder-color: rgba($brand-color-base,.5) !default;
			$input-placeholder-color-inverse: rgba($brand-color-background,.5) !default;
		$input-background: none !default;
			$input-background-inverse: none !default;
		$input-line-height: $body-line-height !default;
		$input-font-family: $brand-font-primary !default;
		$input-font-weight: $body-font-weight-bold !default;
		$input-font-style: normal !default;
		$input-text-transform: none !default;
		
		$input-gutter-x: 20px !default;
		$input-border-width: 1px !default;
		$input-border-color: transparent !default;
		$input-border-color-focus: rgba($brand-color-neutral,.2) !default;
		$input-border-radius: $border-radius-base !default;
			$input-border-radius-large: $border-radius-base !default;
			$input-border-radius-small: $border-radius-base !default;
		$input-box-shadow: $box-shadow-base $brand-color-base !default;
		$input-box-shadow-brand-basis: $box-shadow-base !default;
			$input-box-shadow-focus: 0px 0 5px 0px $brand-color-primary !default;
		$input-group-separator-color: rgba($brand-color-base,.1) !default;

		$input-label-gutter: 20px !default;

		$input-label-line-height: 1.25 !default;
		$input-label-font-size: 14px !default;
			$input-label-font-size-large: 20px !default;
			$input-label-font-size-small: 14px !default;
		
		$input-label-color: $brand-color-neutral !default;
			$input-label-color-inverse: inherit !default;
		
			$input-label-font-family: $brand-font-primary !default;
			$input-label-font-weight: $body-font-weight-bold !default;
			$input-label-font-style: normal !default;
			$input-label-text-transform: uppercase !default;
		
			$input-label-horizontal-width: 25% !default;

			$input-info-font-size: .875em !default;
			$input-info-font-weight: 300 !default;
			$input-info-line-height: 1.25 !default;
			$input-info-font-style: italic !default;
			$input-info-color: $brand-color-neutral !default;
			$input-info-text-transform: none !default;
			$input-info-gutter-y: 1em !default;

		//special-form
			$special-form-gutter-x: 35px !default;
			$special-form-gutter-y: 30px !default;
			$special-form-background: $theme-background-contrast !default;
			$special-form-background-inverse: $theme-background-contrast-inverse !default;
			
			$special-form-border-radius: $border-radius-base !default;


		//wysiwyg
			$wysiwyg-modal-max-width: 520px !default;

			$wysiwyg-icon-color: $brand-color-neutral !default;
				$wysiwyg-icon-color-hover: $brand-color-primary !default;
			$wysiwyg-button-pane-height: 40px !default;


		
			$wysiwyg-transition-duration: $transition-duration-short !default;
			$wysiwyg-transition-duration-slow: $transition-duration-base !default;

	// BTN
		$btn-height: 45px !default;
			$btn-height-large: 75px !default;
			$btn-height-small: 30px !default;

		$btn-font-size: 16px !default;
			$btn-font-size-large: 22px !default;
			$btn-font-size-small: 16px !default;
		$btn-line-height: 30px !default;
		$btn-font-family: $brand-font-primary !default;
		$btn-font-weight: $body-font-weight-bold !default;
		$btn-font-style: normal !default;
		$btn-text-transform: capitalize !default;
		$btn-gutter-x: 25px !default;
		$btn-border-width: 1px !default;
		$btn-border-radius: $border-radius-base !default;
			$btn-border-radius-large: $border-radius-large !default;
			$btn-border-radius-small: $border-radius-base !default;
		$btn-box-shadow: $box-shadow-base $brand-color-base !default;
			$btn-box-shadow-hover: $box-shadow-base $brand-color-base !default;
		$btn-group-separator-color: rgba($brand-color-base,.1) !default;
		$btn-transition-duration: $transition-duration-base!default;

		// SCHEMES
			$btn-border-default: transparent !default;
			$btn-background-default: transparent !default;
			$btn-color-default: inherit !default;

				$btn-border-default-hover: transparent !default;
				$btn-background-default-hover: transparent !default;
				$btn-color-default-hover: $brand-color-primary !default;
			
				$btn-border-default-active: transparent !default;
				$btn-background-default-active: $brand-color-primary !default;
				$btn-color-default-active: $brand-color-background !default;

			$btn-border-primary: transparent !default;
			$btn-background-primary: $brand-color-primary !default;
			$btn-color-primary: $brand-color-background !default;

				$btn-border-primary-hover: transparent !default;
				$btn-background-primary-hover: $brand-color-primary-light !default;
				$btn-color-primary-hover: $brand-color-background !default;
				
				$btn-border-primary-active: transparent !default;
				$btn-background-primary-active: $brand-color-primary-dark !default;
				$btn-color-primary-active: $brand-color-background !default;


			$btn-border-accent: transparent !default;
			$btn-background-accent: $brand-color-accent !default;
			$btn-color-accent: $brand-color-background !default;

				$btn-border-accent-hover: transparent !default;
				$btn-background-accent-hover: $brand-color-accent-light !default;
				$btn-color-accent-hover: $brand-color-background !default;
				
				$btn-border-accent-active: transparent !default;
				$btn-background-accent-active: $brand-color-accent-dark !default;
				$btn-color-accent-active: $brand-color-background !default;

			$btn-border-neutral: transparent !default;
			$btn-background-neutral: $brand-color-neutral !default;
			$btn-color-neutral: $brand-color-base !default;

				$btn-border-neutral-hover: transparent !default;
				$btn-background-neutral-hover: $brand-color-neutral-light !default;
				$btn-color-neutral-hover: $brand-color-background !default;
				
				$btn-border-neutral-active: transparent !default;
				$btn-background-neutral-active: $brand-color-neutral-dark !default;
				$btn-color-neutral-active: $brand-color-background !default;

			$btn-border-success: transparent !default;
			$btn-background-success: $brand-color-success !default;
			$btn-color-success: $brand-color-background !default;

				$btn-border-success-hover: transparent !default;
				$btn-background-success-hover: $brand-color-success-light !default;
				$btn-color-success-hover: $brand-color-background !default;
			
				$btn-border-success-active: transparent !default;
				$btn-background-success-active: $brand-color-success-dark !default;
				$btn-color-success-active: $brand-color-background !default;
				
			$btn-border-caution: transparent !default;
			$btn-background-caution: $brand-color-caution !default;
			$btn-color-caution: $brand-color-background !default;
			
				$btn-border-caution-hover: transparent !default;
				$btn-background-caution-hover: $brand-color-caution-light !default;
				$btn-color-caution-hover: $brand-color-background !default;
				
				$btn-border-caution-active: transparent !default;
				$btn-background-caution-active: $brand-color-caution-dark !default;
				$btn-color-caution-active: $brand-color-background !default;

			$btn-border-error: transparent !default;
			$btn-background-error: $brand-color-error !default;
			$btn-color-error: $brand-color-background !default;
				
				$btn-border-error-hover: transparent !default;
				$btn-background-error-hover: $brand-color-error-light !default;
				$btn-color-error-hover: $brand-color-background !default;
				
				$btn-border-error-active: transparent !default;
				$btn-background-error-active: $brand-color-error-dark !default;
				$btn-color-error-active: $brand-color-background !default;

			$btn-border-link: transparent !default;
			$btn-background-link: transparent !default;
			$btn-color-link: $body-anchor-color !default;
				
				$btn-border-link-hover: transparent !default;
				$btn-background-link-hover: transparent !default;
				$btn-color-link-hover: $body-anchor-color-hover !default;
				
				$btn-border-link-active: transparent!default;
				$btn-background-link-active: transparent!default;
				$btn-color-link-active: $body-anchor-color !default;


	

//PLUGIN DEPENDENCIES
	

	$brxs: $br-xs-max;
	$brsm: $br-sm-max;
	$brmd: $br-md-max;
		

	//mixins shithole
		$color-base: $brand-color-base;
			$color-base-alt: $brand-color-base-alt;
		$color-primary: $brand-color-primary;
			$color-primary-alt:$brand-color-primary-dark;
		$color-accent: $brand-color-accent;
			$color-accent-alt: $brand-color-accent-dark;

		$white: $brand-color-background;
			$white-alt: $brand-color-background-alt;
		$gray: $brand-color-neutral;

		$success: $brand-color-success;
		$caution: $brand-color-caution;
		$error: $brand-color-error;

		$font-base: $brand-font-primary;
		$font-monospace: $brand-font-monospace;



	

//ROOT VAR FOR JS

:root {

	//br
		--br-xxs: #{$br-xxs-max};
		--br-xs: #{$br-xs-max};
		--br-sm: #{$br-sm-max};
		--br-md: #{$br-md-max};

		--mobile-br-max: #{$mobile-br-max};

	//colour

		--brand-color-base: #{$brand-color-base};
			--brand-color-base-alt: #{$brand-color-base-alt};

		--brand-color-background: #{$brand-color-background};
			--brand-color-background-alt: #{$brand-color-background-alt};

		--brand-color-neutral: #{$brand-color-neutral};
			// --brand-color-neutral-light: #{$brand-color-neutral-light};
			// --brand-color-neutral-dark: #{$brand-color-neutral-dark};
		
		--brand-color-primary: #{$brand-color-primary};
			// --brand-color-primary-light: #{$brand-color-primary-light};
			// --brand-color-primary-dark: #{$brand-color-primary-dark};
		
		--brand-color-accent: #{$brand-color-accent};
			// --brand-color-accent-light: #{$brand-color-accent-light};
			// --brand-color-accent-dark: #{$brand-color-accent-dark};

		--brand-color-success: #{$brand-color-success};
			// --brand-color-success-light: #{$brand-color-success-light};
			// --brand-color-success-dark: #{$brand-color-success-dark};

		--brand-color-caution: #{$brand-color-caution};
			// --brand-color-caution-light: #{$brand-color-caution-light};
			// --brand-color-caution-dark: #{$brand-color-caution-dark};

		--brand-color-error: #{$brand-color-error};
			// --brand-color-error-light: #{$brand-color-error-light};
			// --brand-color-error-dark: #{$brand-color-error-dark};


		--brand-color-intensity-1: #{$brand-color-intensity-1};
		--brand-color-intensity-2: #{$brand-color-intensity-2};
		--brand-color-intensity-3: #{$brand-color-intensity-3};
		--brand-color-intensity-4: #{$brand-color-intensity-4};
		--brand-color-intensity-5: #{$brand-color-intensity-5};

		--gradient-start: #{$brand-gradient-start};
		--gradient-end: #{$brand-gradient-end};

	// FONT
		--brand-font-primary: #{$brand-font-primary};
		--brand-font-accent: #{$brand-font-accent};
		--brand-font-monospace: #{$brand-font-monospace};
		
	// GLOBAL html + body coloring

		--theme-color: #{$theme-color};
		--theme-color-contrast: #{$theme-color-contrast};
		--theme-background: #{$theme-background};
		--theme-background-contrast: #{$theme-background-contrast};
}

.theme-inverse {
	--theme-color: #{$theme-color-inverse};
	--theme-color-contrast: #{$theme-color-contrast-inverse};
	--theme-background: #{$theme-background-inverse};
	--theme-background-contrast: #{$theme-background-contrast-inverse};

}