
/*** IMAGES ***/



/* LAZYLOAD */

$prefix: '.lazy';
#{$prefix},
*[data-src],
*[data-srcset] {
	opacity: 1;
	transition: $transition-duration-base opacity $transition-timing;
	html:not(.lazy-completed) & {
		opacity: 0;
	}
}






/* FIT IMAGE */	

	/* emulate background cover on image tags */
	%for-fit-image {
		&-img {
			position:absolute!important;
			width: 100%!important;
			height: 100%!important;
			max-width:none!important;
			top:-50%!important;
			left:-50%!important;
			right:-50%!important;
			bottom:-50%!important;
			margin:auto!important;
			
		}

		&-contain {
			&-img {
				@extend %for-fit-image-img;
				object-fit: contain!important;
			}

			img {
				@extend %for-fit-image-contain-img;
			}
		}

		&-cover {
			&-img {
				@extend %for-fit-image-img;
				object-fit: cover!important;
			}

			img {
				@extend %for-fit-image-cover-img;
			}
		}
	}
	
	.fit-image {
		&-cover {
			position: relative;
			@extend %for-fit-image-cover;
		}
		&-contain {
			position: relative;
			@extend %for-fit-image-contain;
		}
}

